Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

chore: adapt secret name
  .github/workflows/publish.yml
Labels: none

docs: less detail in Hello World
  docs/README.md
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

docs: Release notes projection 1.6.2
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: wrapping passphrase
  .github/publish-maven.sh
Labels: none

chore: wrapping passphrase (take2)
  .github/publish-maven.sh
  .github/workflows/publish.yml
Labels: none

chore: escaping with CDATA
  .github/publish-maven.sh
  .github/workflows/publish.yml
Labels: none

docs: missing patch version redirect for insights docs
  docs/src-static/.htaccess
Labels: documentation

move to its own akka insights section
  docs/src-static/.htaccess
Labels: documentation

review feedback
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
Labels: java-sdk, documentation

feat: Http endpoint base class with request context access
  akka-javasdk-tests/src/test/java/akkajavasdk/components/jwt/HelloJwtEndpoint.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/jwt/MissingJwtEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/HttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/http/AbstractHttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtAction.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
Labels: java-sdk, documentation

post rebase fixes
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

formatting...
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
Labels: java-sdk

commandIds size limit
  samples/transfer-workflow-compensation/src/it/java/com/example/wallet/domain/WalletTest.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
Labels: documentation

fix: entityId should be propagated to command context in ES testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/Increased.java
Labels: java-sdk

chore: sed syntax in CLI version workflow
  .github/workflows/docs-cli-updates.yml
Labels: none

chore: remove static methods from the quickstart domain model
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
Labels: documentation

chore: syntax in CLI version workflow
  .github/workflows/docs-cli-updates.yml
Labels: none

chore: syntax in CLI version workflow
  .github/workflows/docs-cli-updates.yml
Labels: none

chore: syntax in CLI version workflow
  .github/workflows/docs-cli-updates.yml
Labels: none

chore: syntax in CLI version workflow
  .github/workflows/docs-cli-updates.yml
Labels: none

docs: automatically publish docs-current
  .github/workflows/docs-prod.yml
Labels: none

snapshot runtime version
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

chore: SDK implementation of SpiEventSourcedEntity
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
Labels: java-sdk

chore: update GH bot name
  .github/workflows/update-sdk-version.yml
Labels: none

descriptor
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  samples/shopping-cart-quickstart/pom.xml
Labels: java-sdk, documentation

setState
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-quickstart/src/main/resources/include-dev-loggers.xml
Labels: java-sdk, documentation

error code
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
Labels: java-sdk

docs: make Antora errors stop the build; fix most warnings
  Makefile
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/traces.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/view-logs.adoc
  docs/src/modules/operations/pages/organizations/manage-users.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
Labels: documentation

isDeleted
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
Labels: java-sdk

chore: pass runtime version as arg
  updateRuntimeVersions.sh
Labels: none

chore: updating SDK for work with embedded TimedAction
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/testkit/TestProtocol.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/replicatedentity/ReplicatedEntityMessages.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/replicatedentity/TestReplicatedEntityProtocol.scala
Labels: java-sdk

chore: Workflow SPI impl
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/TestProtocol.scala
  project/Dependencies.scala
  samples/transfer-workflow/pom.xml
Labels: java-sdk, documentation

Apply suggestions from code review
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-quickstart/src/main/resources/include-dev-loggers.xml
Labels: java-sdk, documentation

ignoring deprecation
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

runtime versions
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  publishLocally.sh
Labels: java-sdk

chore: Snapshots and StateSerializer type
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Update change date for 3.0.1
  LICENSE
Labels: none

chore: Update sdk version 3.0.1
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

docs: Update release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: Snapshots and StateSerializer type
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
Labels: java-sdk
