Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

feat: agent tracing (#546)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/AgentComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  project/Dependencies.scala
Labels: java-sdk

docs: add language game to getting started guide
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/HelloWorldAgent.java
Labels: java-sdk, documentation

new docs
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
Labels: documentation

docs: platform-specific OpenAI API key commands
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  docs/src/modules/ROOT/partials/openai-api-key-env-vars.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  samples/multi-agent/README.md
Labels: java-sdk, documentation

docs: link to concepts video in AI RAG agent flows
  docs/src/modules/ROOT/partials/recommend-ai-video.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
Labels: documentation

fix(docs): duplicate release notes heading (#565)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

feat: standalone tool support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/AgentComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  project/Dependencies.scala
Labels: java-sdk

docs: link to concepts video in AI RAG agent flows (#570)
  docs/src/modules/ROOT/partials/recommend-ai-video.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
Labels: documentation

docs: platform-specific OpenAI API key commands (#569)
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  docs/src/modules/ROOT/partials/openai-api-key-env-vars.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  samples/multi-agent/README.md
Labels: java-sdk, documentation

Spelling and link syntax
  docs/src/modules/concepts/pages/ai-agents.adoc
Labels: documentation

feat: standalone tool support - take 1 (#568)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/AgentComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  project/Dependencies.scala
Labels: java-sdk

use Instant instead of long for timestamps
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

add session memory to the logs
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

more places to update
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
Labels: documentation

some more
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: documentation

chore: use Instant and remove orphans messages from memory (#564)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

feat: standalone tool support - take 2
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

tools method with either array or list
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

allowNonPublic only is enough
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

feat: standalone tool support - take 2 (#571)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

docs: agent icon
  docs/src/modules/ROOT/images/agent.png
Labels: documentation

agent icon
  docs/src/modules/ROOT/images/agent.png
Labels: documentation

docs: make model providers two tables
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: make model providers two tables (#574)
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: agent icon (#572)
  docs/src/modules/ROOT/images/agent.png
Labels: documentation

Update docs/src/modules/concepts/pages/ai-agents.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
Labels: documentation

chore: remove unused totalTokenUsage from SessionMemory
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

feat: declare tools using its class type
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

docs: understanding pages
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/distributed-systems.adoc
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/ai-agents.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
Labels: documentation

minor tweaks
  docs/src/modules/concepts/pages/ai-agents.adoc
Labels: documentation

add AI agents to concepts tile on homepage
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

Adds an agent concept to the list of concepts in the docs (#567)
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
Labels: documentation

improved message when failing to instantiate
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

docs: samples page design
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/rag.adoc
Labels: documentation

accept agentic
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

add test for failed instantiation
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

chore: remove unused totalTokenUsage from SessionMemory (#577)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

docs: samples page design (#578)
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/rag.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: foundational agentic AI systems concepts
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation
