Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

runtime snap
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

convert ask-akka-agent
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AkkaStreamUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/SessionEntity.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StreamedResponse.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/domain/SessionEvent.java
Labels: documentation

separate encode, needed for the streaming partials
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/pom.xml
Labels: java-sdk, documentation

runtime snap
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

fix issues
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  samples/ask-akka-agent/pom.xml
Labels: java-sdk, documentation

integration test
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  project/Dependencies.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: java-sdk, documentation

bump: Akka core 2.10.6
  project/Dependencies.scala
Labels: none

feat: Response as token stream (#472)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewCallValidator.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AkkaStreamUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/SessionEntity.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StreamedResponse.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/domain/SessionEvent.java
Labels: java-sdk, documentation

docs: overhaul landing page for agentic AI
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

some more work on JSON RPC with added test coverage
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

spec actually says to put the jsonrpc string in _every_ request and response :/
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

correct batch responses, notifications don't have a response
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

initial handling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpcEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

WIP MCP protocol representation
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

Resource listing, resource template listing and resource fetching working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  samples/key-value-customer-registry/src/main/resources/static-resources/index.html
Labels: java-sdk, documentation

mcp spec compiling
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

customized serializers working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

some progress
  akka-javasdk/src/main/scala/akka/http/scaladsl/SseTrickery.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

more work on hooking up mcp servers
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

started on example endpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: documentation

drop A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

init and list resources working
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

Started playing around with A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

started on more serious ser/deser of the json rpc envelopes
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

wrong path in one place in annotation processor
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
Labels: java-sdk

missing id in response error _must_ be null
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

API for manual schema
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

started on user API
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
Labels: java-sdk

initial tool calling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

reachable from the outside (acl and right return type)
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

Basic resource list/fetch and tool list and call working from inspector
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
Labels: java-sdk, documentation

updated example mcp enpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: documentation

initial docs, tool annotations, work on reflective input schema
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpEndpointDescriptorFactorySpec.scala
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/mcp-endpoints.adoc
Labels: java-sdk, documentation

ping RPC method
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

reflectively generated input schema for tools
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpToolParameterDescription.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

Protocol handling moved to runtime (not compiling because of runtime version)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  project/Dependencies.scala
  samples/doc-snippets/pom.xml
Labels: java-sdk, documentation

docs: fix comment typo
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
Labels: java-sdk

feat(agent): limit memory by byte size instead of number of msgs
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

javafmt
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
Labels: java-sdk

feat: AgentRegistry to support planning
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
