Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

docs: chore updates to ask akka sample (#591)
  samples/ask-akka-agent/README.md
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/ask-akka-agent/src/main/resources/.env.example
Labels: documentation

chore: Trigger compaction based on size (#587)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

review feedback, making a bit of space for evolving the interceptor
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

some more and formatting
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
Labels: java-sdk

feat: Remote MCP server tools
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
Labels: java-sdk

formatting
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
Labels: java-sdk

Review feedback
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
Labels: java-sdk

formatting ...
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
Labels: java-sdk

rebase fixes
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs section
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/RemoteMcpWeatherAgent.java
Labels: documentation

added missing period
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

missing e
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

dash
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feat: allow annotations on interface methods (#589)
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherServiceImpl.java
Labels: java-sdk, documentation

fix: enforce tool name uniqueness
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

call it resolvedName
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

improve some comments
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

update UI bundle version from 002 to 003 in antora playbooks
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-003-bundle.zip
Labels: documentation

fixed integration tests
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
Labels: none

remove the new to pass allowNonPublic
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

simplified methods
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

add validation against name clashes
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

Update Makefile
  Makefile
Labels: none

Update docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Update docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

new paragraphs
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

composability
  docs/src/modules/concepts/images/component-composition.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

design goals
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Add image
  docs/src/modules/concepts/images/akka-agentic-platform.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Where to start table
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Adds notification banner to docs globally
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-004-bundle.zip
  docs/supplemental_ui/layouts/notification.hbs
  docs/supplemental_ui/partials/notification-banner.hbs
Labels: documentation

docs(concepts): add platform introduction visuals
  docs/src/modules/concepts/images/akka-agentic-platform.png
  docs/src/modules/concepts/images/component-composition.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

fix: enforce tool name uniqueness (#592)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

docs(concepts): add platform introduction visuals (#596)
  docs/src/modules/concepts/images/akka-agentic-platform.png
  docs/src/modules/concepts/images/component-composition.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

feat: Support for Hugging Face models
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Add doc link for AK-020 agent error codes
  akka-javasdk/src/main/scala/akka/javasdk/impl/DocLinks.scala
Labels: java-sdk

chore: Source files can be removed in samples
  .github/workflows/pr-akka-samples.yml
Labels: none

chore: Add doc link for AK-020 agent error codes (#599)
  akka-javasdk/src/main/scala/akka/javasdk/impl/DocLinks.scala
Labels: java-sdk

chore: simplified planning for single agent run
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
Labels: documentation

fail earlier when no agents are selected
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
Labels: documentation
