Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

chore: bump copyright year
  project/Common.scala
Labels: none

Remove duplicate entry
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

chore: Add Akka code init directory (#684)
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

docs: Getting started index
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

remove part numbering
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
Labels: documentation

docs: Getting started index (#688)
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs(concepts): clarify component interoperability
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(concepts): merge video into AI agents page
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/ROOT/partials/recommend-ai-video.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
  docs/src/modules/concepts/pages/ai-concepts-video.adoc
Labels: documentation

docs: Corrections of getting started guide
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/Preferences.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEntity.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEvent.java
  samples/doc-snippets/src/main/java/agent_guide/part3/WeatherAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityView.java
  samples/doc-snippets/src/test/java/agent_guide/part3/WeatherAgentIntegrationTest.java
  samples/helloworld-agent/.gitignore
  samples/multi-agent/.gitignore
  samples/multi-agent/README.md
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PlannerAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PreferencesEntity.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SelectorAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SummarizerAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/package-info.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/Plan.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/PlanStep.java
Labels: documentation

docs(concepts): revise layered model for services
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

docs: Update coding guidelines
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

bump: Akka Runtime to 1.5.2
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

feat: handling model and tool exceptions
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/InternalServerException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelTimeoutException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RateLimitException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallExecutionException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallLimitReachedException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UnsupportedFeatureException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

adapted javadocs
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/InternalFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/JsonParsingException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/OutputParsingFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RateLimitFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/TimeoutFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallExecutionFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallLimitReachedFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UnsupportedFeatureFailureException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs: Corrections of getting started guide (#691)
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/Preferences.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEntity.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEvent.java
  samples/doc-snippets/src/main/java/agent_guide/part3/WeatherAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityView.java
  samples/doc-snippets/src/test/java/agent_guide/part3/WeatherAgentIntegrationTest.java
  samples/helloworld-agent/.gitignore
  samples/multi-agent/.gitignore
  samples/multi-agent/README.md
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PlannerAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PreferencesEntity.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SelectorAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SummarizerAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/package-info.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/Plan.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/PlanStep.java
Labels: documentation

formatting
  akka-javasdk/src/main/java/akka/javasdk/agent/InternalFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/OutputParsingFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RateLimitFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/TimeoutFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallExecutionFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallLimitReachedFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UnsupportedFeatureFailureException.java
Labels: java-sdk

docs(concepts): merge video into AI agents page (#690)
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/ROOT/partials/recommend-ai-video.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
  docs/src/modules/concepts/pages/ai-concepts-video.adoc
Labels: documentation

expand docs to cover new exception handling
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentMore.java
Labels: documentation

remove garbage
  akka-javasdk/src/main/java/akka/javasdk/agent/InternalFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/OutputParsingFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RateLimitFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/TimeoutFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallExecutionFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallLimitReachedFailureException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UnsupportedFeatureFailureException.java
Labels: java-sdk

chore: Test coverage for component creation being on virtual thread (#683)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/TestEndpoint.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
Labels: none

fix snippet import
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

chore: Shallow clone of helloworld
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

chore: Style refactoring of choreography-saga
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UserEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/domain/UniqueEmail.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/domain/User.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserEntityTest.java
Labels: documentation

vale
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

Update to the akka code init directory json
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

chore: Add akka-context in .gitignore
  .gitignore
  samples/choreography-saga-quickstart/.gitignore
  samples/doc-snippets/.gitignore
  samples/endpoint-jwt/.gitignore
  samples/event-sourced-counter-brokers/.gitignore
  samples/event-sourced-customer-registry-subscriber/.gitignore
  samples/event-sourced-customer-registry/.gitignore
  samples/helloworld-agent/.gitignore
  samples/key-value-counter/.gitignore
  samples/key-value-customer-registry/.gitignore
  samples/key-value-shopping-cart/.gitignore
  samples/multi-agent/.gitignore
  samples/reliable-timers/.gitignore
  samples/shopping-cart-quickstart/.gitignore
  samples/shopping-cart-with-view/.gitignore
  samples/spring-dependency-injection/.gitignore
  samples/tracing/.gitignore
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow/.gitignore
  samples/view-store/.gitignore
Labels: documentation

chore: Shallow clone of helloworld (#696)
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

mention the RuntimeException case
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentMore.java
Labels: documentation

chore: Add akka-context in .gitignore (#699)
  .gitignore
  samples/choreography-saga-quickstart/.gitignore
  samples/doc-snippets/.gitignore
  samples/endpoint-jwt/.gitignore
  samples/event-sourced-counter-brokers/.gitignore
  samples/event-sourced-customer-registry-subscriber/.gitignore
  samples/event-sourced-customer-registry/.gitignore
  samples/helloworld-agent/.gitignore
  samples/key-value-counter/.gitignore
  samples/key-value-customer-registry/.gitignore
  samples/key-value-shopping-cart/.gitignore
  samples/multi-agent/.gitignore
  samples/reliable-timers/.gitignore
  samples/shopping-cart-quickstart/.gitignore
  samples/shopping-cart-with-view/.gitignore
  samples/spring-dependency-injection/.gitignore
  samples/tracing/.gitignore
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow/.gitignore
  samples/view-store/.gitignore
Labels: documentation

chore: Style refactoring of choreography-saga (#697)
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UserEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/domain/UniqueEmail.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/domain/User.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserEntityTest.java
Labels: documentation

change order, and a few adjustments
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

chore: Update to the akka code init directory json (#698)
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

clarify root path
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

AI instruction
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

chore: Minor fixes in getting started
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SummarizerAgent.java
Labels: documentation

vale
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

minor formatting and comments change
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

Update cross-references to architecture model page
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/components/index.adoc
  docs/src/modules/java/pages/dev-best-practices.adoc
Labels: documentation

chore: Minor fixes in getting started (#700)
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SummarizerAgent.java
Labels: documentation

Update docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
