Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Regions top-level in Operating
  docs/src/modules/java/partials/mutli-region-replication.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
Labels: documentation

docs: link to Akka HTTP config in CVE
  docs/src/modules/reference/pages/security-announcements/akka-http-cve-2021-42697.adoc
Labels: documentation

chore: Fetch git history for finding tag
  .github/workflows/docs-wip.yml
Labels: none

docs: Run local console
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

chore: Update versions to 3.0.0-M10
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

chore(docs): open external links in new tabs
  docs/src/modules/ROOT/partials/cloud-dev-prerequisites.adoc
  docs/src/modules/ROOT/partials/local-dev-prerequisites.adoc
Labels: documentation

Changes for wording and layout of regions and best practices
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/operator-best-practices.adoc
  docs/src/modules/operations/pages/organizations/billing.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(samples): clarify Shopping Cart endpoint
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

docs: Workflows in Regionalization precautions
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/operations/pages/operator-best-practices.adoc
Labels: documentation

chore: key-value-entity config rename
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
Labels: java-sdk

docs: More external links in new tab
  docs/src/modules/akka-cli/pages/installation.adoc
  docs/src/modules/akka-cli/pages/using-cli.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/dev-best-practices.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/streaming.adoc
  docs/src/modules/operations/pages/integrating-cicd/github-actions.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/index.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/metrics.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/organizations/regions.adoc
  docs/src/modules/operations/pages/projects/broker-aiven.adoc
  docs/src/modules/operations/pages/projects/broker-aws-msk.adoc
  docs/src/modules/operations/pages/projects/broker-confluent.adoc
  docs/src/modules/operations/pages/projects/broker-google-pubsub.adoc
  docs/src/modules/operations/pages/projects/message-brokers.adoc
  docs/src/modules/operations/pages/services/index.adoc
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/samples/pages/index.adoc
  docs/src/modules/security/pages/index.adoc
  docs/src/modules/security/pages/tls-certificates.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

docs: adding text to avoid 'xref:...'
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/operations/pages/projects/message-brokers.adoc
Labels: documentation

docs: changing ref from Kalix to Akka
  docs/src/modules/operations/images/confluent-api-key-details.png
Labels: documentation

chore: Updated release notes for CLI 3.0.2
  Makefile
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: Deploy instructions
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/samples/partials/package-and-deploy.adoc
  samples/choreography-saga-quickstart/README.md
  samples/endpoint-jwt/README.md
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry/README.md
  samples/key-value-counter/README.md
  samples/key-value-customer-registry/README.md
  samples/key-value-shopping-cart/README.md
  samples/reliable-timers/README.md
  samples/shopping-cart-quickstart/README.md
  samples/spring-dependency-injection/README.md
  samples/tracing/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
  samples/view-store/README.md
Labels: java-sdk, documentation

chore: Remove Akka maven repository from samples
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  project/Common.scala
  project/plugins.sbt
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

docs: Mention ACLs in endpoint page
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
Labels: documentation

docs: drop the old theme zip
  docs/supplemental_ui/bundle/archive/kalix-theme-ui-001-bundle.zip
Labels: documentation

bump: Runtime 1.1.50
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  project/Dependencies.scala
Labels: java-sdk, documentation

docs: external service call
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalServiceEndpoint.java
Labels: documentation

fix(docs): support email links and phrasing
  docs/src/modules/security/pages/index.adoc
Labels: documentation

Update to Monospace font to Roboto Mono, turn off ligatures for code element
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
Labels: documentation

docs: small review updates to multi-region docs
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

docs: Endpoint to HTTP Endpoints
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/index.adoc
Labels: documentation

fix: publishing sample image
  .github/workflows/publish-sample-images.yml
Labels: none

docs(samples): add Shopping Cart details
  docs/src/modules/java/images/local-console-1.png
  docs/src/modules/java/pages/build-your-first-application.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
Labels: documentation

samples: Adjust deploy instructions in READMEs
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  docs/src/modules/java/pages/build-your-first-application.adoc
  samples/choreography-saga-quickstart/README.md
  samples/endpoint-jwt/README.md
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry/README.md
  samples/key-value-counter/README.md
  samples/key-value-customer-registry/README.md
  samples/key-value-shopping-cart/README.md
  samples/reliable-timers/README.md
  samples/shopping-cart-quickstart/README.md
  samples/spring-dependency-injection/README.md
  samples/tracing/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
  samples/view-store/README.md
Labels: java-sdk, documentation

chore: double // in doc links
  akka-javasdk/src/main/scala/akka/javasdk/impl/DocLinks.scala
Labels: java-sdk

docs: CLI docs update workflow
  .github/workflows/docs-cli-updates.yml
  .gitignore
  docs/bin/generate_cli_docs.sh
Labels: documentation

Nav change so Deployment model comes after Architecture
  docs/src/modules/concepts/nav.adoc
Labels: documentation

docs: prioritize ESEs over KVEs in state models
  docs/src/modules/concepts/pages/state-model.adoc
Labels: documentation

docs: Show constructor DI of ComponentClient in workflows.adoc
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

docs(paid-plans): replace Lightbend with Akka
  docs/src/modules/support/pages/paid-plans.adoc
Labels: documentation

docs: static site content
  .github/workflows/docs-static.yml
  docs/bin/ssh-docs-prepare.sh
  docs/src-static/.htaccess
  docs/src-static/install-cli.sh
  docs/src-static/robots.txt
  docs/src-static/sitemap.xml
Labels: documentation

chore: use different port in integration tests
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/resources/reference.conf
Labels: java-sdk

docs(samples): add next steps to Shopping Cart
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

docs: redirects, auto publish static files
  .github/workflows/docs-static.yml
  docs/src-static/.htaccess
Labels: documentation

docs: static file workflow
  .github/workflows/docs-static.yml
Labels: none

chore: add link to Workflow replication section
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

chore: avoid publishing when merging to main
  .github/workflows/publish.yml
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
