Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

chore: Validate no pipe character in component id
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
Labels: java-sdk

docs: publish to root path
  .github/workflows/docs-wip.yml
  docs/antora-playbook-local.yml
  docs/src/antora.yml
Labels: documentation

docs: temporarily remove deploying using service descriptor
  docs/src/modules/operations/pages/deploy-service.adoc
Labels: documentation

docs: introduce libraries landing page
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/libraries/nav.adoc
  docs/src/modules/libraries/pages/index.adoc
  docs/src/modules/reference/nav.adoc
Labels: documentation

docs: create managed files and link to the API docs
  docs/bin/deploy-site.sh
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/api-docs.adoc
Labels: documentation

chore: Updated error codes
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/DocLinks.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DocLinksSpec.scala
Labels: java-sdk

docs: JVM 21 for Javadoc generation
  .github/workflows/docs-wip.yml
Labels: none

chore: unwrap InvocationTargetException
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

fix: use fabric8's buildOptions.platform instead
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

fix: view with common prefix name not picked up
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/MultiView2.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/test/scala/com/example/EntitiesAndViewsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
Labels: java-sdk

chore: slightly more efficient null checks
  akka-javasdk/src/main/scala/akka/javasdk/impl/ApplicationConfig.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowProvider.scala
Labels: java-sdk

chore: ignore sbt ci for docs PRs (2)
  .github/workflows/ci.yml
Labels: none

chore: Fail fast null checks
  akka-javasdk/src/main/java/akka/javasdk/client/NoEntryFoundException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/SecondaryEffectImpl.scala
Labels: java-sdk

docs: better nav and code snippets, update favicon
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/img/favicon/android-chrome-192x192.png
  docs/supplemental_ui/img/favicon/android-chrome-512x512.png
  docs/supplemental_ui/img/favicon/apple-touch-icon.png
  docs/supplemental_ui/img/favicon/favicon-16x16.png
  docs/supplemental_ui/img/favicon/favicon-32x32.png
  docs/supplemental_ui/img/favicon/favicon.ico
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
Labels: documentation

docs: local persistence mode
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  docs/src/modules/java/pages/running-locally.adoc
  samples/choreography-saga-quickstart/.gitignore
  samples/customer-registry-quickstart/.gitignore
  samples/customer-registry-views-quickstart/.gitignore
  samples/event-sourced-counter/.gitignore
  samples/event-sourced-customer-registry-subscriber/.gitignore
  samples/event-sourced-customer-registry/.gitignore
  samples/event-sourced-shopping-cart/.gitignore
  samples/key-value-counter/.gitignore
  samples/key-value-customer-registry/.gitignore
  samples/key-value-shopping-cart/.gitignore
  samples/reliable-timers/.gitignore
  samples/shopping-cart-quickstart/.gitignore
  samples/spring-dependency-injection/.gitignore
  samples/tracing/.gitignore
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow/.gitignore
  samples/view-store/.gitignore
Labels: java-sdk, documentation

Revert "fix: change format for logMessage mkString"
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
Labels: java-sdk

doc: typo 'real only'
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

chore: Error message if missing components descriptor
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

chore: Key value view quickstart improvement
  samples/customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/customer-registry-views-quickstart/src/main/java/customer/application/CustomersByEmailView.java
Labels: documentation

build: Publish selected sample images to kalix-public for console one-click-deploy
  .github/workflows/publish-sample-images.yml
Labels: none

docs: Drop duplicate shopping cart sample
  .github/workflows/ci.yml
  Makefile
  docs/src/modules/ROOT/attachments/quickstart.json
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  samples/event-sourced-shopping-cart/.bundleignore
  samples/event-sourced-shopping-cart/.gitignore
  samples/event-sourced-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/event-sourced-shopping-cart/LICENSE
  samples/event-sourced-shopping-cart/README.md
  samples/event-sourced-shopping-cart/pom.xml
  samples/event-sourced-shopping-cart/src/main/java/com/example/shoppingcart/api/ShoppingCartEndpoint.java
  samples/event-sourced-shopping-cart/src/main/java/com/example/shoppingcart/application/ShoppingCartEntity.java
  samples/event-sourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/event-sourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCartEvent.java
  samples/event-sourced-shopping-cart/src/main/resources/application.conf
  samples/event-sourced-shopping-cart/src/main/resources/include-dev-loggers.xml
  samples/event-sourced-shopping-cart/src/main/resources/include-loggers.xml
  samples/shopping-cart-quickstart/src/it/java/shoppingcart/IntegrationTest.java
  samples/shopping-cart-quickstart/src/it/java/shoppingcart/cart/IntegrationTest.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-quickstart/src/main/resources/application.conf
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

docs(endpoints): move low level section down
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

build: More steps needed when publishing image
  .github/workflows/publish-sample-images.yml
Labels: none

docs: release notes
  Makefile
  docs/bin/generate_cli_docs.sh
  docs/src/antora.yml
  docs/src/modules/reference/pages/index.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/index.adoc
  docs/src/modules/support/pages/slack.adoc
Labels: documentation

chore: minor naming cleanup
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ReflectiveViewRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/workflow/WorkflowMessages.scala
Labels: java-sdk

docs(libraries): update landing page overview
  docs/src/modules/libraries/pages/index.adoc
Labels: documentation

docs: onion diagram
  docs/src/modules/concepts/images/docs-onion_architecture-v1.min.svg
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

doc: simplify timer sample
  docs/src/modules/java/pages/timed-actions.adoc
  samples/reliable-timers/src/it/java/com/example/OrderEndpointIntegrationTest.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/reliable-timers/src/main/java/com/example/application/OrderTimedAction.java
Labels: documentation

docs: simplify attribute includes; bump min versions
  Makefile
  docs/.gitignore
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/operations/pages/secrets.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/samples/pages/cr-value-entity-java.adoc
  docs/src/modules/samples/pages/cr-value-entity-views-java.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  docs/src/modules/samples/partials/before-you-begin.adoc
Labels: documentation

docs: fix cross references
  docs/src/modules/akka-cli/pages/using-cli.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/operations/pages/broker-aiven.adoc
  docs/src/modules/operations/pages/broker-aws-msk.adoc
  docs/src/modules/operations/pages/broker-confluent.adoc
  docs/src/modules/operations/pages/broker-google-pubsub.adoc
  docs/src/modules/operations/partials/broker-kafka-setup-common.adoc
  docs/src/modules/reference/pages/glossary.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  docs/src/modules/security/pages/jwts.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

docs: Incorporating Tyler's Feedback
  docs/README.md
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/control-tower.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/operations/nav.adoc
Labels: documentation

docs: no id in API request payloads
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/views.adoc
  samples/customer-registry-quickstart/README.md
  samples/customer-registry-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/customer-registry-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/customer-registry-quickstart/src/main/java/customer/domain/Customer.java
  samples/customer-registry-quickstart/src/test/java/customer/application/CustomerEntityTest.java
  samples/customer-registry-views-quickstart/README.md
  samples/customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
  samples/customer-registry-views-quickstart/src/main/java/customer/domain/Customer.java
  samples/customer-registry-views-quickstart/src/test/java/customer/application/CustomerEntityTest.java
  samples/event-sourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/event-sourced-customer-registry/README.md
  samples/event-sourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-customer-registry/README.md
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: documentation

docs: remove references to View not used in sample
  samples/customer-registry-quickstart/README.md
Labels: documentation

fix: typo
  samples/event-sourced-counter/README.md
Labels: documentation

docs: typo in Event Producer example description
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

docs: list dependency injection page
  docs/src/modules/java/nav.adoc
Labels: documentation

docs: minors and CLI references
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/operations/attachments/data_management_schema.proto
  docs/src/modules/operations/pages/billing.adoc
  docs/src/modules/operations/pages/broker-aiven.adoc
  docs/src/modules/operations/pages/broker-aws-msk.adoc
  docs/src/modules/operations/pages/broker-confluent.adoc
  docs/src/modules/operations/pages/broker-google-pubsub.adoc
  docs/src/modules/operations/pages/container-registries.adoc
  docs/src/modules/operations/pages/controltower-metrics.adoc
  docs/src/modules/operations/pages/create-project.adoc
  docs/src/modules/operations/pages/data-management.adoc
  docs/src/modules/operations/pages/external-container-registries.adoc
  docs/src/modules/operations/pages/invoke-service.adoc
  docs/src/modules/operations/pages/manage-project-access.adoc
  docs/src/modules/operations/pages/manage-users.adoc
  docs/src/modules/operations/pages/message-brokers.adoc
  docs/src/modules/operations/pages/observability-exports.adoc
  docs/src/modules/operations/pages/regions.adoc
  docs/src/modules/operations/pages/secrets.adoc
  docs/src/modules/operations/pages/view-data.adoc
  docs/src/modules/operations/pages/view-logs.adoc
  docs/src/modules/reference/pages/akka-cli/cli-index-header.template.txt
Labels: documentation

docs: deploy with service descriptor
  docs/src/modules/operations/pages/deploy-service.adoc
Labels: documentation

docs: fetch tags / publish docs on merge
  .github/workflows/docs-wip.yml
Labels: none

docs: getting-started counter
  docs/src/modules/java/pages/getting-started.adoc
  samples/key-value-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/key-value-counter/src/main/java/com/example/domain/Counter.java
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
