Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

working with latest runtime and session id
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AiMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Message.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MessageContent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UserMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs: AI coding assistant instructions
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

fixing implementation for table updaters
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
Labels: java-sdk

zip markdown
  docs/bin/docs2markdown.sh
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

include in nav
  docs/src/modules/java/nav.adoc
Labels: documentation

Vale fixes
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

Vale fixes fix
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

MD vs AD
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

refactor memory types and introduce public interface for ConversationHistory
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AiMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MessageContent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UserMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/ConversationHistoryImpl.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

reverting reply rename
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

mocked AI
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

structure reponse mapping test
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
Labels: none

moving try
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

exception matching
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/JsonParsingException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

Protocol handling moved to runtime (not compiling because of runtime version)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  project/Dependencies.scala
  samples/doc-snippets/pom.xml
Labels: java-sdk, documentation

make the API a bit more concise and more use of records
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AiMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UserMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/ConversationHistoryImpl.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

java fmt and revert unwarranted changed
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: java-sdk, documentation

improving API
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/BaseAgentEffectBuilder.scala
Labels: java-sdk

api improvemnts
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: java-sdk, documentation

improved impl
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
Labels: none

documenting exception
  akka-javasdk/src/main/java/akka/javasdk/agent/JsonParsingException.java
Labels: java-sdk

reverting file rename
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

chore: Update change date for 3.3.2
  LICENSE
Labels: none

docs: Release notes for SDK 3.3.2
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: clarify required role for region assignment
  docs/src/modules/operations/pages/organizations/manage-users.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

bump to latest runtime, remove logs and other
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

remove unwanted import
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: documentation

build: PR version bump in multi-agent
  .github/workflows/pr-akka-samples.yml
Labels: none

feat: add conversation memory (#457)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

feat: Response as token stream
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewCallValidator.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: java-sdk, documentation

runtime snap
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

some docs
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
Labels: java-sdk

improving tests and impl
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
Labels: none

convert ask-akka-agent
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AkkaStreamUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/SessionEntity.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StreamedResponse.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/domain/SessionEvent.java
Labels: documentation

separate encode, needed for the streaming partials
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/pom.xml
Labels: java-sdk, documentation

bumping runtime
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

reverting
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
Labels: java-sdk

feat: mapping response (#469)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/JsonParsingException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  project/Dependencies.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: java-sdk, documentation

docs: open local console link in a new tab
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

feat: Response as token stream
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewCallValidator.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
