Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: fix miss formatting in Using CLI page
  docs/src/modules/reference/pages/cli/using-cli.adoc
Labels: documentation

chore: Update samples to sdk 3.0.0
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

docs: Adding some images from the console
  docs/src/modules/java/images/console-cart-events.png
  docs/src/modules/java/images/console-first-app-service.png
  docs/src/modules/java/images/local-console.png
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/operations/images/console-service-status.png
  docs/src/modules/operations/images/dashboard-control-tower-replication.png
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

chore: TransferWorkflowIntegrationTest better errors than NullPointerException
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow/src/main/java/com/example/wallet/application/WalletEntity.java
Labels: documentation

docs: slight restructure
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/support/nav.adoc
Labels: documentation

docs: CLI release 3.0.5
  Makefile
Labels: none

docs: add Shopping cart to the samples; review READMEs
  docs/src/modules/java/pages/samples.adoc
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/resources/include-dev-loggers.xml
  samples/doc-snippets/src/main/resources/include-loggers.xml
  samples/endpoint-jwt/README.md
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/key-value-counter/README.md
  samples/key-value-shopping-cart/README.md
  samples/shopping-cart-quickstart/README.md
  samples/view-store/README.md
Labels: documentation

fix(docs): links in UI SDK dropdown menu
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-002-bundle.zip
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
Labels: documentation

docs: publishing to prod
  .github/workflows/docs-prod.yml
  docs/antora-playbook-prod.yml
Labels: documentation

chore: descriptive name for Workflow quickstart
  docs/src/modules/ROOT/attachments/quickstart.json
Labels: documentation

docs: add social image, google tag manager and revert to old bundle zip
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/partials/footer-scripts-supplemental.hbs
  docs/supplemental_ui/partials/head-meta.hbs
  docs/supplemental_ui/partials/head-scripts.hbs
Labels: documentation

docs: adapt entity state diagrams
  docs/src/modules/concepts/images/event-source-flow.png
  docs/src/modules/concepts/images/event-source-flow.svg
  docs/src/modules/concepts/images/key-value-flow.png
  docs/src/modules/concepts/images/key-value-flow.svg
  docs/src/modules/concepts/pages/state-model.adoc
Labels: documentation

docs: timers troubleshooting
  docs/src/modules/java/pages/timed-actions.adoc
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/reliable-timers/src/main/java/com/example/application/OrderTimedAction.java
Labels: documentation

chore: Switch to standard mvn plugin props for Java version
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

bump: Runtime 1.2.2
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  project/Dependencies.scala
Labels: java-sdk, documentation

docs: merge sitemaps for libraries and other docs
  docs/src-static/sitemap.xml
Labels: documentation

docs: remove broken static file copying
  Makefile
Labels: none

docs: update SDK page title to match nav menu
  docs/src/modules/java/pages/index.adoc
Labels: documentation

docs: updated diagrams
  docs/src/modules/concepts/images/event-source-flow.png
  docs/src/modules/concepts/images/event-source-flow.svg
  docs/src/modules/concepts/images/event-sourced-entity-flow.svg
  docs/src/modules/concepts/images/geo-a.png
  docs/src/modules/concepts/images/geo-a.svg
  docs/src/modules/concepts/images/geo-b.png
  docs/src/modules/concepts/images/geo-b.svg
  docs/src/modules/concepts/images/geo-c.png
  docs/src/modules/concepts/images/geo-c.svg
  docs/src/modules/concepts/images/geo-d.png
  docs/src/modules/concepts/images/geo-d.svg
  docs/src/modules/concepts/images/key-value-entity-flow.svg
  docs/src/modules/concepts/images/key-value-flow.png
  docs/src/modules/concepts/images/key-value-flow.svg
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/operations/pages/operator-best-practices.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/supplemental_ui/bundle/akka-theme-ui-002-bundle.zip
Labels: documentation

docs: define acronyms on main landing page
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

docs: diagrams with black background
  docs/src/modules/concepts/images/event-sourced-entity-flow.svg
  docs/src/modules/concepts/images/geo-a.svg
  docs/src/modules/concepts/images/geo-b.svg
  docs/src/modules/concepts/images/geo-c.svg
  docs/src/modules/concepts/images/geo-d.svg
  docs/src/modules/concepts/images/key-value-entity-flow.svg
Labels: documentation

fix: CLI installation command for Linux
  docs/src-static/install-cli.sh
Labels: documentation

feat: Improved custom tracing span API
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitCommandContextTimed.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitKeyValueEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitKeyValueEntityContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitTracing.scala
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/SpanTracingImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  samples/tracing/README.md
  samples/tracing/docker-compose.yml
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
Labels: java-sdk, documentation

chore: adapt repo and license
  Makefile
  README.md
Labels: none

scalafmt
  project/Common.scala
Labels: none

docs: Getting started revamp (#665)
  docs/src-static/robots.txt
  docs/src-static/sitemap-libraries.xml
  docs/src-static/sitemap.xml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

chore: adapt repo and license (#1)
  Makefile
  README.md
  project/Common.scala
Labels: none

docs: Getting started revamp (#665) (#2)
  docs/src-static/robots.txt
  docs/src-static/sitemap-libraries.xml
  docs/src-static/sitemap.xml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

chore: adapt secret name
  .github/workflows/docs-prod.yml
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
Labels: none

chore: adapt secret name (#5)
  .github/workflows/docs-prod.yml
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
Labels: none

chore: adapt secret names
  .github/workflows/publish.yml
Labels: none

Drop the tracing context, provide access to parent span if needed, update docs
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitTracing.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/tracing/Batches.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/tracing/Traces.java
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/java/akka/javasdk/TraceContext.java
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/SpanTracingImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/timedaction/TestTracing.java
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/tracing/README.md
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
  samples/tracing/src/main/java/com/example/tracing/application/Typicode.java
Labels: java-sdk, documentation

Formatting
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
  project/Common.scala
Labels: java-sdk

docs: less detail in Hello World
  docs/README.md
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

docs: workflow execution details in console
  docs/src/modules/java/images/workflow-execution.png
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

feat: Improved custom tracing span API
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitCommandContextTimed.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitKeyValueEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitKeyValueEntityContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitTracing.scala
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/SpanTracingImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  samples/tracing/README.md
  samples/tracing/docker-compose.yml
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
Labels: java-sdk, documentation

Drop the tracing context, provide access to parent span if needed, update docs
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitTracing.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/tracing/Batches.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/tracing/Traces.java
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/java/akka/javasdk/TraceContext.java
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/SpanTracingImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/timedaction/TestTracing.java
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/tracing/README.md
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
  samples/tracing/src/main/java/com/example/tracing/application/Typicode.java
Labels: java-sdk, documentation

docs: workflows sample with a basic deduplication
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow-compensation/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/it/java/com/example/wallet/application/WalletEntityIntegrationTest.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/WalletCommand.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/WalletEvent.java
Labels: documentation

fixing logger
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
Labels: documentation

Improved javadoc
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
