Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

stuff
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  project/Dependencies.scala
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/acl/PaymentEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
Labels: java-sdk, documentation

docs: update entity state flow charts
  docs/src/modules/concepts/images/event-sourced-entity-flow.png
  docs/src/modules/concepts/images/key-value-entity-flow.png
  docs/src/modules/concepts/pages/state-model.adoc
Labels: documentation

runtime 1.3.1-6cd7992 bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

fromaging
  build.sbt
Labels: none

bump akka-grpc version
  project/plugins.sbt
  samples/doc-snippets/pom.xml
Labels: documentation

Extra note about aligning akka-grpc version
  project/plugins.sbt
Labels: none

feat: gRPC codegen config in parent pom
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Common.scala
  project/SamplesCompilationProject.scala
  samples/doc-snippets/pom.xml
Labels: java-sdk, documentation

use proto instead of protobuf as protobuf source directory name
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/doc-snippets/src/main/proto/com/example/example_grpc_endpoint.proto
Labels: java-sdk, documentation

One more note about version bump of akka-grpc
  project/plugins.sbt
Labels: none

docs: A more complete example of an endpoint (no streaming though)
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/proto/com/example/example_grpc_endpoint.proto
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/proto/customer/api/customer_grpc_endpoint.proto
Labels: documentation

README for the sample and some fixes
  samples/event-sourced-customer-registry/README.md
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/proto/customer/api/customer_grpc_endpoint.proto
Labels: documentation

Basic docs
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

add doc page to index
  docs/src/modules/java/pages/index.adoc
Labels: documentation

feat: support for ACLs in grpc endpoints
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  project/Dependencies.scala
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
Labels: java-sdk, documentation

revert unintended changes to parent pom
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

add acl to doc snippets example
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
Labels: documentation

fix: preserve type when building dynamic json
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
Labels: java-sdk

docs: Fix advanced query snippet references
  docs/src/modules/java/partials/query-syntax-advanced.adoc
Labels: documentation

some more aligning
  docs/src/modules/java/partials/query-syntax-advanced.adoc
Labels: documentation

docs: Use mvn verify instead of mvn integration-test
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  samples/event-sourced-counter-brokers/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
Labels: java-sdk, documentation

fix: User config got sdk config in the wrong place
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/TestCounterEntity.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

wrong DI interface, wrong proto package
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/main/proto/com/example/call_grpc_endpoint.proto
Labels: java-sdk, documentation

Trying to get override config for external services working, no success
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  samples/doc-snippets/src/main/resources/application.conf
Labels: java-sdk, documentation

feat: gRPC client provider for cross service and external calls
  akka-javasdk/src/main/java/akka/javasdk/grpc/GrpcClientProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/proto/com/example/call_grpc_endpoint.proto
Labels: java-sdk, documentation

fromatting
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
Labels: java-sdk

Updated SVGs
  docs/src/modules/concepts/images/event-sourced-entity-flow.png
  docs/src/modules/concepts/images/event-sourced-entity-flow.svg
  docs/src/modules/concepts/images/key-value-entity-flow.png
  docs/src/modules/concepts/images/key-value-entity-flow.svg
  docs/src/modules/concepts/images/steps-7.svg
  docs/src/modules/concepts/pages/state-model.adoc
Labels: documentation

Config override working, minimal test coverage added
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  build.sbt
Labels: none

chore: gRPC clients config sanitization and allow service override in dev
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/grpc/GrpcProviderClientImplSpec.scala
Labels: java-sdk

More docs, warning for service override in prod
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/doc-snippets/src/main/resources/application.conf
Labels: java-sdk, documentation

DNS is an abbreviation
  docs/src/modules/java/pages/component-and-service-calls.adoc
Labels: documentation

docs: add links to multi-region operation docs
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

Update LICENSE
  LICENSE
Labels: none

Update LICENSE
  LICENSE
Labels: none

docs: Update release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

fix: creating the pr to update the samples
  .github/workflows/update-sdk-version.yml
Labels: none

chore: bump SDK versions to 3.1.0
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

adding fake bot user/email
  .github/workflows/update-sdk-version.yml
Labels: none

fix: creating the pr to update the samples
  .github/workflows/update-sdk-version.yml
Labels: none

chore: adding ref to docs when release
  docs/release-issue-template.md
Labels: documentation

Update docs/release-issue-template.md
  docs/release-issue-template.md
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
