Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

chore: Mark Akka gRPC generated sources as source dir for IntelliJ auto detect
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

bump: Akka runtime 1.4.2
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

matrix to make it easier to add more samples
  .github/workflows/pr-akka-samples.yml
Labels: none

update release issue
  docs/release-issue-template.md
Labels: documentation

build: Auto PR akka-samples
  .github/workflows/pr-akka-samples.yml
Labels: none

Exclude Run_locally.xml from .gitignore
  .github/workflows/pr-akka-samples.yml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  samples/choreography-saga-quickstart/.gitignore
  samples/doc-snippets/.gitignore
  samples/event-sourced-counter-brokers/.gitignore
  samples/event-sourced-customer-registry-subscriber/.gitignore
  samples/event-sourced-customer-registry/.gitignore
  samples/key-value-counter/.gitignore
  samples/key-value-customer-registry/.gitignore
  samples/key-value-shopping-cart/.gitignore
  samples/reliable-timers/.gitignore
  samples/shopping-cart-quickstart/.gitignore
  samples/spring-dependency-injection/.gitignore
  samples/tracing/.gitignore
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow/.gitignore
  samples/view-store/.gitignore
Labels: java-sdk, documentation

bundle sample, to remove doc tags
  .github/workflows/pr-akka-samples.yml
Labels: none

docs: Release notes for SDK 3.2.1
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

runtime 1.2.10
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: update support email
  docs/src/modules/operations/pages/projects/broker-aiven.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

fix: typo
  docs/src/modules/java/pages/dev-best-practices.adoc
Labels: documentation

minor
  .github/workflows/pr-akka-samples.yml
Labels: none

fix: view query table name extractor
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
Labels: java-sdk

missing .bundleignore
  samples/endpoint-jwt/.bundleignore
  samples/event-sourced-counter-brokers/.bundleignore
  samples/transfer-workflow/.bundleignore
Labels: documentation

updated action
  .github/workflows/pr-akka-samples.yml
Labels: none

more in release issue
  docs/release-issue-template.md
Labels: documentation

chore: Cleanup key-value-shopping-cart sample
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartDTO.java
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/key-value-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/key-value-shopping-cart/src/main/java/com/example/domain/ShoppingCart.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
Labels: documentation

some more DTO
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/key-value-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
Labels: documentation

docs: add missing nav sub-section index pages
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/components/index.adoc
  docs/src/modules/java/pages/integrations/index.adoc
  docs/src/modules/java/pages/setup-and-configuration/index.adoc
Labels: documentation

docs: Format of definitions list
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

chore: Update LICENSE ahead of v3.2.1
  LICENSE
Labels: none

fix: access updateContext from inside emptyRow
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

Entries on the message broker overview pages
  docs/src/modules/java/pages/message-brokers.adoc
  docs/src/modules/operations/pages/projects/message-brokers.adoc
Labels: documentation

bump: runtime 1.4.3
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

public/configurable mapper for consumign and producing to topics
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/SerializationTestkit.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

minor phrasing and tone changes to shopping cart sample
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

typo
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

(hopefully) adding agentic to vale ignore
  docs/.vale.ini
Labels: documentation

Use new SpiSettings constructor
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
Labels: java-sdk

new config location, keep old for compatibility
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

deprecate Java done mapper, cover custom object mapper in serializer with test
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
Labels: java-sdk

ci: fix publish of shopping cart for console use
  .github/workflows/publish-sample-images.yml
Labels: none

try direct url
  .github/workflows/publish-sample-images.yml
Labels: none

remove test config
  .github/workflows/publish-sample-images.yml
Labels: none

feat: Replication filters
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/ReplicationFilter.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReplicationFilterImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  project/Dependencies.scala
Labels: java-sdk

temporary testing with shopping cart
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-quickstart/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-quickstart/src/main/resources/region1.conf
  samples/shopping-cart-quickstart/src/main/resources/region2.conf
  samples/shopping-cart-quickstart/src/main/resources/region3.conf
Labels: documentation

feat: workflows subscription samples and docs
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/EventingTestkitDestinationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/TransferView.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/DummyTransferStore.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/Transfer.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferConsumer.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithFraudDetection.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithoutInputs.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/Consume.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  samples/transfer-workflow/README.md
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferView.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferViewIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
Labels: java-sdk, documentation

docs: deduplication strategies documentation
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk/src/main/java/akka/javasdk/CloudEvent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  docs/src/modules/java/pages/dev-best-practices.adoc
  docs/src/modules/java/pages/views.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/CounterSetup.java
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueView.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueViewEnrichment.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEntity.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterStore.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterStoreUpdater.java
  samples/event-sourced-counter-brokers/src/main/java/counter/domain/CounterEvent.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterByValueViewTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterStoreUpdaterTest.java
  samples/event-sourced-customer-registry/src/main/java/customer/CustomerRegistrySetup.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerStore.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerStoreUpdater.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerStoreUpdaterTest.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/WalletCommand.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/domain/WalletTest.java
Labels: java-sdk, documentation

improvements
  docs/src/modules/java/pages/dev-best-practices.adoc
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueViewEnrichment.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEntity.java
  samples/event-sourced-counter-brokers/src/main/java/counter/domain/CounterEvent.java
Labels: documentation

docs
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/views.adoc
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferStateConsumer.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferView.java
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
