Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

fmt
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
Labels: java-sdk

fixing components list
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
Labels: none

bump: Akka Runtime to 1.4.8
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: Some improvements/alignment after virtual threads API changes
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/shopping-cart/quickstart.adoc
  samples/ask-akka-agent/src/main/resources/flat-doc/author-your-first-service.md
  samples/ask-akka-agent/src/main/resources/flat-doc/http-endpoints.md
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEventsConsumer.java
Labels: documentation

bump: Akka 2.10.4
  project/Dependencies.scala
Labels: none

chore: Kalix runtime cleanup
  .github/kafka.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  build.sbt
  project/Dependencies.scala
  updateRuntimeVersions.sh
Labels: java-sdk

build: Update sdk version of samples maintained in akka-samples
  .github/workflows/pr-akka-samples.yml
Labels: none

docs: Virtual threads migration guide
  docs/src/modules/reference/pages/migration-guide.adoc
Labels: documentation

with a little help from a friend
  docs/src/modules/reference/pages/migration-guide.adoc
Labels: documentation

one tick that ticked me the wrong way
  docs/src/modules/reference/pages/migration-guide.adoc
Labels: documentation

samples: A few more async in samples and docs
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/errors-and-failures.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UsersEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/api/IndexerEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/EmailEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/CustomerGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalServiceEndpoint.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/key-value-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIntegrationTest.java
  samples/spring-dependency-injection/src/main/java/com/example/application/EmailComposer.java
  samples/transfer-workflow/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/view-store/src/main/java/store/product/api/ProductEndpoint.java
Labels: java-sdk, documentation

feat: create and delete methods for TimerScheduler
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
  docs/src/modules/reference/pages/migration-guide.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

formatting
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
Labels: java-sdk

Update docs/src/modules/reference/pages/migration-guide.adoc
  docs/src/modules/reference/pages/migration-guide.adoc
Labels: documentation

docs: Update samples table
  docs/src/modules/java/pages/samples.adoc
  samples/ask-akka-agent/README.md
Labels: documentation

chore: License change date for 3.3.0
  LICENSE
Labels: none

fix: align documentation with new Timer API
  docs/src/modules/java/pages/timed-actions.adoc
  samples/ask-akka-agent/src/main/resources/flat-doc/timed-actions.md
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

docs: Release notes for runtime 1.4.8 and SDK 3.3.0
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

retries, fixed link
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

fixed markdown, added link to sample
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

bump: Akka Runtime to 1.4.9
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: PodCost config
  docs/src/modules/self-managed/pages/configuring.adoc
  samples/doc-snippets/standalone/podcost-crd.yml
  samples/doc-snippets/standalone/rbac.yml
Labels: documentation

docs: Executor injection
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
Labels: documentation

docs: KVE replication leftover
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

feat: support Runnable in Workflow calls
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

add test
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
Labels: none

add supplier to andThen
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

docs: Add more AI samples
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

javadoc improvements
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
Labels: java-sdk

effectively test usage of Runnable
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithoutInputs.java
Labels: none

Release notes entry
  .gitignore
  docs/src/modules/reference/nav2.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

clean-up
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
Labels: none

fix: logging exception when executing workflow step
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

adding step 3 to ask akka agent
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ask-akka/indexer.adoc
  docs/src/modules/java/pages/ask-akka/rag.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AkkaStreamUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
Labels: documentation

style fixes
  docs/src/modules/java/pages/ask-akka/rag.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: akka CLI docs
  Makefile
Labels: none

Release notes item
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

initial handling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpcEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  project/Dependencies.scala
Labels: java-sdk

Update docs/src/modules/java/pages/ask-akka/rag.adoc
  docs/src/modules/java/pages/ask-akka/rag.adoc
Labels: documentation

Update docs/styles/config/vocabularies/Akka/accept.txt
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
