Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

feat: auto-registration of step methods (#720)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

chore: remove github-actions from mvn pom (#756)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
Labels: java-sdk

Update LICENSE for 3.4.3
  LICENSE
Labels: none

Update LICENSE for 3.4.3 (#758)
  LICENSE
Labels: none

docs: rearrange agentic platform products diagram
  docs/src/modules/concepts/images/akka-agentic-platform.png
Labels: documentation

docs: rearrange agentic platform products diagram (#760)
  docs/src/modules/concepts/images/akka-agentic-platform.png
Labels: documentation

docs: clarify project structure and components
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/pages/components/index.adoc
Labels: documentation

clarify location and purpose of tool directory
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

fix: use fake key when running integration tests
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
Labels: documentation

Remove tool directory from guidance.
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

Clarify component placement and annotations
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

put ESEs first, ahead of KVEs
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

expand on view definition with new sources
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

link to coding guidelines
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

fix link
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

docs: clarify project structure and components (#759)
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/pages/components/index.adoc
Labels: documentation

fix: define TestModelProvider as final
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

fix: use fake key when running integration tests (#762)
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
Labels: documentation

Apply suggestions from code review
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

fix: define TestModelProvider as final (#763)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

using W3C
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
Labels: java-sdk

bump: Akka Runtime to 1.5.3
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

bump akka version
  project/Dependencies.scala
Labels: none

refining the additional samples page
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

word duplication fix
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

style
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

chore(docs): tidy up agentic AI anatomy diagram
  docs/src/modules/concepts/images/agentic-ai-system-anatomy.png
Labels: documentation

moving akka chess up, modifying init JSON
  docs/src/modules/ROOT/attachments/akka-code-init.json
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

router returns Spi types
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

implementing step effects
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffects.scala
Labels: java-sdk

update theme UI, code snippets, white text darkmode, bullet alignments, bold styles
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-007-bundle.zip
Labels: documentation

update theme UI, code snippets, white text darkmode, bullet alignments, bold styles (#770)
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-007-bundle.zip
Labels: documentation

chore(docs): tidy up agentic AI anatomy diagram (#768)
  docs/src/modules/concepts/images/agentic-ai-system-anatomy.png
Labels: documentation

Update docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

refining the additional samples page (#767)
  docs/src/modules/ROOT/attachments/akka-code-init.json
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

bump runtime to v1.5.3-780df3f
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

chore(docs): tidy up deploy anywhere diagram
  docs/src/modules/concepts/images/packed-services.png
Labels: documentation

Adding inter-agent comms doc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

vale fix
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
