Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

WIP MCP protocol representation
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

feat: workflow delete effect
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/TransferView.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/DummyTransferStore.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferConsumer.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  docs/src/modules/java/pages/workflows.adoc
  project/Dependencies.scala
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

bump: Akka Runtime to 1.4.10
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: LLM friendly markdown docs
  .github/workflows/docs-prod.yml
  .github/workflows/docs-wip.yml
  docs/bin/docs2markdown.sh
Labels: documentation

some more work on JSON RPC with added test coverage
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

spec actually says to put the jsonrpc string in _every_ request and response :/
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

correct batch responses, notifications don't have a response
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

fix: spec instead service
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  samples/ask-akka-agent/src/main/resources/flat-doc/deploy-service.md
Labels: documentation

chore: updating metrics and rewording
  docs/src/modules/operations/images/dashboard-control-tower-metrics-filters-screenshot.png
  docs/src/modules/operations/images/dashboard-control-tower-metrics-screenshot.png
  docs/src/modules/operations/pages/observability-and-monitoring/metrics.adoc
Labels: documentation

revert flatdoc
  samples/ask-akka-agent/src/main/resources/flat-doc/deploy-service.md
Labels: documentation

revert Kalix
  docs/src/modules/operations/pages/observability-and-monitoring/metrics.adoc
Labels: documentation

improvements
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/workflows.adoc
Labels: java-sdk, documentation

some progress
  akka-javasdk/src/main/scala/akka/http/scaladsl/SseTrickery.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

reachable from the outside (acl and right return type)
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

init and list resources working
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

make prod
  docs/bin/docs2markdown.sh
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/billing.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/consuming-producing.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/event-sourced-entities.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/http-endpoints.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/installation.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/key-value-entities.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/samples.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/workflows.html.md
Labels: documentation

chore: Don't update ask-akka-agent from script
  docs/bin/docs2markdown.sh
Labels: documentation

run script with sudo since antora is creating directories/files as root
  .github/workflows/docs-prod.yml
  .github/workflows/docs-wip.yml
  docs/bin/docs2markdown.sh
Labels: documentation

Resource listing, resource template listing and resource fetching working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  samples/key-value-customer-registry/src/main/resources/static-resources/index.html
Labels: java-sdk, documentation

initial tool calling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

feat: make it possible to wire DependencyProvider
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

chore: pass the sessionId to the memory store
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
Labels: documentation

fix: more informative exception when DeleteHandler is missing
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: java-sdk, documentation

missing docs
  docs/src/modules/java/pages/consuming-producing.adoc
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferStateConsumer.java
Labels: documentation

Started playing around with A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

fix: validation for missing handler when consuming from KVE or Workflow
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/subscriptions/PubSubTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
Labels: java-sdk

build: sed syntax in docs2markdown.sh
  docs/bin/docs2markdown.sh
Labels: documentation

chore: Update change date for 3.3.1
  LICENSE
Labels: none

docs: Release notes for SDK 3.3.1
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

build: Add real-estate-cs-agent to samples sync
  .github/workflows/pr-akka-samples.yml
Labels: none

review feedback
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

docs: llms.txt
  .gitignore
  docs/bin/docs2markdown.sh
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

generate llms-ctx.txt
  .github/workflows/docs-prod.yml
  .github/workflows/docs-wip.yml
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

vale
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

more vale
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

build: Another CI permission
  .github/workflows/docs-wip.yml
Labels: none

adds the last step in the ask akka guide
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ask-akka/endpoints.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UiEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UsersEndpoint.java
Labels: documentation

fixing code link
  docs/src/modules/java/pages/ask-akka/endpoints.adoc
Labels: documentation

build: llms-txt in docs-prod ci
  .github/workflows/docs-prod.yml
Labels: none

build: Publish llms.txt to the right place
  .github/workflows/docs-prod.yml
Labels: none
