Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Streaming responses
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: documentation

docs: akka CLI docs
  Makefile
Labels: none

minor
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

added tests
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/http/HttpClientImplSpec.scala
Labels: java-sdk

ReadOnlyEffect
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
Labels: documentation

sample: Add current date tool in WeatherAgent
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/multi-agent/README.md
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
Labels: documentation

feat: Compaction of session memory
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

example and docs, tested that it works
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/main/resources/application.conf
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: documentation

docs: prompt template
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/api/ActivityPromptEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: java-sdk, documentation

bump: Akka Runtime to 1.4.13
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

fix: http-client returns String without decoding (#510)
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/http/HttpClientImplSpec.scala
Labels: java-sdk

docs: structured response
  docs/src/modules/java/pages/agents.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: documentation

auto traceparent propagation
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

vale
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: structured response (#529)
  docs/src/modules/java/pages/agents.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: documentation

chore: re-modeling user, ai and tool messages
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  project/Dependencies.scala
Labels: java-sdk

'fixing' total tokens usage
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs: Akka management announcement
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/security-announcements/akka-management-cve-2025-46548.adoc
  docs/src/modules/reference/pages/security-announcements/index.adoc
Labels: documentation

Apply suggestions from code review
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

PR improvements
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  docs/src/modules/java/pages/agents.adoc
Labels: java-sdk, documentation

feat: Support for Google AI Gemini, Ollama and Local AI (#505)
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
Labels: java-sdk

docs improvements
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

missing javadocs
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
Labels: java-sdk

docs: prompt template (#527)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  docs/src/modules/java/pages/agents.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/api/ActivityPromptEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: java-sdk, documentation

docs: Akka management announcement (#531)
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/security-announcements/akka-management-cve-2025-46548.adoc
  docs/src/modules/reference/pages/security-announcements/index.adoc
Labels: documentation

improving tracing implementation
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

tracer added to the context
  akka-javasdk/src/main/java/akka/javasdk/workflow/WorkflowContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

concurrent updates
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
Labels: java-sdk, documentation

move componentId to UserMessage and AiMessage
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
Labels: java-sdk, documentation

fix test
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: documentation

docs: Streaming responses
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: documentation

minor
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

ReadOnlyEffect
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
Labels: documentation

imports
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: documentation

docs: Human in the loop
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: Streaming responses (#523)
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
Labels: documentation

docs: Human in the loop (#532)
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feat: Compaction of session memory (#526)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/main/resources/application.conf
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

chore: re-modeling user, ai and tool messages
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  project/Dependencies.scala
Labels: java-sdk

filling in FIXMEs. adding more context and info.
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
