Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

missed a change
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

adding link to understanding index page
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

chore(docs): tidy up data diagram
  docs/src/modules/concepts/images/shard-rebalance-data.png
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

review changes
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

Adding inter-agent comms doc (#773)
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

docs(concepts): update deployment model section
  docs/src/modules/concepts/images/akka-automated-operations.png
  docs/src/modules/concepts/images/akka-clustering.png
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

Set up samples so they pass CI/CD
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation

bump akka version
  project/Dependencies.scala
Labels: none

feat: Step methods with StepEffect (#769)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffects.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

feat: method refs for workflofw transitions
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffects.scala
Labels: java-sdk

chore: java formatting plugin
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Common.scala
  project/SamplesCompilationProject.scala
  project/plugins.sbt
Labels: java-sdk

use indent 0 everywhere
  docs/src/modules/ROOT/partials/declaring-behavior.adoc
  docs/src/modules/concepts/pages/declarative-effects.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/mcp-endpoints.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
  docs/src/modules/java/pages/rag.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/component-endpoint.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  docs/src/modules/operations/pages/services/data-management.adoc
Labels: documentation

check formatting in CI
  .github/workflows/ci.yml
Labels: none

Document Java formatting in a README
  samples/README.md
Labels: documentation

fixed asciidocs tags
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
Labels: documentation

fix formatting in ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
Labels: documentation

Auto PR - Akka Runtime version 1.5.3 (#766)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

bump: Akka Runtime to 1.5.4
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

fixed CustomersByCity
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
Labels: documentation

fixed ActivityViewTest
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
Labels: documentation

add akka resolver to settings.xml
  .github/workflows/ci.yml
  samples/settings.xml
Labels: documentation

Revert "Set up samples so they pass CI/CD"
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation

chore: add akka resolver to settings.xml
  .github/workflows/ci.yml
  samples/settings.xml
Labels: documentation

passing settings when formatting
  .github/workflows/ci.yml
Labels: none

move settings.xml to .github
  .github/settings.xml
  .github/workflows/ci.yml
Labels: none

using Akka-Default
  .github/workflows/ci.yml
  .github/workflows/delete-pr-caches.yml
  .github/workflows/labeler.yml
Labels: none

chore: add akka resolver to settings.xml (#781)
  .github/settings.xml
  .github/workflows/ci.yml
  .github/workflows/delete-pr-caches.yml
  .github/workflows/labeler.yml
Labels: none

chore: update labeller action
  .github/workflows/labeler.yml
Labels: none

use thenTransitionTo
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffects.scala
Labels: java-sdk

chore(docs): tidy up deploy anywhere diagram (#771)
  docs/src/modules/concepts/images/packed-services.png
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
