Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

added a few more convenient 'when' methods
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(concepts): consolidate runtimes content
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

add test for 'failWith'
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
Labels: java-sdk

docs(sample): update readme with secret setup step
  samples/helloworld-agent/README.md
Labels: documentation

chore(docs): hyperlink component names
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

feat: support optional tool parameters
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolExecutor.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/ToolExecutorSpec.scala
Labels: java-sdk

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

fix: missing space causing bad rendering
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs(sample): update readme with secret setup step (#634)
  samples/helloworld-agent/README.md
Labels: documentation

docs(concepts): consolidate runtimes content (#633)
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

documentation and sample
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherServiceImpl.java
Labels: java-sdk, documentation

simplified async call
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolExecutor.scala
Labels: java-sdk

formatting
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/ToolExecutorSpec.scala
  samples/multi-agent/pom.xml
Labels: java-sdk, documentation

formatting
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/ToolExecutorSpec.scala
Labels: java-sdk

revert snapshot version in sample
  samples/multi-agent/pom.xml
Labels: documentation

docs(sample): update readme with secret setup step v2
  samples/multi-agent/README.md
Labels: documentation

chore(docs): tighten table spacing
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

chore(docs): tighten table spacing (#636)
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(concepts): more on component interoperability (#630)
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update the docs with CLI changes
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
Labels: documentation

docs(sample): update readme with secret setup step v2 (#639)
  samples/multi-agent/README.md
Labels: documentation

Update akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolExecutor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolExecutor.scala
Labels: java-sdk

bump sdk in agents samples
  samples/ask-akka-agent/pom.xml
  samples/helloworld-agent/pom.xml
  samples/multi-agent/pom.xml
Labels: documentation

chore: TestModelProvider API improvements (#627)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
Labels: java-sdk, documentation

bump all of them
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

- Updated samples with instructions for the new CLI command
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/running-locally.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quickstart.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/running-locally.html.md
  samples/shopping-cart-quickstart/README.md
Labels: documentation

More updates
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  samples/shopping-cart-quickstart/README.md
Labels: documentation

feat: support optional tool parameters (#638)
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolExecutor.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/ToolExecutorSpec.scala
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherServiceImpl.java
Labels: java-sdk, documentation

chore: bump sdk in agents samples (#641)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

chore: Update the docs with CLI changes (#640)
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/running-locally.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quickstart.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/running-locally.html.md
  samples/shopping-cart-quickstart/README.md
Labels: documentation

docs(concepts): revise system anatomy section (#610)
  docs/README.md
  docs/src/modules/concepts/images/agentic-ai-system-anatomy.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

updating identify agent section
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

an an
  docs/src/modules/java/pages/agents.adoc
Labels: documentation
