Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

docs: WIP to snapshots dir
  .github/workflows/docs-wip.yml
Labels: none

docs: Fix incorrect streaming updates section, add stream result section
  docs/src/modules/java/pages/views.adoc
Labels: documentation

chore: Missing license in jwt sample
  samples/endpoint-jwt/LICENSE
Labels: documentation

docs: Invoke deployed exposed service
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

bump: Runtime 1.2.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/test/resources/logback-test.xml
  docs/src/modules/reference/pages/release-notes.adoc
  project/Dependencies.scala
Labels: java-sdk, documentation

chore: Switch to Akka typeurl for JSON
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/JsonSupportSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonMessageCodecSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  docs/src/modules/operations/attachments/data_management_schema.proto
Labels: java-sdk, documentation

feat(broker): allow more settings in dev-mode
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

samples: add log statements to shopping quickstart
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
Labels: documentation

bump: SDK version in samples
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

chore: Push quickstart docker image
  .github/workflows/publish-sample-images.yml
Labels: none

chore: Update quickstart sdk version before building image
  .github/workflows/publish-sample-images.yml
Labels: none

docs: Clarify traces in observability descriptor
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
Labels: documentation

chore: Update the user image excludes to be explicit for runtime 1.2.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

Small changes
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/dev-best-practices.adoc
Labels: documentation

docs: redirect for akka cluster query result
  .github/workflows/docs-static.yml
  docs/src-static/.htaccess
Labels: documentation

chore: A few more dependency excludes
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

docs: mvn clean install
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  samples/choreography-saga-quickstart/README.md
  samples/endpoint-jwt/README.md
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry/README.md
  samples/key-value-counter/README.md
  samples/key-value-customer-registry/README.md
  samples/key-value-shopping-cart/README.md
  samples/reliable-timers/README.md
  samples/shopping-cart-quickstart/README.md
  samples/spring-dependency-injection/README.md
  samples/tracing/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
  samples/view-store/README.md
Labels: java-sdk, documentation

chore: re-phrase exception message when recompilation is required
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

docs: Replication in control tower
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

docs(samples): update Akka CLI installation links
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  samples/choreography-saga-quickstart/README.md
  samples/endpoint-jwt/README.md
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry/README.md
  samples/key-value-counter/README.md
  samples/key-value-customer-registry/README.md
  samples/key-value-shopping-cart/README.md
  samples/reliable-timers/README.md
  samples/shopping-cart-quickstart/README.md
  samples/spring-dependency-injection/README.md
  samples/tracing/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
  samples/view-store/README.md
Labels: java-sdk, documentation

docs: hide TODO in if
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

chore: Log capturing for the tests module
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/EventingTestkitDestinationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/EventingTestkitTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/TracingIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk-tests/src/test/scala/akka/CapturingAppenderAccess.scala
  akka-javasdk-tests/src/test/scala/akkajavasdk/Junit5LogCapturing.scala
  project/Dependencies.scala
Labels: none

chore: Revise assembly exclude filters
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

bump sbt 1.10.5
  project/build.properties
Labels: none

chore: Don't use sbt --client
  .github/workflows/publish.yml
Labels: none

docs: re-work timers and timed actions
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

chore: Update some publish info
  .github/workflows/update-sdk-version.yml
  akka-javasdk-maven/pom.xml
  docs/README.md
  docs/release-issue-template.md
  docs/src/modules/ROOT/partials/include.adoc
  project/Common.scala
Labels: java-sdk, documentation

chore: Manual publish to sonatype central
  .github/workflows/publish-maven.yml
Labels: none

docs: Multi-region replication for Views and Consumers
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/views.adoc
Labels: documentation

docs: multi region concept
  docs/src/modules/concepts/images/geo-a.png
  docs/src/modules/concepts/images/geo-b.png
  docs/src/modules/concepts/images/geo-c.png
  docs/src/modules/concepts/images/geo-d.png
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

chore: use latest tag for sample image
  .github/workflows/publish-sample-images.yml
Labels: none

chore: right file location of akka-javasdk-version.txt
  .github/workflows/publish-sample-images.yml
Labels: none

chore: and export SDK_VERSION
  .github/workflows/publish-sample-images.yml
Labels: none

bump: SDK version 3.0.0-RC4
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

revert: Manual publish to sonatype central
  .github/workflows/publish-maven.yml
Labels: none

chore: use akka.io in CLI install script
  docs/src-static/install-cli.sh
Labels: documentation

fix: Accept old type url for components that can consume pre-existing events
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ReflectiveViewRouter.scala
Labels: java-sdk

fix: One more place old json type urls needs to be accepted
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
Labels: java-sdk

docs: CLI 3.0.4 release notes
  .github/workflows/docs-cli-updates.yml
  Makefile
  docs/bin/generate_cli_docs.sh
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/nav2.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

bump: Runtime 1.2.1
  LICENSE
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  project/Dependencies.scala
Labels: java-sdk, documentation
