Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

docs: Getting started page
  Makefile
  docs/src/modules/java/pages/getting-started.adoc
Labels: kalix-runtime, Documentation

feat: persistence dev mode
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk

docs: drop the service descriptor
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/descriptor-reference.adoc
  docs/src/modules/reference/pages/index.adoc
Labels: kalix-runtime, Documentation

docs(concepts): add Best Practices
  docs/src/modules/concepts/images/bounded-context.svg
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/best-practices.adoc
  docs/src/modules/concepts/pages/index.adoc
Labels: kalix-runtime, Documentation

chore: Separate HTTP client into Java interface and internal Scala impl
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClient.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
Labels: kalix-runtime, java-sdk

docs: updating KVE customer sample
  samples/valueentity-customer-registry/README.md
  samples/valueentity-customer-registry/src/it/java/customer/CustomerIntegrationTest.java
  samples/valueentity-customer-registry/src/it/java/customer/application/CustomersByCityIntegrationTest.java
  samples/valueentity-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/valueentity-customer-registry/src/main/java/customer/api/CustomerSummary.java
  samples/valueentity-customer-registry/src/main/java/customer/api/Ok.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomerList.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomerSummaryByName.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomersResponseByName.java
Labels: kalix-runtime, Documentation

docs: add other components to Programming Model
  docs/src/modules/concepts/pages/programming-model.adoc
Labels: kalix-runtime, Documentation

docs(concepts): Control Tower
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/control-tower.adoc
  docs/src/modules/concepts/pages/index.adoc
Labels: kalix-runtime, Documentation

docs: document how to impersonate requests
  docs/src/modules/java/pages/access-control.adoc
  samples/doc-snippets/src/main/java/com/example/acl/PaymentEndpoint.java
Labels: kalix-runtime, Documentation

docs: add Operating Services section
  docs/src/antora.yml
  docs/src/modules/operations/images/aiven-advanced-configuration.png
  docs/src/modules/operations/images/aiven-connection-information.png
  docs/src/modules/operations/images/billing-ui.jpg
  docs/src/modules/operations/images/confluent-api-key-details.png
  docs/src/modules/operations/images/confluent-api-key-new.png
  docs/src/modules/operations/images/console-members-list.png
  docs/src/modules/operations/images/dashboard-control-tower-metrics-filters-screenshot.png
  docs/src/modules/operations/images/dashboard-control-tower-metrics-screenshot.png
  docs/src/modules/operations/images/dashboard-control-tower-span-screenshot.png
  docs/src/modules/operations/images/dashboard-control-tower-traces-screenshot.png
  docs/src/modules/operations/images/grpcui.png
  docs/src/modules/operations/images/service-status.png
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/billing.adoc
  docs/src/modules/operations/pages/broker-aiven.adoc
  docs/src/modules/operations/pages/broker-aws-msk.adoc
  docs/src/modules/operations/pages/broker-confluent.adoc
  docs/src/modules/operations/pages/broker-google-pubsub.adoc
  docs/src/modules/operations/pages/container-registries.adoc
  docs/src/modules/operations/pages/controltower-metrics.adoc
  docs/src/modules/operations/pages/controltower-traces.adoc
  docs/src/modules/operations/pages/create-project.adoc
  docs/src/modules/operations/pages/deploy-service.adoc
  docs/src/modules/operations/pages/external-container-registries.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/integrate-cicd-circleci.adoc
  docs/src/modules/operations/pages/integrate-cicd-github-actions.adoc
  docs/src/modules/operations/pages/integrate-cicd.adoc
  docs/src/modules/operations/pages/invoke-service.adoc
  docs/src/modules/operations/pages/manage-project-access.adoc
  docs/src/modules/operations/pages/manage-users.adoc
  docs/src/modules/operations/pages/message-brokers.adoc
  docs/src/modules/operations/pages/observability-exports.adoc
  docs/src/modules/operations/pages/organizations.adoc
  docs/src/modules/operations/pages/projects.adoc
  docs/src/modules/operations/pages/regions.adoc
  docs/src/modules/operations/pages/secrets.adoc
  docs/src/modules/operations/pages/view-data.adoc
  docs/src/modules/operations/pages/view-logs.adoc
Labels: kalix-runtime, Documentation

docs: add Security section
  docs/src/antora.yml
  docs/src/modules/security/nav.adoc
  docs/src/modules/security/pages/acls.adoc
  docs/src/modules/security/pages/index.adoc
  docs/src/modules/security/pages/jwts.adoc
  docs/src/modules/security/pages/tls-certificates.adoc
Labels: kalix-runtime, Documentation

docs(samples): introduce Samples section
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/samples/nav.adoc
  docs/src/modules/samples/pages/index.adoc
  docs/src/modules/samples/pages/prebuilt-samples.adoc
Labels: kalix-runtime, Documentation

docs: add Support section
  docs/src/antora.yml
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/index.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/platform-status.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/src/modules/support/pages/slack.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: kalix-runtime, Documentation

feat: introduce Endpoint RequestContext
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/PrincipalsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
  samples/eventsourced-customer-registry/README.md
Labels: kalix-runtime, java-sdk, Documentation

chore: remove access to Principals in Metadata
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/MetadataImplSpec.scala
Labels: kalix-runtime, java-sdk

fix: duplicated @Setup warning
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: kalix-runtime, java-sdk

fix: no dev-mode service-name and http-port in pom
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/resources/reference.conf
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/running-locally.adoc
  samples/eventsourced-customer-registry-subscriber/pom.xml
  samples/eventsourced-customer-registry-subscriber/src/main/resources/application.conf
Labels: kalix-runtime, java-sdk, Documentation

docs: add CLI section
  docs/src/antora.yml
  docs/src/modules/akka-cli/nav.adoc
  docs/src/modules/akka-cli/pages/command-completion.adoc
  docs/src/modules/akka-cli/pages/index.adoc
  docs/src/modules/akka-cli/pages/installation.adoc
  docs/src/modules/akka-cli/pages/using-cli.adoc
  docs/src/modules/concepts/pages/programming-model.adoc
Labels: kalix-runtime, Documentation

docs: shopping cart example/quickstart stub
  Makefile
  docs/src/antora.yml
  docs/src/modules/ROOT/attachments/quickstart.json
  docs/src/modules/samples/pages/cr-value-entity-java.adoc
  docs/src/modules/samples/pages/cr-value-entity-views-java.adoc
  docs/src/modules/samples/pages/index.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  docs/src/modules/samples/partials/before-you-begin.adoc
  docs/src/modules/samples/partials/create-customer.adoc
  docs/src/modules/samples/partials/expose-service.adoc
  docs/src/modules/samples/partials/package-and-deploy.adoc
  samples/eventsourced-shopping-cart/.bundleignore
Labels: kalix-runtime, Documentation

Programming model take 2
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/best-practices.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/programming-model.adoc
  docs/src/modules/concepts/pages/state-model.adoc
Labels: kalix-runtime, Documentation

docs: errors and failures
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/Result.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/errors-and-failures.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/failures-and-errors.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/aplication/Result.java
  samples/eventsourced-counter/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-counter/README.md
  samples/eventsourced-counter/src/main/java/counter/api/CounterEndpoint.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterEntity.java
  samples/eventsourced-counter/src/test/java/counter/application/CounterTest.java
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow/README.md
  samples/transfer-workflow/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/valueentity-shopping-cart/src/main/java/com/example/application/ShoppingCartDTO.java
  samples/valueentity-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/valueentity-shopping-cart/src/main/java/com/example/domain/ShoppingCart.java
Labels: kalix-runtime, java-sdk, Documentation

chore: remove acl claims from metadata
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/MetadataImplSpec.scala
Labels: kalix-runtime, java-sdk

chore: remove http status code from metadata
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/MetadataImplSpec.scala
Labels: kalix-runtime, java-sdk

docs: put Concepts in some logical order
  docs/src/modules/concepts/images/event-source-flow.svg
  docs/src/modules/concepts/images/key-value-flow.svg
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/control-tower.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/java/partials/effects-api.adoc
Labels: kalix-runtime, Documentation

chore: Update to the CLI documentation page
  docs/src/modules/akka-cli/pages/using-cli.adoc
Labels: kalix-runtime, Documentation

chore: Include details about what can get injected in the API-docs
  akka-javasdk/src/main/java/akka/javasdk/ServiceSetup.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/HttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/Consumer.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/TimedAction.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: kalix-runtime, java-sdk

Incorporating feedback for architecture and updating index
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
Labels: kalix-runtime, Documentation

fix: change format for logMessage mkString
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-runtime, java-sdk

docs: remove unused navigation menu option
  docs/src/modules/reference/nav.adoc
Labels: kalix-runtime, Documentation

chore: Drop some left over Spring references
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/customer-registry-quickstart/pom.xml
  samples/customer-registry-views-quickstart/pom.xml
  samples/reliable-timers/pom.xml
  samples/view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

docs: add data management section
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/data-management.adoc
  docs/src/modules/operations/pages/index.adoc
Labels: kalix-runtime, Documentation

feat: Make it possible to inject mocks/fake custom DI deps in tests
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/it/java/com/example/MyIntegrationTest.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/spring-dependency-injection/README.md
Labels: kalix-runtime, java-sdk, Documentation

docs(cli): add link to Akka Console
  docs/src/modules/akka-cli/pages/using-cli.adoc
Labels: kalix-runtime, Documentation

bump: Samples to sdk 3.0.0-M6
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/customer-registry-quickstart/pom.xml
  samples/customer-registry-views-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/eventsourced-counter/pom.xml
  samples/eventsourced-customer-registry-subscriber/pom.xml
  samples/eventsourced-customer-registry/pom.xml
  samples/eventsourced-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/valueentity-counter/pom.xml
  samples/valueentity-customer-registry/pom.xml
  samples/valueentity-shopping-cart/pom.xml
  samples/view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

docs(concepts): explain Saga patterns and Workflow
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/saga-patterns.adoc
Labels: kalix-runtime, Documentation

chore: customer endpoint
  docs/src/modules/java/pages/running-locally.adoc
  samples/eventsourced-customer-registry-subscriber/README.md
Labels: kalix-runtime, Documentation

fix: docker platform settings
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

Small content, links and next steps updates.
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/state-model.adoc
Labels: kalix-runtime, Documentation

docs: restructure landing page, top level nav
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/index.adoc
Labels: kalix-runtime, Documentation

docs: updating views page
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/partials/component-endpoint.adoc
  docs/src/modules/java/partials/query-syntax-advanced.adoc
  docs/src/modules/java/partials/query-syntax-paging.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  samples/customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/customer-registry-views-quickstart/src/main/java/customer/application/CustomerByEmailView.java
  samples/customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterJournalToTopicWithMetaConsumer.java
  samples/eventsourced-customer-registry/src/main/java/customer/application/CustomerByNameView.java
  samples/valueentity-customer-registry/README.md
  samples/valueentity-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomerList.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomerSummaryByName.java
  samples/valueentity-customer-registry/src/main/java/customer/application/CustomersResponseByName.java
  samples/view-store/src/main/java/store/view/joined/CustomerOrders.java
  samples/view-store/src/main/java/store/view/joined/JoinedCustomerOrdersView.java
Labels: kalix-runtime, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

Documentation:
  - docs/**/*
  - samples/**/*
