Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

feat: component exclusion config
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/ProdCounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/StageCounterEntity.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/Profile.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
Labels: java-sdk

improvements after code review
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

bumping runtime version
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

setting keyValue flag for ESE and KVE
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

docs: clarify asMap behaviour in JwtClaims
  akka-javasdk/src/main/java/akka/javasdk/JwtClaims.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
Labels: java-sdk

fmt
  akka-javasdk/src/main/java/akka/javasdk/JwtClaims.java
Labels: java-sdk

fix(docs): clarify IntelliJ setup instructions (#122)
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

fix(docs): developer service deletion permissions (#123)
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
Labels: documentation

feat: event-sourced entity testkit can be initialized
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
Labels: java-sdk

extra overflow check in CounterEventSourcedEntity
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
Labels: java-sdk

remove JsonMessageCodec
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
Labels: java-sdk

fixing reference conf
  akka-javasdk/src/main/resources/reference.conf
Labels: java-sdk

docs: cross references
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/security/pages/acls.adoc
Labels: documentation

fmt 2
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
Labels: java-sdk

pr comments
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
Labels: java-sdk

exclude -> disable
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
Labels: java-sdk

chore: More evolvable SpiComponents
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
Labels: java-sdk

docs: explain backoffice for testing service
  docs/src/modules/java/pages/access-control.adoc
Labels: documentation

small fixes
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

bump to runtime release
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

unused code removed
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

test: Cover indexable columns with test coverage
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
Labels: none

chore: Drop no longer used protobuf deps and logic
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProtoDescriptorRenderer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProtoMessageDescriptors.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/AclDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/MessageDescriptorGeneratorSpec.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Drop protobuf/grpc deps and config except for testkit which still uses eventing testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JwtDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/eventsourcedentity/AbstractCartEntity.java
  akka-javasdk/src/test/java/akka/javasdk/eventsourcedentity/CartEntity.java
  akka-javasdk/src/test/java/akka/javasdk/keyvalueentity/AbstractCartEntity.java
  akka-javasdk/src/test/java/akka/javasdk/keyvalueentity/CartEntity.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
  build.sbt
  project/Common.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

fix: deserialize table updater row state
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

Some exclusions not longer applying
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

reusing reflection method
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

docs: declarative effects title style
  docs/src/modules/concepts/pages/declarative-effects.adoc
Labels: documentation

Update akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
Labels: java-sdk

Update akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
Labels: java-sdk

chore: Default domain and application packages in archetype
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/domain/package-info.java
Labels: java-sdk

chore: Wrong package name in #140
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
Labels: java-sdk

feat: Support ZonedDateTime in views
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
Labels: java-sdk

Drop some unused imports
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
Labels: none

chore: adding edit service descriptor
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

docs: Runaway space before request header section header
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

fix: logging workflow step and transition failures
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

List ZonedDateTime in docs
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: documentation

fix: failing the consumer if publishing without the destination is detected
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
Labels: java-sdk

fixing impl
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
