Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: update info on pre-built sample deployment
  docs/src/modules/samples/pages/index.adoc
  docs/src/modules/samples/pages/prebuilt-samples.adoc
Labels: documentation

docs(samples): update customer registry README
  samples/event-sourced-customer-registry/README.md
Labels: documentation

chore(docs): prerequisite partials
  docs/src/modules/ROOT/partials/cloud-dev-prerequisites.adoc
  docs/src/modules/ROOT/partials/local-dev-prerequisites.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

feat: Access application config from testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
Labels: java-sdk

docs(samples): update transfer workflow README
  samples/transfer-workflow-compensation/README.md
Labels: documentation

chore: linking to sample base url
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/partials/mutli-region-replication.adoc
  docs/src/modules/java/partials/query-syntax-advanced.adoc
Labels: documentation

docs: added multi-region operations docs
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/projects/multi-region.adoc
Labels: documentation

docs: glossary improvements
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

docs: simplify language in Libraries overview page
  docs/src/modules/libraries/pages/index.adoc
Labels: documentation

chore: Fix a few broken javadoc things
  akka-javasdk/src/main/java/akka/javasdk/client/ViewClient.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  project/Common.scala
Labels: java-sdk

docs: Links to workflow sample zip
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

docs: hide TOODs with if
  docs/src/modules/akka-cli/pages/using-cli.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/operations/pages/organizations/billing.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

docs: prepare for Prod deploy
  .github/workflows/docs-wip.yml
  Makefile
  docs/.gitignore
  docs/antora-playbook-prod.yml
  docs/bin/deploy-site.sh
  docs/install-cli.sh
Labels: documentation

docs(sample): update event source sample to include kafka
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/java/images/eventing-testkit-sample.svg
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/errors-and-failures.adoc
  docs/src/modules/java/pages/views.adoc
  project/Dependencies.scala
  samples/event-sourced-counter-brokers/.gitignore
  samples/event-sourced-counter-brokers/LICENSE
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/docker-compose.yml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-counter-brokers/src/it/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/it/java/counter/application/CounterWithRealKafkaIntegrationTest.java
  samples/event-sourced-counter-brokers/src/it/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterCommandFromTopicConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEntity.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEventsConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEventsTopicConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterJournalToTopicConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterJournalToTopicWithMetaConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/RawBytesConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/domain/CounterEvent.java
  samples/event-sourced-counter-brokers/src/main/resources/application.conf
  samples/event-sourced-counter-brokers/src/main/resources/include-dev-loggers.xml
  samples/event-sourced-counter-brokers/src/main/resources/include-loggers.xml
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterTest.java
  samples/event-sourced-counter/.idea/runConfigurations/Run_locally.xml
  samples/event-sourced-counter/docker-compose.yml
  updateSamplesVersions.sh
Labels: java-sdk, documentation

fix(docs): Vale false positive filename error
  docs/.vale.ini
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

docs: match links with includes
  .github/workflows/documentation.yml
  docs/bin/verify-include-paths.sh
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/partials/query-syntax-advanced.adoc
Labels: documentation

docs: suggest Akkademy event sourcing course
  docs/src/modules/java/pages/event-sourced-entities.adoc
Labels: documentation

docs: install CLI workaround
  Makefile
  docs/install-cli.sh.txt
Labels: documentation

chore: comment out install script cp command
  Makefile
Labels: none

docs: include attributes
  Makefile
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

docs: ignore CLI script for now
  Makefile
Labels: none

docs: API links
  docs/src/modules/reference/pages/api-docs.adoc
Labels: documentation

docs: CLI, Runtime, Libraries release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs(javadocs): fix example for component client
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
Labels: java-sdk

chore: JWTs docs and sample
  akka-javasdk-testkit/src/it/java/com/example/wiring/jwt/JwtEndpointTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/jwt/MissingJwtEndpoint.java
  akka-javasdk-testkit/src/it/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/using-jwts.adoc
  docs/src/modules/security/pages/jwts.adoc
  samples/endpoint-jwt/README.md
  samples/endpoint-jwt/pom.xml
  samples/endpoint-jwt/src/it/java/hellojwt/api/HelloJwtIntegrationTest.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/endpoint-jwt/src/main/resources/application.conf
  samples/endpoint-jwt/src/main/resources/include-dev-loggers.xml
  samples/endpoint-jwt/src/main/resources/include-loggers.xml
Labels: java-sdk, documentation

samples: Event Sourced Wallet
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow-compensation/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/WalletEvent.java
  samples/transfer-workflow/README.md
  samples/transfer-workflow/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow/src/main/java/com/example/wallet/domain/WalletEvent.java
Labels: documentation

Developing Services Updated Nav structure
  docs/src/modules/java/nav.adoc
Labels: documentation

chore: more release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: improvements development process page
  docs/src/modules/concepts/concepts:development-process.adoc
Labels: documentation

docs: security announcements section
  docs/.vale.ini
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/security-announcements/akka-2017-02-10.adoc
  docs/src/modules/reference/pages/security-announcements/akka-async-dns-2023-31442.adoc
  docs/src/modules/reference/pages/security-announcements/akka-camel-cve-2017-5643.adoc
  docs/src/modules/reference/pages/security-announcements/akka-cve-2018-16115.adoc
  docs/src/modules/reference/pages/security-announcements/akka-cve-2023-45865.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-2016-09-30.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-2017-01-23.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-cve-2018-16131.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-cve-2021-23339.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-cve-2021-42697.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-cve-2023-05-15.adoc
  docs/src/modules/reference/pages/security-announcements/akka-http-cve-2023-44487.adoc
  docs/src/modules/reference/pages/security-announcements/alpakka-kafka-cve-2023-29471.adoc
  docs/src/modules/reference/pages/security-announcements/index.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: show injection of timer scheduler
  docs/src/modules/java/pages/timed-actions.adoc
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
Labels: documentation

docs: improvements development process page
  docs/src/modules/concepts/pages/development-process.adoc
Labels: documentation

fix(samples): various typos
  samples/event-sourced-customer-registry/README.md
  samples/key-value-customer-registry/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
Labels: documentation

chore(samples): update community links
  samples/event-sourced-customer-registry/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
Labels: documentation

docs: running locally with broker updates
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/operations/pages/projects/message-brokers.adoc
Labels: documentation

docs: drop xref validator
  Makefile
  docs/antora-docker/Dockerfile
Labels: documentation

chore(docs): remove packages from Dockerfile
  docs/antora-docker/Dockerfile
Labels: documentation

fix(docs): callout syntax for UserEndpoint snippet
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
Labels: documentation

docs(samples): update choreography saga README
  samples/choreography-saga-quickstart/README.md
Labels: documentation

chore: removed unused imports from the snippet and unused tag
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
