Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

Update docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

More realistic project directory structure
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

docs(concepts): revise layered model for services (#692)
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/components/index.adoc
  docs/src/modules/java/pages/dev-best-practices.adoc
Labels: documentation

chore: Support recursive types, and more stdlib types in JsonSchema creation (#681)
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

chore: Self service resolution in integration tests
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  project/Dependencies.scala
Labels: java-sdk

bump runtime 1.5.2
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: Add part that illustrates Consumer component
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/preferences.html.md
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/EvaluatorAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PreferencesConsumer.java
Labels: documentation

AI instruction
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

vale
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

docs: Update coding guidelines
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

clarify root path
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

vale
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

component class suffix
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/preferences.html.md
Labels: documentation

Entity state
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

applyEvent
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

additional feedback
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

docs: Update coding guidelines (#693)
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/preferences.html.md
Labels: documentation

compile
  samples/multi-agent/src/main/java/demo/multiagent/application/EvaluatorAgent.java
Labels: documentation

chore: Step definition in ask-akka-agent
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

typo
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
Labels: documentation

docs: Add part that illustrates Consumer component (#704)
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/EvaluatorAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PreferencesConsumer.java
Labels: documentation

docs: Deploy to akka.io from getting started
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
  docs/src/modules/getting-started/pages/quick-deploy.adoc
Labels: documentation

feat: handling model and tool exceptions (#685)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/InternalServerException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/JsonParsingException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelTimeoutException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RateLimitException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallExecutionException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ToolCallLimitReachedException.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UnsupportedFeatureException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  docs/src/modules/java/pages/agents.adoc
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentMore.java
Labels: java-sdk, documentation

docs: Deploy to akka.io from getting started (#706)
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
  docs/src/modules/getting-started/pages/quick-deploy.adoc
Labels: documentation

chore: Self service resolution in integration tests
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
Labels: java-sdk

docs: Wrong xref to eval.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
Labels: documentation

pass service name to tests as well
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

1 minute
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

chore: Self service resolution in integration tests (#662)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
Labels: java-sdk

chore: Step definition in ask-akka-agent (#705)
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

docs: Wrong xref to eval.adoc (#707)
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
Labels: documentation

docs(concepts): clarify component interoperability
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

clarify component call behavior
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Refine explanation of handling of concurrency and blocking.
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs: Feedback on the getting started part descriptions
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
Labels: documentation

docs(concepts): clarify component interoperability (#689)
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs: Feedback on the getting started part descriptions (#708)
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
Labels: documentation

docs: Api key as secret environment variable
  docs/src/modules/getting-started/pages/quick-deploy.adoc
Labels: documentation

docs: Api key as secret environment variable (#710)
  docs/src/modules/getting-started/pages/quick-deploy.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
