Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

feat: tool call limits
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/DocLinks.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DocLinksSpec.scala
  docs/src/modules/java/pages/agents.adoc
Labels: java-sdk, documentation

fix after rebase
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
Labels: java-sdk

mention that max-tool-call-steps also apply to mcp
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

mention application.conf
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feat: http endpoint method specs for request building (#615)
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

fixed file reference
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

First draft to the Distributed Systems page
  docs/src/modules/concepts/pages/distributed-systems.adoc
Labels: documentation

Formatting changes
  docs/src/modules/concepts/pages/distributed-systems.adoc
Labels: documentation

feat: tool call limits (#621)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/DocLinks.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DocLinksSpec.scala
  docs/src/modules/java/pages/agents.adoc
Labels: java-sdk, documentation

docs(concepts): revise system anatomy section
  docs/README.md
  docs/src/modules/concepts/images/agentic-ai-system-anatomy.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Fix vale
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

Describe how to implement guardians (coming soon)
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

explain how Akka provides agent registry
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

clarify tools definition
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

Update docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(README): maintaining llms.txt index file
  docs/README.md
Labels: documentation

docs(concepts): expand memory and state info
  docs/src/modules/concepts/images/shard-rebalance-data.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): update agentic platform image
  docs/src/modules/concepts/images/akka-agentic-platform.png
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): clarify agentic intro statement
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): update page title
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

chore: TestModelProvider API improvements
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
Labels: java-sdk

adding javadocs
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
Labels: java-sdk, documentation

docs(concepts): clarify memory section
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

minor comment fix
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

docs(concepts): expand component descriptions
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

renamed builders to WhenClause
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

docs(concepts): packaging and deployment modes
  docs/src/modules/concepts/images/packed-services.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): more on component interoperability
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): clarify memory section (#628)
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): expand component descriptions (#629)
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

consistent headings
  samples/ask-akka-agent/README.md
Labels: documentation

docs: add deploy runbook to ask akka sample (#607)
  samples/ask-akka-agent/README.md
Labels: documentation

docs(concepts): packaging and deployment modes (#631)
  docs/src/modules/concepts/images/packed-services.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(concepts): clarify agentic intro statement (#626)
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

docs(concepts): update agentic platform image (#625)
  docs/src/modules/concepts/images/akka-agentic-platform.png
Labels: documentation

docs(concepts): update page title (#612)
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(README): maintaining llms.txt index file (#623)
  docs/README.md
Labels: documentation

docs(concepts): support for agentic runtimes (#613)
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

a fixed catch-all function for lonely predicates
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
