Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

bump: Spring 6.2.3 in sample
  project/SamplesCompilationProject.scala
  samples/spring-dependency-injection/pom.xml
Labels: documentation

more updates
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/operations/pages/operator-best-practices.adoc
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
Labels: documentation

Revised wording
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Add GH release note links
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

bump: Antora 3.1.10 (was 3.1.9) with ARM images
  docs/antora-docker/Dockerfile
Labels: documentation

docs: fixing component client docs
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

fix: fixing workflow if stmt
  .github/workflows/update-sdk-version.yml
Labels: none

fix: Incorrect list parameter and column query in test
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
Labels: none

bump: Akka runtime 1.4.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

Akka core 2.10.2
  project/Dependencies.scala
Labels: none

updated zip with float fixes
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/bundle/akka-theme-ui-002-bundle.zip
Labels: documentation

chore: fail build on verify
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

chore: fail build on verify
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

docs: restore missing snippet and remove all warnings
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/src/modules/operations/pages/observability-and-monitoring/view-logs.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

fail on warn
  Makefile
Labels: none

Apply suggestions from code review
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

more updates
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

Apply suggestions from code review
  docs/src/modules/concepts/pages/deployment-model.adoc
Labels: documentation

strange
  docs/src/modules/concepts/pages/state-model.adoc
Labels: documentation

runtime 1.4.1
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: Antora UI theme source details in README
  docs/README.md
Labels: documentation

docs: Add a sample snippet to the streaming docs
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
Labels: documentation

stream updates snippet that makes more sense, also include snippet for non-stream-updates stream
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
  samples/key-value-customer-registry/README.md
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByName.java
Labels: documentation

fix: Fail TestKit startup immediatially if runtime validations fail
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
Labels: java-sdk

docs: Typo 3.4.0 in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Apply suggestions from code review
  docs/src/modules/java/pages/views.adoc
  samples/key-value-customer-registry/README.md
Labels: documentation

adding selfRegion to GrpcRequestContext
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

feat: expose self region and message origin
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TimedActionTestkit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/AbstractTestKitContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  akka-javasdk/src/main/java/akka/javasdk/Context.java
  akka-javasdk/src/main/java/akka/javasdk/OriginAwareContext.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/view/UpdateContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
Labels: java-sdk

formatting
  akka-javasdk/src/main/java/akka/javasdk/Context.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/view/UpdateContext.java
Labels: java-sdk

mention in docs
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/views.adoc
Labels: documentation

Apply suggestions from code review
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/operator-best-practices.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

fix: Shutdown immediately if runtime fails
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

bump: Akka Runtime to 1.4.0-45-df92c0d7-SNAPSHOT
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

feat: checking serialization in entity testkits
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEvent.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/Increased.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/PolyState.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/PolyStateESE.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/Response.java
  samples/doc-snippets/pom.xml
  samples/key-value-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/key-value-counter/src/test/java/com/example/CounterIntegrationTest.java
Labels: java-sdk, documentation

reverting test
  samples/key-value-counter/src/test/java/com/example/CounterIntegrationTest.java
Labels: documentation

updating tests
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserEntityTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerEntityTest.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
  samples/view-store/src/test/java/store/customer/api/CustomerEntityTest.java
  samples/view-store/src/test/java/store/product/api/ProductEntityTest.java
Labels: documentation

kve part
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EntitySerializationChecker.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterValueEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/PolyStateKVE.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UniqueEmailEntityTest.java
  samples/key-value-counter/src/test/java/com/example/CounterTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomerEntityTest.java
Labels: java-sdk, documentation

small improvements
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEvent.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
Labels: java-sdk

fixing docs
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
Labels: java-sdk

PR review
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EntitySerializationChecker.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  samples/doc-snippets/pom.xml
  samples/key-value-counter/src/main/java/com/example/api/CounterEndpoint.java
Labels: java-sdk, documentation
