Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

chore: improved error handling
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UserEntity.java
Labels: kalix-runtime, Documentation

docs: add Get Started link to nav menu
  docs/src/modules/java/nav.adoc
Labels: kalix-runtime, Documentation

fix: workflows serialization issue after restart
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: kalix-runtime, java-sdk

chore: remove obsolete mention to Value Objects
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: kalix-runtime, java-sdk, Documentation

docs: explain types of testing in more depth
  docs/src/modules/concepts/pages/development-process.adoc
Labels: kalix-runtime, Documentation

docs(getting started): update prerequisites
  docs/src/modules/java/pages/getting-started.adoc
Labels: kalix-runtime, Documentation

Operations docs update 1
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/container-registries.adoc
  docs/src/modules/operations/pages/create-project.adoc
  docs/src/modules/operations/pages/deploy-service.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/integrate-cicd.adoc
  docs/src/modules/operations/pages/invoke-service.adoc
  docs/src/modules/operations/pages/observability-and-monitoring.adoc
  docs/src/modules/operations/pages/organizations.adoc
  docs/src/modules/operations/pages/projects.adoc
  docs/src/modules/operations/pages/services.adoc
Labels: kalix-runtime, Documentation

chore: Misspelled package name
  samples/doc-snippets/src/main/java/com/example/application/Result.java
Labels: kalix-runtime, Documentation

bump: Scala 2.13.15
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  project/Dependencies.scala
Labels: kalix-runtime

feat: workflow replication - handling UpdateState
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk

docs: Fix some outdated sample READMEs
  samples/eventsourced-customer-registry-subscriber/README.md
  samples/eventsourced-customer-registry/README.md
  samples/eventsourced-shopping-cart/README.md
  samples/transfer-workflow/README.md
Labels: kalix-runtime, Documentation

docs: Clean out some old sample README stuff
  samples/customer-registry-quickstart/README.md
  samples/customer-registry-views-quickstart/README.md
  samples/eventsourced-counter/README.md
  samples/eventsourced-customer-registry/README.md
Labels: kalix-runtime, Documentation

Akka antora theme
  docs/antora-playbook-local.yml
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/bundle/archive/kalix-theme-ui-001-bundle.zip
  docs/supplemental_ui/img/favicon/android-chrome-192x192.png
  docs/supplemental_ui/img/favicon/android-chrome-512x512.png
  docs/supplemental_ui/img/favicon/apple-touch-icon.png
  docs/supplemental_ui/img/favicon/favicon-16x16.png
  docs/supplemental_ui/img/favicon/favicon-32x32.png
  docs/supplemental_ui/img/favicon/favicon.ico
  docs/supplemental_ui/img/favicon/site.webmanifest
  docs/supplemental_ui/js/vendor/highlight.bundle.js
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
  docs/supplemental_ui/partials/footer-scripts-supplemental.hbs
  docs/supplemental_ui/partials/head-icons.hbs
  docs/supplemental_ui/partials/head-info.hbs
  docs/supplemental_ui/partials/head-meta.hbs
  docs/supplemental_ui/partials/head-scripts.hbs
  docs/supplemental_ui/partials/supergroups.hbs
Labels: kalix-runtime, Documentation

chore: Customer not found
  samples/eventsourced-customer-registry/src/main/java/customer/application/CustomerEntity.java
Labels: kalix-runtime, Documentation

update homepage grid to use css grid, remove table
  docs/src/modules/ROOT/pages/index.adoc
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
Labels: kalix-runtime, Documentation

chore: fail fast id checks in component client
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  samples/eventsourced-customer-registry/README.md
Labels: kalix-runtime, java-sdk, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

Documentation:
  - docs/**/*
  - samples/**/*
