Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

fix in another way
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

Drop some delete state, bump akka
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

docs: Release notes for 1.4.14 and 1.2.19
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Auto PR - Akka Runtime version 1.4.14 (#548)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

docs: announce Akkademy course in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: function tool needs to be agent method
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

fix tag
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feat: ValueAlias to reduce annotation verbosity
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/ValueAlias.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ReflectSpec.scala
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: java-sdk, documentation

throw exp if field is required and not set
  akka-javasdk/src/main/java/akka/javasdk/annotations/ValueAlias.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/java/akka/javasdk/annotations/OptionalDescription.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ReflectSpec.scala
Labels: java-sdk

bump: runtime-1.4.14-58a2946-2
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

bump: runtime-1.4.14-58a2946-2 (#557)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

fix: map tool request and responses to context msg
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

fix bad merge
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

Update docs/src/modules/java/pages/ai-coding-assistant.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

docs: announce Akkademy course in release notes (#553)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: Release notes for 1.4.14 and 1.2.19 (#551)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: fix formatting issue in session memory (#550)
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

chore: Make AI coding guidelines fully copy-pasteable (#547)
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

docs: function tool needs to be agent method (#554)
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

fix: map tool request and responses to context msg (#552)
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat: TestModelProvider in testkit, and docs
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/OverrideModelProvider.scala
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/resources/include-dev-loggers.xml
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
  samples/multi-agent/src/test/java/io/akka/ai/IntegrationTest.java
Labels: java-sdk, documentation

change test, tokenize by word
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
Labels: none

include path
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feedback
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feat: TestModelProvider in testkit, and docs (#549)
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/OverrideModelProvider.scala
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/resources/include-dev-loggers.xml
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
  samples/multi-agent/src/test/java/io/akka/ai/IntegrationTest.java
Labels: java-sdk, documentation

chore: Run multi-agent tests without api key
  .github/workflows/ci.yml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
Labels: java-sdk, documentation

feat: Remote MCP server tools
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
Labels: java-sdk

chore: Run multi-agent tests without api key (#558)
  .github/workflows/ci.yml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
Labels: java-sdk, documentation

docs: Model provider details
  Makefile
  akka-javasdk/src/main/resources/reference.conf
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: java-sdk, documentation

some more and formatting
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
Labels: java-sdk

docs: Update llms.txt with agent docs and samples
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: Model provider details (#561)
  Makefile
  akka-javasdk/src/main/resources/reference.conf
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: java-sdk, documentation

docs: Update llms.txt with agent docs and samples (#562)
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

feat: agent tracing
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/AgentComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Update samples to 3.4.0-M4
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation

chore: Update samples to 3.4.0-M4 (#563)
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation

improvements after merge
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
Labels: java-sdk

fix(docs): duplicate release notes heading
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

bump runtime to v1.4.14-06029c8
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

fixed compilation
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk
