Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

ci: use public url to publish
  .github/workflows/publish-sample-images.yml
Labels: none

test hook
  .github/workflows/publish-sample-images.yml
Labels: none

remove test hook, add m2 cache
  .github/workflows/publish-sample-images.yml
Labels: none

disable UserActivityEntity if allocation rules are empty
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityEntity.java
Labels: documentation

temp checkin - working on docs
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  docs/src/modules/java/pages/shopping-cart/index.adoc
  docs/src/modules/java/pages/shopping-cart/quickstart.adoc
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

finishing up shopping cart step 2 docs
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  docs/src/modules/java/pages/shopping-cart/index.adoc
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/domain/ShoppingCartState.java
Labels: documentation

cart by user only returns the active cart
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartView.java
Labels: documentation

wip: add code formatting
  samples/capacity-allocation/pom.xml
Labels: documentation

disable UserActivityEntity if allocation rules are empty
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityEntity.java
Labels: documentation

wip: apply code formatting
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

wip: return 403 for rejected reservations
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

wip: add application level health check endpoint
  samples/capacity-allocation/src/main/java/com/example/api/HealthCheckEndpoint.java
Labels: documentation

build: Remove references to image, not used anymore anyway
  build.sbt
  project/Dependencies.scala
Labels: none

chore: license bump
  LICENSE
Labels: none

fixing version
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

chore: 3.2.3 release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

interim push containing feedback refactors
  samples/shopping-cart-with-view-quickstart/README.md
  samples/shopping-cart-with-view-quickstart/pom.xml
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/domain/UserEvent.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-with-view-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
Labels: documentation

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_services_components.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_services_components_get-state.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_services_components_get-workflow.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_services_components_list-events.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_services_components_list-ids.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_organizations_users.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_organizations_users_list-bindings.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_projects_regions.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_projects_regions_remove.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_components.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_components_get-state.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_components_get-workflow.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_components_list-events.adoc
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
Labels: documentation

finishing up review changes and docs
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  samples/shopping-cart-with-view-quickstart/README.md
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/UserEntity.java
Labels: documentation

typo
  docs/src/modules/java/pages/shopping-cart/addview.adoc
Labels: documentation

fix(docs): duplicate Key Value Entities docs link
  docs/src/modules/java/pages/components/index.adoc
Labels: documentation

tweaks from PR feedback
  .github/workflows/pr-akka-samples.yml
  samples/shopping-cart-addview/.bundleignore
  samples/shopping-cart-addview/.gitignore
  samples/shopping-cart-addview/LICENSE
  samples/shopping-cart-addview/README.md
  samples/shopping-cart-addview/pom.xml
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/UserEvent.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-addview/src/main/resources/application.conf
  samples/shopping-cart-addview/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-addview/src/main/resources/include-loggers.xml
  samples/shopping-cart-addview/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

fixing source references
  docs/src/modules/java/pages/shopping-cart/addview.adoc
Labels: documentation

switching internal cart ID from uuid to monotonic int
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/UserEvent.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/UserState.java
Labels: documentation

docs: Akka CLI 3.0.14 entry in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

keep vale happy
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

another sample rename. finishing up docs and README
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  samples/shopping-cart-addview/README.md
  samples/shopping-cart-with-view/.bundleignore
  samples/shopping-cart-with-view/.gitignore
  samples/shopping-cart-with-view/LICENSE
  samples/shopping-cart-with-view/README.md
  samples/shopping-cart-with-view/pom.xml
  samples/shopping-cart-with-view/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserEvent.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-with-view/src/main/resources/application.conf
  samples/shopping-cart-with-view/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-with-view/src/main/resources/include-loggers.xml
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

vale style fix
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

chore: using the same conventions for Views implementation is samples
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UsersByCountryView.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueViewEnrichment.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByEmailView.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/Customer.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomerEntries.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomerEntry.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomersList.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomersByEmailView.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomersByNameView.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerEntries.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerEntry.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerRow.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomersList.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomerSummaryByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByEmail.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersResponseByName.java
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransfersView.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
Labels: documentation

Update samples/shopping-cart-with-view/README.md
  samples/shopping-cart-with-view/README.md
Labels: documentation

Update samples/shopping-cart-with-view/README.md
  samples/shopping-cart-with-view/README.md
Labels: documentation

Update samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
Labels: documentation

Update samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
Labels: documentation

Update samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
Labels: documentation

more review cleanup
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
Labels: documentation

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
Labels: documentation

Correct version; release notes
  Makefile
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: moving part of cli to operations
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/cli/command-completion.adoc
  docs/src/modules/operations/pages/cli/index.adoc
  docs/src/modules/operations/pages/cli/installation.adoc
  docs/src/modules/operations/pages/cli/using-cli.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
  docs/src/modules/reference/pages/cli/index.adoc
  docs/src/modules/reference/pages/index.adoc
Labels: documentation

pointing back to CLI commands
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/operations/pages/cli/index.adoc
Labels: documentation

removing unnecessary TODOS
  docs/src/modules/operations/pages/cli/using-cli.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
