Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_auth_tokens_create.adoc
Labels: documentation

Release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: new workflow spi adt
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

update runtime
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

chore: Remove Discovery
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DiscoverySpec.scala
  project/Dependencies.scala
Labels: java-sdk

remove service descriptors and stuff
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProtoDescriptorGenerator.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Service.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ComponentDescriptorSuite.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DescriptorPrinter.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/KeyValueEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/WorkflowEntityDescriptorFactorySpec.scala
Labels: java-sdk

update runtime
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  project/Dependencies.scala
Labels: java-sdk

remove some more kalix.protocol
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
Labels: java-sdk

chore: Cleanup JsonSUpport
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/JsonSupportSpec.scala
  samples/event-sourced-counter-brokers/src/it/java/counter/application/CounterWithRealKafkaIntegrationTest.java
Labels: java-sdk, documentation

update docs, IllegalArgumentExc instead of JsonProcessingException
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  docs/src/modules/java/pages/serialization.adoc
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: java-sdk, documentation

remove exc in test
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: documentation

chore: Cleanup AnySupport
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
Labels: java-sdk

chore: Move some reflect out of entity instance
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

ExampleEndpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
Labels: documentation

revert doc sample
  docs/src/modules/java/pages/serialization.adoc
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: documentation

deprecate the dynamic, move to JsonSerializer
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

chore: make workflow stateless
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

removed superfluous try block
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

chore: Missing metadata in reply
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Format reportError log
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

samples: Update README in JWT sample
  samples/endpoint-jwt/README.md
  samples/event-sourced-counter-brokers/README.md
Labels: documentation

runtime release v1.3.0-98fe2a3
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

feat: Allow recursive view types
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewSchemaSpec.scala
Labels: java-sdk

Split out view specific integration tests to their own test class
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewSchemaSpec.scala
Labels: java-sdk

end to end test for all the field types in row state
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
Labels: java-sdk

chore: Re-introduce trace spans for timed actions and consumers
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
Labels: java-sdk

chore: endpoint request header follow up and docs
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: java-sdk, documentation

chore: adding class name to descriptors
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

runtime version bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

Update curl to match code change
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

chore: aligning view store sample
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/views.adoc
  samples/view-store/README.md
  samples/view-store/src/main/java/store/customer/api/CustomerEndpoint.java
  samples/view-store/src/main/java/store/customer/application/CustomerEntity.java
  samples/view-store/src/main/java/store/order/api/OrderEndpoint.java
  samples/view-store/src/main/java/store/order/application/CreateOrder.java
  samples/view-store/src/main/java/store/order/application/OrderEntity.java
  samples/view-store/src/main/java/store/order/view/joined/CustomerOrder.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/model/Customer.java
  samples/view-store/src/main/java/store/order/view/model/Product.java
  samples/view-store/src/main/java/store/order/view/nested/CustomerOrder.java
  samples/view-store/src/main/java/store/order/view/nested/CustomerOrders.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/CustomerOrders.java
  samples/view-store/src/main/java/store/order/view/structured/CustomerShipping.java
  samples/view-store/src/main/java/store/order/view/structured/ProductOrder.java
  samples/view-store/src/main/java/store/order/view/structured/ProductValue.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
  samples/view-store/src/main/java/store/product/api/ProductEndpoint.java
  samples/view-store/src/main/java/store/product/application/ProductEntity.java
  samples/view-store/src/test/java/store/customer/api/CustomerEntityTest.java
  samples/view-store/src/test/java/store/product/api/ProductEntityTest.java
  samples/view-store/src/test/java/store/view/StoreViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: documentation

fixing tests
  samples/view-store/src/test/java/store/customer/api/CustomerEntityTest.java
  samples/view-store/src/test/java/store/product/api/ProductEntityTest.java
Labels: documentation

chore: rename ES testkit utility method
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedResult.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
Labels: java-sdk

renaming view models
  samples/view-store/src/main/java/store/order/api/OrderEndpoint.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrders.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrders.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: documentation

deprecating instead of removing didEmitEvents
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedResult.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
Labels: java-sdk

fix(docs): clarify IntelliJ setup instructions
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

fix(docs): developer service deletion permissions
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
Labels: documentation

chore: removing metadata from timed action effect impl
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TimedActionResultImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
Labels: java-sdk

chore: descriptor factories clean up
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterCommand.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MethodInvoker.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ResolvedServiceMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/TimedActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
Labels: java-sdk

fixed comparison
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TimedActionResultImpl.scala
Labels: java-sdk
