Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

chore: Agent single command handler in guidelines
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

chore: Agent single command handler in guidelines (#723)
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

docs: Add IntelliJ IA assistant instructions
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

docs: Add IntelliJ IA assistant instructions (#724)
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

chore: Update llms.txt (#722)
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

docs: Include akka code init in getting started
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/quick-install-cli.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: Akka 2.10.7 in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: Add PreferencesEntityTest
  samples/multi-agent/src/test/java/demo/multiagent/application/PreferencesEntityTest.java
Labels: documentation

chore: Add ActivityViewTest
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
Labels: documentation

bump: SDK version 3.4.1
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

docs: Akka 2.10.7 in release notes (#727)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

feat: eventing testkit should accept component class instead of component id
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/junit/jupiter/TestkitExtension.java
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterByValueViewTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterStoreUpdaterTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerStoreUpdaterTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
Labels: java-sdk, documentation

fix: TestModelProvider should match in opposite order
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
Labels: java-sdk

bump: SDK version 3.4.1 (#728)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

chore: Add ActivityEndpointIntegrationTest with end-to-end interactions
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/test/java/demo/multiagent/api/ActivityEndpointIntegrationTest.java
Labels: documentation

fix: TestModelProvider should match in opposite order (#730)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
Labels: java-sdk

feat: eventing testkit should accept component class instead of component id (#729)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/junit/jupiter/TestkitExtension.java
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterByValueViewTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterStoreUpdaterTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerStoreUpdaterTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
Labels: java-sdk, documentation

chore: Add missing .bundleignore
  samples/transfer-workflow-orchestration/.bundleignore
Labels: documentation

chore: Add missing .bundleignore (#733)
  samples/transfer-workflow-orchestration/.bundleignore
Labels: documentation

build: Update to new runner and use whitelist URL (#721)
  .github/workflows/ci.yml
  .github/workflows/delete-pr-caches.yml
  .github/workflows/docs-cli-updates.yml
  .github/workflows/docs-prod.yml
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
  .github/workflows/documentation.yml
  .github/workflows/fossa.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-akka-samples.yml
  .github/workflows/publish-sample-images.yml
  .github/workflows/publish.yml
  .github/workflows/update-sdk-version.yml
  CONTRIBUTING.md
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  project/Common.scala
  project/plugins.sbt
Labels: java-sdk

docs: Include akka code init in getting started (#725)
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/quick-install-cli.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

chore: Adding more tests to multi-agent sample (#732)
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/test/java/demo/multiagent/api/ActivityEndpointIntegrationTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/PreferencesEntityTest.java
Labels: documentation

docs(operations): self-managed vs automated
  docs/src/modules/ROOT/partials/service-packaging.adoc
  docs/src/modules/concepts/images/packed-services.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/operations/pages/index.adoc
Labels: documentation

docs: Improve JavaDoc of KeyValueEntity
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntityContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/package-info.java
Labels: java-sdk

human edit
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
Labels: java-sdk

immutable state
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
Labels: java-sdk

lowercase id
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntityContext.java
Labels: java-sdk

docs: glossary format
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

chore: adding trace context
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
Labels: java-sdk

docs(landing-page): use agentic system concepts
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

docs: update component composability diagram
  docs/src/modules/concepts/images/component-composition.png
Labels: documentation

fmt
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntityContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/package-info.java
Labels: java-sdk

move immutable
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
Labels: java-sdk

move replication
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
Labels: java-sdk

chore: Update shopping cart according to coding guidelines
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/User.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

move replication
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
Labels: java-sdk

lowercase id
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntityContext.java
Labels: java-sdk

docs: Improve JavaDoc of EventSourcedEntity
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntityContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/package-info.java
Labels: java-sdk

updated code snippet
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
Labels: java-sdk

immutable state
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
Labels: java-sdk
