Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

chore: missing run config
  samples/event-sourced-counter-brokers/.idea/runConfigurations/Run_locally.xml
Labels: documentation

chore: missing run locally configs
  samples/endpoint-jwt/.idea/runConfigurations/Run_locally.xml
Labels: documentation

docs: SDK 3.0.1 release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

metadata
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
Labels: java-sdk

docs: add local console to getting started guide
  docs/src/modules/java/images/hello-world-local-console.png
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

docs: add local console to getting started guide
  docs/src/modules/java/images/hello-world-local-console.png
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

Correct archetype usage instructions
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

chore: use AkkaRuntimeMain
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

Use attribute substitution in CLI version refs
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/reference/pages/cli/installation.adoc
Labels: documentation

chore: Rewrite serialization
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Remove (most of) EventSourcedEntitiesImpl
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
Labels: java-sdk

rewrite ReflectiveEventSourcedEntityRouter
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandSerialization.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/scala/akka/javasdk/JsonSupportSpec.scala
Labels: java-sdk

handle proto commands
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

test of primitives
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
Labels: java-sdk

more tests from JsonSupportSpec
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
Labels: java-sdk

fixme comment
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
Labels: java-sdk

fixme comment
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
Labels: java-sdk

update runtime
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
Labels: documentation

Release notes entry
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Extract minimal CLI install
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

correct names for using the archetype
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

chore: Workflow SPI
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/TestProtocol.scala
  project/Dependencies.scala
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
Labels: java-sdk, documentation

revert samples versions
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
Labels: documentation

Add example output. Formatting, consistency.
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

chore: removing 'it' profile
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/choreography-saga-quickstart/src/test/resources/application.conf
  samples/endpoint-jwt/src/test/java/hellojwt/api/HelloJwtIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealKafkaIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-counter/src/test/java/com/example/CounterIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIntegrationTest.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/spring-dependency-injection/src/test/java/com/example/CounterIntegrationTest.java
  samples/spring-dependency-injection/src/test/java/com/example/FixedClock.java
  samples/spring-dependency-injection/src/test/java/com/example/TestEmailSender.java
  samples/spring-dependency-injection/src/test/resources/application.properties
  samples/tracing/src/test/java/com/example/IntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/domain/WalletTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/view-store/src/test/java/store/view/StoreViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: java-sdk, documentation

renaming '*IntegrationTest' to
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/HelloWorldIT.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIT.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIT.java
  samples/doc-snippets/src/test/java/com/example/MyIT.java
  samples/doc-snippets/src/test/java/com/example/acl/UserEndpointIT.java
  samples/doc-snippets/src/test/java/com/example/jwt/JwtIT.java
  samples/endpoint-jwt/src/test/java/hellojwt/api/HelloJwtIT.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIT.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealKafkaIT.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIT.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIT.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerRegistryIT.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIT.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIT.java
  samples/key-value-counter/src/test/java/com/example/CounterIT.java
  samples/key-value-customer-registry/src/test/java/customer/CustomerIT.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIT.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIT.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIT.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIT.java
  samples/spring-dependency-injection/src/test/java/com/example/CounterIT.java
  samples/tracing/src/test/java/com/example/TracingIT.java
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIT.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIT.java
  samples/transfer-workflow/src/test/java/com/example/transfer/TransferWorkflowIT.java
  samples/view-store/src/test/java/store/view/StoreViewIT.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIT.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIT.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIT.java
Labels: java-sdk, documentation

updating docs and updating class names (updating file names wan't enough)
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/views.adoc
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIT.java
  samples/doc-snippets/src/test/java/com/example/MyIT.java
  samples/doc-snippets/src/test/java/com/example/acl/UserEndpointIT.java
  samples/doc-snippets/src/test/java/com/example/jwt/JwtIT.java
  samples/endpoint-jwt/src/test/java/hellojwt/api/HelloJwtIT.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIT.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealKafkaIT.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIT.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIT.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerRegistryIT.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIT.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIT.java
  samples/key-value-counter/src/test/java/com/example/CounterIT.java
  samples/key-value-customer-registry/src/test/java/customer/CustomerIT.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIT.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIT.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIT.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIT.java
  samples/spring-dependency-injection/src/test/java/com/example/CounterIT.java
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIT.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIT.java
  samples/transfer-workflow/src/test/java/com/example/transfer/TransferWorkflowIT.java
  samples/view-store/src/test/java/store/view/StoreViewIT.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIT.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIT.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIT.java
Labels: documentation

adding missing failsafe plugin
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

consumer and timedaction, and other changes with latest spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/CommandEnvelope.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/TimedAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Service.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ComponentDescriptorSuite.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DescriptorPrinter.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ParameterExtractorsSpec.scala
  project/Dependencies.scala
Labels: java-sdk

temporary proto conversion in ConsumerImpl
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
Labels: java-sdk

docs: review support pages
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

chore: Use JsonSerializer in EventingTestKit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-testkit/src/test/scala/akka/javasdk/testkit/impl/IncomingMessagesImplSpec.scala
  akka-javasdk-testkit/src/test/scala/akka/javasdk/testkit/impl/OutgoingMessagesImplSpec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

chore: Still PbAny in KeyValueEntitiesImpl
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/EffectSupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/SecondaryEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
Labels: java-sdk

chore: Workflow SPI
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/TestProtocol.scala
Labels: java-sdk

chore: Remove JsonMessageCodec
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonMessageCodecSpec.scala
Labels: java-sdk

chore: consuming and producing without proto desc SDK changes
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/AbstractInbetweenKvEntity2.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
Labels: java-sdk

missing import
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

Update akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

Update akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
