Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

remove stale comment
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
Labels: java-sdk

Something about auth, something about testing
  docs/src/modules/java/pages/mcp-endpoints.adoc
Labels: documentation

feat(agent): limit memory by byte size instead of number of msgs (#487)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat(agent): limit memory by byte size instead of number of msgs
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

adding more details to events and address feedback
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
Labels: java-sdk

better names
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
Labels: java-sdk

revert changes to disable (to be included in another pr)
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

refactor and adding history limit
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

enable/disable memory by config
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

add javadocs
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
Labels: java-sdk

feat: adding read/write only modes and custom memory
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

feat: workflows tracing
  akka-javasdk/src/main/scala/akka/javasdk/impl/Contexts.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

docs: overhaul landing page for agentic AI
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

Update docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

docs: getting-started section with tutorial
  docs/src/antora.yml
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/java/nav.adoc
Labels: documentation

docs: move add view guide to getting started
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/java/nav.adoc
Labels: documentation

Update docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

docs: move shopping cart to getting-started
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/nav.adoc
Labels: documentation

docs: rename shopping cart tutorials
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
Labels: documentation

docs: rename "Developing" section to "Building"
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/index.adoc
Labels: documentation

docs: move tutorials, samples, update landing page
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/nav.adoc
Labels: documentation

docs: add getting started tip for first-time users
  docs/src/modules/getting-started/pages/index.adoc
Labels: documentation

docs: format tutorials as tables by level
  docs/src/modules/getting-started/pages/index.adoc
Labels: documentation

docs: move and retitle AI RAG agent tutorials
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/nav.adoc
Labels: documentation

intro desc
  docs/src/modules/getting-started/pages/index.adoc
Labels: documentation

docs: rename understanding to concepts
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

docs: rename to Developing
  docs/src/modules/java/pages/index.adoc
Labels: documentation

docs: AI concepts video
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/ai-concepts-video.adoc
Labels: documentation

docs: combine ops sections
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/configuring.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/self-managed/nav.adoc
Labels: documentation

Developing
  docs/src/modules/java/nav.adoc
Labels: documentation

move concepts up
  docs/src/antora.yml
Labels: documentation

reorg
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/akka-platform.adoc
  docs/src/modules/operations/pages/index.adoc
Labels: documentation

docs: remove self-managed section and update nav
  docs/src/antora.yml
  docs/src/modules/operations/pages/akka-platform.adoc
  docs/src/modules/self-managed/nav.adoc
  docs/src/modules/self-managed/pages/index.adoc
Labels: documentation

build: Publish wip docs from agent-dev, for now
  .github/workflows/docs-wip.yml
Labels: none

docs: add missing command to start the app
  samples/ask-akka-agent/README.md
Labels: documentation

build: Don't publish sample image for pre-releases
  .github/workflows/publish-sample-images.yml
Labels: none

docs: add missing command to start the app (#493)
  samples/ask-akka-agent/README.md
Labels: documentation

build: Publish wip docs from agent-dev, for now (#492)
  .github/workflows/docs-wip.yml
Labels: none

build: Don't publish sample image for pre-releases (#494)
  .github/workflows/publish-sample-images.yml
Labels: none

fix outdated name
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk
