Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

some deprecation markers
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffects.scala
Labels: java-sdk

chore: update labeller action (#782)
  .github/workflows/labeler.yml
Labels: none

docs(concepts): update Saga patterns guidance
  docs/src/modules/concepts/pages/saga-patterns.adoc
Labels: documentation

fix: wiring service class when it doesn't extend `ServiceSetup`
  .github/workflows/labeler.yml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

fix: wiring service class when it doesn't extend `ServiceSetup`
  .github/workflows/labeler.yml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

reverting labeler
  .github/workflows/labeler.yml
Labels: none

reverting labeler
  .github/workflows/labeler.yml
Labels: none

reverting labeler
  .github/workflows/labeler.yml
Labels: none

chore(docs): tidy up data diagram (#774)
  docs/src/modules/concepts/images/shard-rebalance-data.png
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
