Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

spec actually says to put the jsonrpc string in _every_ request and response :/
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

correct batch responses, notifications don't have a response
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

some more work on JSON RPC with added test coverage
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

initial handling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpcEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

WIP MCP protocol representation
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

some progress
  akka-javasdk/src/main/scala/akka/http/scaladsl/SseTrickery.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

initial tool calling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

Resource listing, resource template listing and resource fetching working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  samples/key-value-customer-registry/src/main/resources/static-resources/index.html
Labels: java-sdk, documentation

init and list resources working
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

reachable from the outside (acl and right return type)
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

Started playing around with A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

drop A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

customized serializers working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

missing id in response error _must_ be null
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

started on user API
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
Labels: java-sdk

started on more serious ser/deser of the json rpc envelopes
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

more work on hooking up mcp servers
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

API for manual schema
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

mcp spec compiling
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

wrong path in one place in annotation processor
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
Labels: java-sdk

started on example endpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: documentation

Basic resource list/fetch and tool list and call working from inspector
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
Labels: java-sdk, documentation

reflectively generated input schema for tools
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpToolParameterDescription.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

ping RPC method
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

initial docs, tool annotations, work on reflective input schema
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpEndpointDescriptorFactorySpec.scala
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/mcp-endpoints.adoc
Labels: java-sdk, documentation

updated example mcp enpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: documentation

Protocol handling moved to runtime (not compiling because of runtime version)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  project/Dependencies.scala
Labels: java-sdk

some work on multiple parameters as tool input
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

json schema for method parameters
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/Description.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

snap release of runtime with MCP support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

multi param tool working with inspector
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

some progress on using SPI instead of local impl
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpEndpointDescriptorFactorySpec.scala
  project/Dependencies.scala
Labels: java-sdk

vale, formatting
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: java-sdk, documentation

added some test coverage
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

Something about auth, something about testing
  docs/src/modules/java/pages/mcp-endpoints.adoc
Labels: documentation

Access to request headers
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

resource templates with callbacks
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResourceTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  docs/src/modules/java/pages/mcp-endpoints.adoc
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

more work
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpPrompt.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResourceTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

bump runtime snapshot
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

chore: Remove docs errors
  docs/src/modules/java/pages/ask-akka/rag.adoc
  docs/src/modules/java/pages/ask-akka/session.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
