Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

Documentation:
  - docs/**/*
  - samples/**/*

chore: exclude akka-sdk-spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

chore: rename kcr properties
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/java-choreography-saga-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-spring-dependency-injection/pom.xml
  samples/java-tracing/pom.xml
  samples/java-transfer-workflow-compensation/pom.xml
  samples/java-transfer-workflow/pom.xml
  samples/java-valueentity-counter/effective-pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/effective-pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

chore: remove some kalix leftovers
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/pubsub/EventingTestkitDestinationIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/WorkflowIntegrationTest.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  samples/java-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-eventsourced-counter/src/it/java/com/example/CounterIntegrationWithRealPubSubTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/java-valueentity-customer-registry/src/it/java/customer/view/CustomersByCityIntegrationTest.java
  samples/java-view-store/src/it/java/store/view/StoreViewIntegrationTest.java
Labels: kalix-runtime, java-sdk, Documentation

feat: supporting Result as command response type
  akka-javasdk-testkit/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/Result.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonMessageCodecSpec.scala
Labels: kalix-runtime, java-sdk

chore: Rename config paths
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  docs/src/modules/java-protobuf/pages/running-locally.adoc
  docs/src/modules/java/pages/running-locally.adoc
  project/Dependencies.scala
  samples/java-doc-snippets/docker-compose.yml
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
Labels: kalix-runtime, java-sdk, Documentation

chore: drop 'java-' prefix in readme
  samples/eventsourced-customer-registry-subscriber/README.md
Labels: kalix-runtime, Documentation

fix: handle ignoreUnknown in Consumer component
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  samples/eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicConsumer.java
Labels: kalix-runtime, java-sdk, Documentation

chore: prepare for 3.0.0-M4
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/customer-registry-quickstart/pom.xml
  samples/customer-registry-views-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/eventsourced-counter/pom.xml
  samples/eventsourced-customer-registry-subscriber/pom.xml
  samples/eventsourced-customer-registry/pom.xml
  samples/eventsourced-shopping-cart/pom.xml
  samples/fibonacci-action/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/valueentity-counter/pom.xml
  samples/valueentity-customer-registry/pom.xml
  samples/valueentity-shopping-cart/pom.xml
  samples/view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

chore: remove snasphot from repo name
  samples/choreography-saga-quickstart/pom.xml
  samples/customer-registry-quickstart/pom.xml
  samples/customer-registry-views-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/eventsourced-counter/pom.xml
  samples/eventsourced-customer-registry-subscriber/pom.xml
  samples/eventsourced-customer-registry/pom.xml
  samples/eventsourced-shopping-cart/pom.xml
  samples/fibonacci-action/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/valueentity-counter/effective-pom.xml
  samples/valueentity-counter/pom.xml
  samples/valueentity-customer-registry/pom.xml
  samples/valueentity-shopping-cart/effective-pom.xml
  samples/valueentity-shopping-cart/pom.xml
  samples/view-store/pom.xml
Labels: kalix-runtime, Documentation

fix: drop 'java-' prefix from spring sample
  project/SamplesCompilationProject.scala
Labels: kalix-runtime

feat: add dependencies to akka stream
  project/Dependencies.scala
Labels: kalix-runtime

feat: validation about missing Consume annotation
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/subscriptions/PubSubTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

chore Settings from SDK to runtime via SPI
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/pubsub/EventingTestkitDestinationIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/pubsub/EventingTestkitIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/pubsub/TestkitConfigEventing.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/WorkflowIntegrationTest.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ApplicationConfig.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcClients.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/DiscoverySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/GrpcClientsSpec.scala
  project/Dependencies.scala
  samples/doc-snippets/docker-compose.yml
  samples/valueentity-counter/effective-pom.xml
  samples/valueentity-shopping-cart/effective-pom.xml
  samples/view-store/src/it/java/store/view/StoreViewIntegrationTest.java
Labels: kalix-runtime, java-sdk, Documentation

feat: validate effect type
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

feat: Streaming view query results
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentStreamMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentStreamMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ViewClient.java
  akka-javasdk/src/main/java/akka/javasdk/view/View.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/NotPublicComponents.java
  akka-javasdk/src/test/java/akka/javasdk/impl/view/NotPublicView.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  project/Dependencies.scala
  samples/customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
Labels: kalix-runtime, java-sdk, Documentation

chore: Update sample "java-tracing" for the new SDK #XXX
  samples/tracing/README.md
  samples/tracing/pom.xml
  samples/tracing/src/main/java/com/example/tracing/TracingSetup.java
  samples/tracing/src/main/java/com/example/tracing/api/GetRandomNameConsumer.java
  samples/tracing/src/main/java/com/example/tracing/api/GetRandomPhotoConsumer.java
  samples/tracing/src/main/java/com/example/tracing/api/RandomUserApi.java
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/api/UserEntity.java
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
  samples/tracing/src/main/java/com/example/tracing/domain/Typicode.java
  samples/tracing/src/main/java/com/example/tracing/domain/User.java
  samples/tracing/src/main/java/com/example/tracing/domain/UserEvent.java
  samples/tracing/src/main/resources/application.conf
Labels: kalix-runtime, Documentation

feat: Stream updates from views
  akka-javasdk/src/main/java/akka/javasdk/annotations/Query.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  samples/customer-registry-quickstart/README.md
  samples/customer-registry-views-quickstart/README.md
  samples/customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
Labels: kalix-runtime, java-sdk, Documentation

chore: cleaning up the HTTP client
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/HostAndPort.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/HostAndPortSpec.scala
  samples/eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomersByNameViewIntegrationTest.java
Labels: kalix-runtime, java-sdk, Documentation

doc: Intro rewrite
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/endpoints.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/publishing-subscribing.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/maven-archetype.adoc
Labels: kalix-runtime, Documentation

fix: re-add IntelliJ run config
  .gitignore
  samples/choreography-saga-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/customer-registry-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/customer-registry-views-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/doc-snippets/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-counter/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-customer-registry-subscriber/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/fibonacci-action/.idea/runConfigurations/Run_locally.xml
  samples/reliable-timers/.idea/runConfigurations/Run_locally.xml
  samples/shopping-cart-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/spring-dependency-injection/.idea/runConfigurations/Run_locally.xml
  samples/tracing/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow-compensation/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-counter/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/view-store/.idea/runConfigurations/Run_locally.xml
Labels: kalix-runtime, Documentation

chore: prepare for 3.0.0-M5
  .github/workflows/fossa.yml
  CONTRIBUTING.md
  LICENSE
  RELEASING.md
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  build.sbt
  docs/Makefile
  docs/release-issue-template.md
  project/Common.scala
  samples/choreography-saga-quickstart/pom.xml
  samples/customer-registry-quickstart/pom.xml
  samples/customer-registry-views-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/eventsourced-counter/pom.xml
  samples/eventsourced-customer-registry-subscriber/pom.xml
  samples/eventsourced-customer-registry/pom.xml
  samples/eventsourced-shopping-cart/pom.xml
  samples/fibonacci-action/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/valueentity-counter/effective-pom.xml
  samples/valueentity-counter/pom.xml
  samples/valueentity-customer-registry/pom.xml
  samples/valueentity-shopping-cart/effective-pom.xml
  samples/valueentity-shopping-cart/pom.xml
  samples/view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

chore: prefix samples in sbt
  project/SamplesCompilationProject.scala
Labels: kalix-runtime

chore: fix bundle problems
  docs/Makefile
  docs/bin/bundle.sh
  samples/choreography-saga-quickstart/.bundleignore
  samples/customer-registry-quickstart/.bundleignore
  samples/customer-registry-views-quickstart/.bundleignore
  samples/shopping-cart-quickstart/.bundleignore
Labels: kalix-runtime, Documentation

Revert "fix: re-add IntelliJ run config"
  .gitignore
  samples/choreography-saga-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/customer-registry-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/customer-registry-views-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/doc-snippets/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-counter/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-customer-registry-subscriber/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/fibonacci-action/.idea/runConfigurations/Run_locally.xml
  samples/reliable-timers/.idea/runConfigurations/Run_locally.xml
  samples/shopping-cart-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/spring-dependency-injection/.idea/runConfigurations/Run_locally.xml
  samples/tracing/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow-compensation/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-counter/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/view-store/.idea/runConfigurations/Run_locally.xml
Labels: kalix-runtime, Documentation

docs: Drop tags in source directory only
  docs/bin/bundle.sh
Labels: kalix-runtime, Documentation

fix: re-add maven run configuration
  akka-javasdk-maven/.gitignore
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.idea/runConfigurations/Run_locally.xml
  samples/choreography-saga-quickstart/.gitignore
  samples/choreography-saga-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/customer-registry-quickstart/.gitignore
  samples/customer-registry-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/customer-registry-views-quickstart/.gitignore
  samples/customer-registry-views-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/doc-snippets/.gitignore
  samples/doc-snippets/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-counter/.gitignore
  samples/eventsourced-counter/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-customer-registry-subscriber/.gitignore
  samples/eventsourced-customer-registry-subscriber/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-customer-registry/.gitignore
  samples/eventsourced-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/eventsourced-shopping-cart/.gitignore
  samples/eventsourced-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/fibonacci-action/.gitignore
  samples/fibonacci-action/.idea/runConfigurations/Run_locally.xml
  samples/reliable-timers/.gitignore
  samples/reliable-timers/.idea/runConfigurations/Run_locally.xml
  samples/shopping-cart-quickstart/.gitignore
  samples/shopping-cart-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/spring-dependency-injection/.gitignore
  samples/spring-dependency-injection/.idea/runConfigurations/Run_locally.xml
  samples/tracing/.gitignore
  samples/tracing/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow-compensation/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow/.gitignore
  samples/transfer-workflow/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-counter/.gitignore
  samples/valueentity-counter/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-customer-registry/.gitignore
  samples/valueentity-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/valueentity-shopping-cart/.gitignore
  samples/valueentity-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/view-store/.gitignore
  samples/view-store/.idea/runConfigurations/Run_locally.xml
Labels: kalix-runtime, java-sdk, Documentation

feat: improved error logging
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: kalix-runtime, java-sdk

chore: ese counter sample
  samples/eventsourced-counter/README.md
  samples/eventsourced-counter/src/it/java/counter/application/CounterIntegrationTest.java
  samples/eventsourced-counter/src/it/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/eventsourced-counter/src/main/java/counter/api/CounterEndpoint.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterCommandFromTopicConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterEntity.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterJournalToTopicConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterJournalToTopicWithMetaConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterTopicSubscriptionConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/SubscribeToRawBytesConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/SubscribeTypeLevelConsumer.java
  samples/eventsourced-counter/src/main/java/counter/domain/CounterEvent.java
  samples/eventsourced-counter/src/main/resources/include-dev-loggers.xml
  samples/eventsourced-counter/src/main/resources/include-loggers.xml
  samples/eventsourced-counter/src/test/java/counter/application/CounterTest.java
Labels: kalix-runtime, Documentation

chore: Drop some HttpResponses factories
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
Labels: kalix-runtime, java-sdk

chore: kve shopping cart sample
  samples/valueentity-shopping-cart/README.md
  samples/valueentity-shopping-cart/effective-pom.xml
  samples/valueentity-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/valueentity-shopping-cart/src/main/java/com/example/application/ShoppingCartConsumer.java
  samples/valueentity-shopping-cart/src/main/java/com/example/application/ShoppingCartDTO.java
  samples/valueentity-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/valueentity-shopping-cart/src/main/java/com/example/domain/ShoppingCart.java
Labels: kalix-runtime, Documentation

chore: drop fibonacci action sample
  .github/workflows/ci.yml
  samples/fibonacci-action/.gitignore
  samples/fibonacci-action/.idea/runConfigurations/Run_locally.xml
  samples/fibonacci-action/LICENSE
  samples/fibonacci-action/README.md
  samples/fibonacci-action/pom.xml
  samples/fibonacci-action/src/it/java/com/example/fibonacci/FibonacciIntegrationTest.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/FibonacciSetup.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/MyDependency.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/api/FibonacciEndpoint.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/api/RequestValidator.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/application/FibonacciTimedAction.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/domain/Fibonacci.java
  samples/fibonacci-action/src/main/java/com/example/fibonacci/domain/Number.java
  samples/fibonacci-action/src/main/resources/application.conf
  samples/fibonacci-action/src/main/resources/include-dev-loggers.xml
  samples/fibonacci-action/src/main/resources/include-loggers.xml
  samples/fibonacci-action/src/test/java/com/example/fibonacci/application/FibonacciTimedActionTest.java
Labels: kalix-runtime, Documentation

docs: update before-you-begin
  docs/src/modules/java/pages/quickstart/before-you-begin.adoc
Labels: kalix-runtime, Documentation

doc: Update event-sourced-entities.adoc
  docs/src/modules/java-protobuf/partials/effects-event-sourced-entity.adoc
  docs/src/modules/java-protobuf/partials/eventsourced-snapshots.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/partials/entity-ids.adoc
  docs/src/modules/java/partials/testing-entity.adoc
  samples/eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/application/ShoppingCartEntity.java
  samples/eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/eventsourced-shopping-cart/src/test/java/com/example/shoppingcart/domain/ShoppingCartTest.java
Labels: kalix-runtime, Documentation

feat: allow passing a different logback file
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

bump: Runtime 1.1.45
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk

fix: use dev log config in tests
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

docs: Component endpoint for es entity
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/partials/component-endpoint.adoc
  samples/eventsourced-shopping-cart/README.md
Labels: kalix-runtime, Documentation

docs: Update entity-ids.adoc
  docs/src/modules/java/partials/entity-ids.adoc
Labels: kalix-runtime, Documentation

bump: Sbt 1.10.2
  project/build.properties
Labels: kalix-runtime

docs: consumer docs
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java-protobuf/partials/pubsub-note.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/publishing-subscribing.adoc
  docs/src/modules/java/partials/eventing-testkit-intro.adoc
  docs/src/modules/java/partials/pubsub-note.adoc
  docs/src/modules/java/partials/topic-note.adoc
  samples/eventsourced-counter/README.md
  samples/eventsourced-counter/src/it/java/counter/application/CounterIntegrationTest.java
  samples/eventsourced-counter/src/it/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterEventsConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterEventsTopicConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterJournalToTopicConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/CounterJournalToTopicWithMetaConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/RawBytesConsumer.java
  samples/eventsourced-counter/src/main/java/counter/application/SubscribeTypeLevelConsumer.java
  samples/eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/eventsourced-customer-registry/src/main/java/customer/api/CustomerEvents.java
  samples/valueentity-shopping-cart/src/main/java/com/example/application/ShoppingCartConsumer.java
Labels: kalix-runtime, Documentation
