Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

Update docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
Labels: documentation

Update docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: none

docs: add local console to getting started guide (#58)
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/images/hello-world-local-console.png
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/reference/pages/cli/installation.adoc
Labels: documentation

docs: review support pages (#64)
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

Revert "docs: review support pages (#64)"
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

Revert "docs: add local console to getting started guide (#58)"
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/images/hello-world-local-console.png
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/reference/pages/cli/installation.adoc
Labels: documentation

fixing import
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIntegrationTest.java
Labels: documentation

removing snapshot version used when testing
  samples/event-sourced-customer-registry/pom.xml
Labels: documentation

using BytesPayload
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  project/Dependencies.scala
Labels: java-sdk

bumping runtime version
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  project/Dependencies.scala
Labels: java-sdk

fixing workflow deserialization
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

enabling workflow tests
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
Labels: none

chore: workflow spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  project/Dependencies.scala
Labels: java-sdk

chore: SDK implementation of KeyValueEntity spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  project/Dependencies.scala
Labels: java-sdk

using BytesPayload.empty for arity 0 methods
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

remove some unused
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/AssignedCounterEntity.java
  akka-javasdk/src/main/java/akka/javasdk/impl/EventSourcedEntityFactory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/KeyValueEntityFactory.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityRouter.scala
Labels: java-sdk

merge WorkflowRouter into ReflectiveWorkflowRouter
  akka-javasdk/src/main/java/akka/javasdk/impl/WorkflowFactory.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
Labels: java-sdk

user state fully managed by runtime
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

simplied Workflow._internal methods
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

chore: Misc cleanup
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
Labels: java-sdk

keep commandId in workflow
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
Labels: java-sdk

removes emptyState from SPI
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

WIP view SPI
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/java/akka/javasdk/view/UpdateContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ReflectiveViewRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewSchemaSpec.scala
  project/Common.scala
  project/Dependencies.scala
Labels: java-sdk

updated to runtime v1.3.0-f2e86bc
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

deprecate command id
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

renaming class
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
Labels: none

chore: typo
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

chore: SDK implementation of KeyValueEntity spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/AssignedCounterEntity.java
  akka-javasdk/src/main/java/akka/javasdk/impl/EventSourcedEntityFactory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/KeyValueEntityFactory.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/test/java/akka/javasdk/eventsourcedentity/CartEntityRouter.java
  akka-javasdk/src/test/java/akka/javasdk/keyvalueentity/CartEntityRouter.java
  project/Dependencies.scala
Labels: java-sdk

docs: platform release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: workflow spi
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk/src/main/java/akka/javasdk/impl/WorkflowFactory.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
Labels: java-sdk

chore: timed action without proto desc
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MethodInvokers.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/TimedActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/eventsourcedentity/CartEntityRouter.java
  akka-javasdk/src/test/java/akka/javasdk/keyvalueentity/CartEntityRouter.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/subscriptions/PubSubTestModels.java
  akka-javasdk/src/test/proto/action/actionspec_api.proto
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ParameterExtractorsSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
  samples/key-value-shopping-cart/src/main/resources/include-dev-loggers.xml
  samples/transfer-workflow/pom.xml
Labels: java-sdk, documentation

chore: timed action without proto desc
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MethodInvokers.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/TimedActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/subscriptions/PubSubTestModels.java
  akka-javasdk/src/test/proto/action/actionspec_api.proto
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ParameterExtractorsSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
  samples/key-value-shopping-cart/src/main/resources/include-dev-loggers.xml
  samples/transfer-workflow/pom.xml
Labels: java-sdk, documentation

disabling IT test for workflow compensation
  .github/workflows/ci.yml
Labels: none

chore: timed action without proto desc
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MethodInvokers.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/TimedActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/subscriptions/PubSubTestModels.java
  akka-javasdk/src/test/proto/action/actionspec_api.proto
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ParameterExtractorsSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
Labels: java-sdk

unused class removed
  akka-javasdk/src/main/scala/akka/javasdk/impl/MethodInvokers.scala
Labels: java-sdk

chore: Misc cleanup
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
Labels: java-sdk

javafmt
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
Labels: java-sdk

grammar
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

chore: misc cleanups
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
Labels: java-sdk
