Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

remove breadcrumbs
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
Labels: documentation

entry instead of row
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
Labels: documentation

rename to AgentTeamWorkflow
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityView.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamWorkflowTest.java
Labels: documentation

docs: Include temperature-monitoring-agent in samples
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

another row
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
Labels: documentation

typo
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

AgentTeamWorkflowTest
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: Clarify workflow docs (#658)
  docs/src/modules/java/pages/workflows.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/TransferWorkflow.java
  samples/doc-snippets/src/main/java/com/example/domain/TransferState.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

docs: Changed heading to distributed-systems.adoc
  docs/src/modules/concepts/pages/distributed-systems.adoc
Labels: documentation

docs(concepts): cloud deployment product name (#659)
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

chore: Refactoring of multi-agent sample, to match the getting started guide (#663)
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/Preferences.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEvent.java
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/multi-agent/README.md
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/api/MultiAgentEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PlannerAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/PreferencesEntity.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SelectorAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SummarizerAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/WeatherServiceImpl.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentRequest.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentResponse.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/Preferences.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/PreferencesEvent.java
  samples/multi-agent/src/main/resources/include-dev-loggers.xml
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamWorkflowTest.java
Labels: documentation

docs: Include temperature-monitoring-agent in samples (#666)
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: Changed heading to distributed-systems.adoc (#667)
  docs/src/modules/concepts/pages/distributed-systems.adoc
Labels: documentation

chore: Update license change date for 3.4.0
  LICENSE
Labels: none

chore: Update license change date for 3.4.0 (#669)
  LICENSE
Labels: none

docs: Release notes for SDK 3.4.0
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

adding table of contents to additional samples page
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: Release notes for SDK 3.4.0 (#670)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: expand delegation and declarative effects
  docs/src/modules/ROOT/partials/declaring-behavior.adoc
  docs/src/modules/ROOT/partials/effect-behavior-and-execution.adoc
  docs/src/modules/concepts/images/component-effects.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/declarative-effects.adoc
Labels: documentation

update table styles
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-006-bundle.zip
Labels: documentation

docs(concepts): more on design principles
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

chore(docs): links and italics
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/ROOT/partials/declaring-behavior.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs: revise landing page intro statement
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

sample: remove extra space in multi-agent created path
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
Labels: documentation

sample: remove extra space in multi-agent created path (#678)
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
Labels: documentation

docs: Incorporate minor workflow feedback
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

chore: One more space in path
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
Labels: documentation

docs: revise landing page intro statement (#677)
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

docs(concepts): more on design principles (#675)
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

chore(docs): links and italics (#676)
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/ROOT/partials/declaring-behavior.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs: Incorporate minor workflow feedback (#679)
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

chore: Support recursive types, and more stdlib types in JsonSchema creation
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

chore: One more space in path (#680)
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
Labels: documentation

formatting
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
Labels: java-sdk

chore: Update release issue
  docs/release-issue-template.md
Labels: documentation

chore: Update release issue (#682)
  docs/release-issue-template.md
Labels: documentation

fix typos
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

adding table of contents to additional samples page (#671)
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

chore: Test coverage for component creation being on virtual thread
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/TestEndpoint.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
Labels: none

chore: Add Akka code init directory
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation
