Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

chore: runtime bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk

Revert "chore: runtime bump"
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk

chore: eventsourced customer registry samples
  samples/java-eventsourced-customer-registry-subscriber/.env
  samples/java-eventsourced-customer-registry-subscriber/README.md
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/CustomerRegistrySubscriberSetup.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomerPublicEvent.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByEmailView.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/domain/Customer.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/domain/CustomersList.java
  samples/java-eventsourced-customer-registry/README.md
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-eventsourced-customer-registry/src/it/resources/logback-test.xml
  samples/java-eventsourced-customer-registry/src/main/java/customer/CustomerRegistrySetup.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEvents.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/application/CustomerByNameView.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/domain/CustomerRow.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/domain/CustomersList.java
  samples/java-eventsourced-customer-registry/src/test/java/customer/application/CustomerEntityTest.java
  samples/java-eventsourced-customer-registry/src/test/resources/logback-test.xml
Labels: kalix-runtime, Documentation

chore: All samples on the release milestone
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/java-choreography-saga-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-spring-dependency-injection/pom.xml
  samples/java-tracing/pom.xml
  samples/java-transfer-workflow-compensation/pom.xml
  samples/java-transfer-workflow/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

chore: All samples need repository config
  samples/java-choreography-saga-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-spring-dependency-injection/pom.xml
  samples/java-tracing/pom.xml
  samples/java-transfer-workflow-compensation/pom.xml
  samples/java-transfer-workflow/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
Labels: kalix-runtime, Documentation

feat: update java-eventsourced-shopping-cart sample to new sdk
  samples/java-eventsourced-shopping-cart/README.md
  samples/java-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/java-eventsourced-shopping-cart/src/it/resources/logback-test.xml
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/api/ShoppingCartEndpoint.java
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/application/ShoppingCartEntity.java
  samples/java-eventsourced-shopping-cart/src/test/java/com/example/shoppingcart/domain/ShoppingCartTest.java
  samples/java-eventsourced-shopping-cart/src/test/resources/logback-test.xml
Labels: kalix-runtime, Documentation

chore: timers sample
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-reliable-timers/README.md
  samples/java-reliable-timers/src/it/java/com/example/OrderEndpointIntegrationTest.java
  samples/java-reliable-timers/src/it/resources/logback-test.xml
  samples/java-reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/java-reliable-timers/src/main/java/com/example/api/OrderRequest.java
  samples/java-reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/java-reliable-timers/src/main/java/com/example/application/OrderTimedAction.java
Labels: kalix-runtime, Documentation

chore: DI sample
  samples/java-spring-dependency-injection/README.md
  samples/java-spring-dependency-injection/src/it/resources/logback-test.xml
Labels: kalix-runtime, Documentation

chore: shopping cart sample
  samples/java-shopping-cart-quickstart/README.md
  samples/java-shopping-cart-quickstart/src/it/java/shoppingcart/cart/IntegrationTest.java
  samples/java-shopping-cart-quickstart/src/it/resources/logback-test.xml
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
Labels: kalix-runtime, Documentation

chore: Drop protobuf-descriptor-with-source-info-path config
  akka-javasdk-testkit/src/it/java/com/example/wiring/pubsub/DockerIntegrationTest.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-runtime, java-sdk

chore: re-enable s2s eventing integration test
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/start-upstream.sh
  samples/java-eventsourced-customer-registry/src/main/java/customer/CustomerRegistrySetup.java
Labels: kalix-runtime, java-sdk, Documentation

chore: Drop custom JoranConfigurator, no longer needed
  akka-javasdk/src/main/resources/META-INF/services/ch.qos.logback.classic.spi.Configurator
  akka-javasdk/src/main/scala/akka/javasdk/impl/logging/AkkaSdkJoranConfigurator.scala
Labels: kalix-runtime, java-sdk

fix: publish milestone to release instead snapshot
  .github/publish-maven-to-cloudsmith.sh
  akka-javasdk-maven/pom.xml
Labels: kalix-runtime, java-sdk

chore: updating to release 3.0.0-M2
  samples/java-choreography-saga-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-spring-dependency-injection/pom.xml
  samples/java-tracing/pom.xml
  samples/java-transfer-workflow-compensation/pom.xml
  samples/java-transfer-workflow/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
Labels: kalix-runtime, Documentation

chore: temporarily remove service file check
  samples/java-eventsourced-customer-registry-subscriber/start-upstream.sh
Labels: kalix-runtime, Documentation

chore: Remove some Kalix references
  .github/workflows/update-sdk-version.yml
  CONTRIBUTING.md
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/AkkaSdkTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/AkkaSdkTestKitSupport.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/junit/jupiter/AkkaSdkTestkitExtension.java
  akka-javasdk/src/main/java/akka/javasdk/CloudEvent.java
  akka-javasdk/src/main/java/akka/javasdk/EntityOptions.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/ServiceSetup.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Acl.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Consume.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Produce.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Setup.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Table.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/TypeName.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/Consumer.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
  akka-javasdk/src/main/java/akka/javasdk/impl/package-info.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/TimedAction.java
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/java/akka/javasdk/view/TableUpdater.java
  akka-javasdk/src/main/java/akka/javasdk/view/View.java
  akka-javasdk/src/main/java/akka/javasdk/view/ViewOptions.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CallableComponentOptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Service.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowOptionsImpl.scala
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/domain/UserEvent.java
  updateRuntimeVersions.sh
Labels: kalix-runtime, java-sdk, Documentation

Akka SDK
  README.md
  docs/src/modules/java/pages/index.adoc
Labels: kalix-runtime, Documentation

chore: Rename KALIX_JSON constant
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  akka-javasdk/src/test/scala/akka/javasdk/JsonSupportSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonMessageCodecSpec.scala
Labels: kalix-runtime, java-sdk

chore: toLowerCase Locale.ROOT
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProtoDescriptorRenderer.scala
Labels: kalix-runtime, java-sdk

feat: support Optional in View queries
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/views/CountersByValue.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
Labels: kalix-runtime, java-sdk

chore: KVE counter sample
  samples/java-choreography-saga-quickstart/src/it/java/user/registry/UserCreationIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/README.md
  samples/java-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/java-shopping-cart-quickstart/src/it/java/shoppingcart/cart/IntegrationTest.java
  samples/java-tracing/src/it/java/com/example/IntegrationTest.java
  samples/java-valueentity-counter/README.md
  samples/java-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-valueentity-counter/src/it/resources/logback-test.xml
  samples/java-valueentity-counter/src/main/java/com/example/CounterSetup.java
  samples/java-valueentity-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/java-valueentity-counter/src/main/java/com/example/api/Number.java
  samples/java-valueentity-counter/src/main/java/com/example/application/CounterEntity.java
  samples/java-valueentity-counter/src/test/java/com/example/CounterTest.java
  samples/java-valueentity-counter/src/test/resources/logback-test.xml
  samples/java-valueentity-shopping-cart/src/it/java/com/example/IntegrationTest.java
Labels: kalix-runtime, Documentation

feat: make it possible to tweak service name
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

build: Drop a few unused plugins and configs
  project/DockerImage.scala
  project/ProtocolProject.scala
  project/plugins.sbt
Labels: kalix-runtime

chore: update samples, maven-archetype. #XXX
  akka-javasdk-maven/akka-javasdk-archetype/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/docker-compose.yml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/it/resources/logback-test.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/Main.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/Setup.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/hello/HelloWorld.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/hello/HelloWorldEndpoint.java
Labels: kalix-runtime, java-sdk

chore: update java-transfer-workflow sample Akka SDK
  samples/java-transfer-workflow/README.md
  samples/java-transfer-workflow/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/java-transfer-workflow/src/it/resources/logback-test.xml
  samples/java-transfer-workflow/src/main/java/com/example/TransferWorkflowSetup.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/FraudDetectionResult.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/domain/FraudDetectionResult.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/domain/Message.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/domain/TransferState.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/Ok.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/WalletEntity.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/domain/Wallet.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/domain/WalletCmd.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/domain/WalletEvent.java
Labels: kalix-runtime, Documentation

feat: supporting primitives as view query params
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/views/UsersByPrimitives.java
  akka-javasdk-testkit/src/it/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

chore: java-fibonacci-action sample
  samples/java-fibonacci-action/README.md
  samples/java-fibonacci-action/pom.xml
  samples/java-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionComponentClientIntegrationTest.java
  samples/java-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciIntegrationTest.java
  samples/java-fibonacci-action/src/main/java/com/example/MyContext.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciSetup.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/MyDependency.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/api/FibonacciEndpoint.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/api/RequestValidator.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/application/FibonacciTimedAction.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/domain/Fibonacci.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/domain/Number.java
  samples/java-fibonacci-action/src/main/resources/application.conf
  samples/java-fibonacci-action/src/test/java/com/example/fibonacci/application/FibonacciTimedActionTest.java
Labels: kalix-runtime, Documentation

feat: command handler arity validation
  akka-javasdk/src/main/scala/akka/javasdk/impl/ActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

chore: saga sample
  samples/java-choreography-saga-quickstart/README.md
  samples/java-choreography-saga-quickstart/controller-requests.http
  samples/java-choreography-saga-quickstart/src/it/java/user/registry/UserCreationIntegrationTest.java
  samples/java-choreography-saga-quickstart/src/it/resources/logback-test.xml
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/EmailEndpoint.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UserEntity.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UserEventsConsumer.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UsersByCountryView.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/common/Done.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/domain/UniqueEmail.java
  samples/java-choreography-saga-quickstart/src/test/java/user/registry/UniqueEmailEntityTest.java
  samples/java-choreography-saga-quickstart/src/test/java/user/registry/UserEntityTest.java
  samples/java-choreography-saga-quickstart/src/test/resources/logback-test.xml
Labels: kalix-runtime, Documentation

chore: fixing typo in consumer API
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseConsumer.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/Consumer.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerEffectImpl.scala
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UserEventsConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicConsumer.java
Labels: kalix-runtime, java-sdk, Documentation

chore: dev-mode http port as mvn property
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/src/main/resources/application.conf
Labels: kalix-runtime, java-sdk, Documentation

chore: updating queries in samples
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/application/UsersByCountryView.java
  samples/java-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomerByEmailView.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByEmailView.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/java-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/application/CustomerByNameView.java
  samples/java-valueentity-customer-registry/src/it/java/customer/CustomerIntegrationTest.java
  samples/java-valueentity-customer-registry/src/it/java/customer/view/CustomersByCityIntegrationTest.java
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomerSummaryByName.java
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomersByCity.java
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomersResponseByName.java
  samples/java-view-store/src/it/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/java-view-store/src/it/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/java-view-store/src/it/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
  samples/java-view-store/src/main/java/store/view/QueryParameters.java
  samples/java-view-store/src/main/java/store/view/joined/JoinedCustomerOrdersView.java
  samples/java-view-store/src/main/java/store/view/nested/NestedCustomerOrdersView.java
  samples/java-view-store/src/main/java/store/view/structured/StructuredCustomerOrdersView.java
Labels: kalix-runtime, Documentation

chore: Rename to HttpEndpoint, to make room for GrpcEndpoint
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/main/java/com/example/HelloController.java
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/main/java/com/example/UserRegistryController.java
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/test/scala/com/example/EndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/hello/HelloWorldEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/HttpEndpoint.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/EndpointsTestModels.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/java-customer-registry-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceAction.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/api/ShoppingCartEndpoint.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/api/FibonacciEndpoint.java
  samples/java-reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/java-transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/java-transfer-workflow/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/java-valueentity-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/java-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartController.java
Labels: kalix-runtime, java-sdk, Documentation

fix: one endpoint leftover
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/EmailEndpoint.java
Labels: kalix-runtime, Documentation

chore: bump runtime version to v1.1.41-6a806ef
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/EmailEndpoint.java
  samples/java-view-store/src/it/resources/logback-test.xml
Labels: kalix-runtime, java-sdk, Documentation

chore: prepare for 3.0.0-M3
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/java-choreography-saga-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-spring-dependency-injection/pom.xml
  samples/java-tracing/pom.xml
  samples/java-transfer-workflow-compensation/pom.xml
  samples/java-transfer-workflow/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
Labels: kalix-runtime, java-sdk, Documentation

chore: bringing MDC for views from kalix SDK
  akka-javasdk/src/main/java/akka/javasdk/TraceContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
Labels: kalix-runtime, java-sdk

docs: Build was referencing old module names
  docs/Makefile
Labels: kalix-runtime, Documentation

fix: http-port property
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
Labels: kalix-runtime, Documentation

fix: randomized the database name in Testkit - take 2
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
Labels: kalix-runtime, java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

Documentation:
  - docs/**/*
  - samples/**/*
