Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

chore: Otel trace propagation through gRPC clients
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

chore: tests for ACL support in gRPC endpoints
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
Labels: java-sdk

docs: fix typo in exporting metrics page
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
Labels: documentation

bump: Snapshot runtime release
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

bump: Akka gRPC 2.5.2
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/plugins.sbt
Labels: java-sdk

chore: remove Any from schema evolution test samples
  docs/src/modules/java/pages/serialization.adoc
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: documentation

bump: Akka 2.10.1
  project/Dependencies.scala
Labels: none

feat: gRPC endpoint clients provided by testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

Testkit API to specify what principal a call comes from
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
Labels: java-sdk

docs: Minimal gRPC endpoint testing docs
  docs/src/modules/java/pages/grpc-endpoints.adoc
  samples/doc-snippets/src/test/java/com/example/api/ExampleGrpcEndpointTest.java
Labels: documentation

don't close the test client
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
Labels: none

test: ACL deny code inheritance
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/java/akka/javasdk/annotations/Acl.java
Labels: java-sdk

fix: reference to field in GoogleCloud spec
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/reference/pages/descriptors/observability-descriptor.adoc
Labels: documentation

fix: Actually specify an exception handler or gRPC endpoints
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

feat: deny codes in HTTP and gRPC endpoints
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Acl.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/AclTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
Labels: java-sdk, documentation

fix test
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
Labels: none

hide impl details
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: java-sdk, documentation

import removed
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: documentation

improve javadocs
  akka-javasdk/src/main/java/akka/javasdk/annotations/Acl.java
Labels: java-sdk

chore: use capitalize from std lib
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

serialization testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/SerializationTestkit.java
  docs/src/modules/java/pages/serialization.adoc
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
  samples/event-sourced-customer-registry/src/test/resources/customer-created-old
Labels: java-sdk, documentation

unused method removed
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
Labels: java-sdk

renaming test file
  samples/event-sourced-customer-registry/src/test/resources/customer-created-old.json
Labels: documentation

fixing docs
  docs/src/modules/java/pages/serialization.adoc
Labels: documentation

fixing vale
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

Update akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/SerializationTestkit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/SerializationTestkit.java
Labels: java-sdk

feat: support JWTs for gRPC endpoints
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JwtDescriptorFactory.scala
Labels: java-sdk

refactor to use separate tests
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestJwtsGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
Labels: none

docs: A working CLI cors-enable snippet
  docs/src/modules/operations/pages/services/invoke-service.adoc
Labels: documentation

small fixes
  docs/src/modules/java/pages/serialization.adoc
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: documentation

feat: ReadOnlyEffect for KVE
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/UserEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityEffectImpl.scala
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/key-value-counter/src/main/java/com/example/application/CounterEntity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/key-value-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/view-store/src/main/java/store/order/application/OrderEntity.java
Labels: java-sdk, documentation

sout removed
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerEntity.java
Labels: documentation

bump: Runtime 1.3.4
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

bump runtime to 1.3.4-d6601fb
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

fix: propagate custom gRPC status to client
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

fix(docs): correct numbering in quickstart
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

fix(docs): typos and formatting in quickstart
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

fix ci
  .github/workflows/ci.yml
Labels: none

address feedback
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

update comment after actions/cache version bump
  .github/workflows/ci.yml
Labels: none
