Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - sdk/java-sdk/**/*
  - sdk/java-sdk-testkit/**/*

Documentation:
  - docs/**/*
  - samples/**/*

chore: Use Akka HTTP StatusCode model instead of a local abstraction
  samples/java-doc-snippets/src/main/java/com/example/jwt/JWTAction.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/keyvalueentities/user/ValidateUserAction.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/HttpResponse.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/Metadata.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/StatusCode.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/action/Action.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/StatusCodeConverter.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/MetadataImplSpec.scala
Labels: kalix-runtime, java-sdk, Documentation

feat: releasing akka-platform-jvm-sdk
  RELEASING.md
  docs/release-issue-template.md
Labels: kalix-runtime, Documentation

fix: partial fix until we get logs
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

chore: no runtime on dev classpath
  .github/workflows/ci.yml
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime

docs: Customer registry and views quickstart with endpoint
  samples/java-customer-registry-quickstart/README.md
  samples/java-customer-registry-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-customer-registry-quickstart/src/it/resources/logback-test.xml
  samples/java-customer-registry-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-customer-registry-quickstart/src/main/java/customer/application/CustomerEntity.java
  samples/java-customer-registry-quickstart/src/main/java/customer/domain/Customer.java
  samples/java-customer-registry-quickstart/src/test/java/customer/application/CustomerEntityTest.java
  samples/java-customer-registry-views-quickstart/README.md
  samples/java-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-customer-registry-views-quickstart/src/it/resources/logback-test.xml
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomerByEmailView.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomerEntity.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
  samples/java-customer-registry-views-quickstart/src/test/java/customer/application/CustomerEntityTest.java
Labels: kalix-runtime, Documentation

chore: setting up manual triggering
  .github/workflows/publish.yml
Labels: kalix-runtime

fix: missing run configuration for java-spring-dependency-injection
  samples/java-spring-dependency-injection/.idea/runConfigurations/Run_locally.xml
Labels: kalix-runtime, Documentation

chore: small fixes and renames
  annotation-processor-tests/actions-descriptors/src/main/java/com/example/SomeTimedAction.java
  annotation-processor-tests/actions-descriptors/src/test/scala/com/example/TimedActionDescriptorSpec.scala
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomerEntity.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/application/CustomersByNameView.java
  samples/java-doc-snippets/src/main/java/com/example/jwt/HelloJwtAction.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/Confirmed.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicConsumer.java
  samples/java-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEntity.java
Labels: kalix-runtime, Documentation

chore: Drop old gRPC HTTP response type and logic
  sdk/java-sdk/src/main/java/akka/platform/javasdk/HttpResponse.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/ComponentDescriptor.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowRouter.scala
Labels: kalix-runtime, java-sdk

chore: separate SDK dispatcher for user logic
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
  sdk/java-sdk-testkit/src/main/java/akka/platform/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/AbstractTestKitContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitKeyValueEntityContext.scala
  sdk/java-sdk/src/main/java/akka/platform/javasdk/Context.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/Contexts.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/consumer/ConsumersImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/ConsumersImplSpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/action/TimedActionHandlerSpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/cusomer/CustomerHandlerSpec.scala
Labels: kalix-runtime, java-sdk

chore: publish pom to Cloudsmith
  .github/patch-maven-versions.sh
  .github/publish-maven-to-cloudsmith.sh
  .github/workflows/publish.yml
  maven-java/akka-platform-parent/pom.xml
  maven-java/pom.xml
  project/PublishPlugin.scala
Labels: kalix-runtime
