Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

fix(docs): typo in note about push flag
  docs/src/modules/operations/pages/services/note-about-push.adoc
Labels: documentation

add shopping cart with grpc endpoints
  samples/grpc-shopping-cart-quickstart/.bundleignore
  samples/grpc-shopping-cart-quickstart/.gitignore
  samples/grpc-shopping-cart-quickstart/LICENSE
  samples/grpc-shopping-cart-quickstart/README.md
  samples/grpc-shopping-cart-quickstart/pom.xml
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpointImpl.java
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/grpc-shopping-cart-quickstart/src/main/proto/shoppingcart/api/shopping_cart_endpoint.proto
  samples/grpc-shopping-cart-quickstart/src/main/resources/application.conf
  samples/grpc-shopping-cart-quickstart/src/main/resources/include-dev-loggers.xml
  samples/grpc-shopping-cart-quickstart/src/main/resources/include-loggers.xml
  samples/grpc-shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/grpc-shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

initial docs for grpc endpoints
  .github/workflows/ci.yml
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/grpc-shopping-cart-quickstart/pom.xml
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpointImpl.java
  samples/grpc-shopping-cart-quickstart/src/main/proto/shoppingcart/api/shopping_cart_endpoint.proto
  samples/grpc-shopping-cart-quickstart/src/main/resources/application.conf
  samples/grpc-shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartGrpcIntegrationTest.java
  samples/grpc-shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
Labels: documentation

adding streaming example
  docs/src/modules/java/pages/grpc-endpoints.adoc
  samples/event-sourced-customer-registry/pom.xml
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
  samples/event-sourced-customer-registry/src/main/proto/customer/api/customer_grpc_endpoint.proto
Labels: documentation

fix includes mismatches
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

fix includes mismatches 2
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_services_components_list-events.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_components_list-events.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_list.adoc
Labels: documentation

chore: bump scala version to 2.13.16
  project/Dependencies.scala
Labels: none

add example to call another grpc service
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/DelegateCustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry-subscriber/src/main/proto/customer/api/customer_grpc_endpoint.proto
  samples/event-sourced-customer-registry-subscriber/src/main/proto/customer/api/delegate_customer_grpc_endpoint.proto
Labels: documentation

use customer registry example instead of quickstart
  docs/src/modules/java/pages/grpc-endpoints.adoc
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/proto/customer/api/customer_grpc_endpoint.proto
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerGrpcIntegrationTest.java
Labels: documentation

fix paths
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

remove quickstart sample
  .github/workflows/ci.yml
  samples/grpc-shopping-cart-quickstart/.bundleignore
  samples/grpc-shopping-cart-quickstart/.gitignore
  samples/grpc-shopping-cart-quickstart/LICENSE
  samples/grpc-shopping-cart-quickstart/README.md
  samples/grpc-shopping-cart-quickstart/pom.xml
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpointImpl.java
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/grpc-shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/grpc-shopping-cart-quickstart/src/main/proto/shoppingcart/api/shopping_cart_endpoint.proto
  samples/grpc-shopping-cart-quickstart/src/main/resources/application.conf
  samples/grpc-shopping-cart-quickstart/src/main/resources/include-dev-loggers.xml
  samples/grpc-shopping-cart-quickstart/src/main/resources/include-loggers.xml
  samples/grpc-shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartGrpcIntegrationTest.java
  samples/grpc-shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

feat: API for Server Sent Events (SSE) streaming from HTTP endpoint
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: java-sdk, documentation

Polling entity, changes as stream example
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: documentation

docs: Sample of streaming updates
  samples/key-value-customer-registry/README.md
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: documentation

docs(quickstart) add numbering to actionable steps
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

docs with a few sample snippets
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: documentation

working SSE updates, runnable doc-snippets
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/acl/PaymentEndpoint.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: documentation

fix source file references
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

Missing header access sample snippet added
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
Labels: documentation

incomplete word
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

docs: components overview page
  docs/src/modules/java/images/consumer.png
  docs/src/modules/java/images/endpoint.png
  docs/src/modules/java/images/event-sourced-entity.png
  docs/src/modules/java/images/key-value-entity.png
  docs/src/modules/java/images/view.png
  docs/src/modules/java/images/workflow.png
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/components.adoc
Labels: documentation

docs: use multi-region, multi-cloud on index page
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

feat: API to access to grpc metadata
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/java/akka/javasdk/grpc/GrpcRequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

add access from extending AbstractGrpcEndpoint
  akka-javasdk/src/main/java/akka/javasdk/grpc/AbstractGrpcEndpoint.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

Apply suggestions from code review
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

addressing feedback: more context on grpc, recommendation and others
  docs/src/modules/java/pages/grpc-endpoints.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/api/CustomerGrpcEndpointImpl.java
  samples/doc-snippets/src/main/proto/com/example/customer_grpc_endpoint.proto
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/proto/customer/api/customer_grpc_endpoint.proto
Labels: documentation

more links to grpc endpoints
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
Labels: documentation

revert sdk versions
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
Labels: documentation

more updates to docs
  docs/src/modules/java/pages/component-and-service-calls.adoc
Labels: documentation

update to latest snapshot
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

scala to 2.13.16
  project/Dependencies.scala
Labels: none

docs: Section on schema evolution
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

missing a space
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

chore: improve propagation / conversion of exceptions
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: java-sdk, documentation

docs: understanding gRPC vs HTTP endpoints
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/grpc-vs-http-endpoints.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

added note about jwt and acl support
  docs/src/modules/concepts/pages/grpc-vs-http-endpoints.adoc
Labels: documentation

chore: JwtClaims code improv
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
Labels: java-sdk

Pimp architecture model page with icons
  docs/src/modules/ROOT/images/consumer.png
  docs/src/modules/ROOT/images/endpoint.png
  docs/src/modules/ROOT/images/event-sourced-entity.png
  docs/src/modules/ROOT/images/key-value-entity.png
  docs/src/modules/ROOT/images/view.png
  docs/src/modules/ROOT/images/workflow.png
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/images/consumer.png
  docs/src/modules/java/pages/components.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

float left
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/components.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
