Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Release notes for SDK 3.2.4
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

chore: Update change date for 3.2.4
  LICENSE
Labels: none

Update docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: Use sidebar in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

feat: Blocking timer schedulers for running on virtual threads
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
  docs/src/modules/java/pages/timed-actions.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

bump: Snapshot of Akka gRPC with blocking support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/plugins.sbt
Labels: java-sdk

samples and tests updated
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestJwtsGrpcServiceImpl.java
  build.sbt
  project/Common.scala
  project/Dependencies.scala
  project/SamplesCompilationProject.scala
  samples/doc-snippets/src/main/java/com/example/api/CustomerGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/test/java/com/example/api/ExampleGrpcEndpointTest.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/DelegateCustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerGrpcIntegrationTest.java
Labels: documentation

bump: Confluent Kafka/Zookeeper 7.9.0 in Docker compose
  .github/kafka.yml
  samples/event-sourced-counter-brokers/docker-compose.yml
Labels: documentation

3.2.4
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

chore: Test ask-akka-agent in CI
  .github/workflows/ci.yml
  samples/ask-akka-agent/.bundleignore
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UsersEndpoint.java
Labels: documentation

adding cross reference table for available effects
  docs/src/modules/concepts/pages/declarative-effects.adoc
Labels: documentation

bump: logback 1.5.18 (was 1.5.12)
  project/Dependencies.scala
Labels: none

Revert "bump: Confluent Kafka/Zookeeper 7.9.0 in Docker compose (#353)"
  .github/kafka.yml
  samples/event-sourced-counter-brokers/docker-compose.yml
Labels: documentation

docs: ClusterIP in k8s service
  docs/src/modules/self-managed/pages/configuring.adoc
  samples/doc-snippets/standalone/service.yml
Labels: documentation

bump: Akka Runtime to 1.4.6
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

bump: Runtime 1.4.6, Akka 2.10.3, Akka gRPC 2.5.4
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

deps bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

missing docs
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
Labels: documentation

restore parent pom changes from main
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

Apply suggestions from code review
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

feat: Blocking timer schedulers for running on virtual threads
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
  docs/src/modules/java/pages/timed-actions.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

reintroduce async methods, unwrap exceptions
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
Labels: java-sdk

formatting
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
Labels: java-sdk

samples and tests updated
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestJwtsGrpcServiceImpl.java
  build.sbt
  project/Common.scala
  project/Dependencies.scala
  project/SamplesCompilationProject.scala
  samples/doc-snippets/src/main/java/com/example/api/CustomerGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/test/java/com/example/api/ExampleGrpcEndpointTest.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/DelegateCustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerGrpcIntegrationTest.java
Labels: documentation

bump: Snapshot of Akka gRPC with blocking support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

some more artifacts to exclude from docker image
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

drop those temporary dependencies
  project/Dependencies.scala
Labels: none

adding ask akka step 2 - indexing workflow
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ask-akka/indexer.adoc
  docs/src/modules/java/pages/ask-akka/session.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

docs: Add missing podcost-crd.yml to standalone docs
  docs/src/modules/self-managed/pages/configuring.adoc
  samples/doc-snippets/standalone/deployment.yml
Labels: documentation

chore: Missing Run_locally.xml in shopping-cart-with-view
  samples/shopping-cart-with-view/.idea/runConfigurations/Run_locally.xml
Labels: documentation

feat: Allow injection of the virtual thread executor in side-effecting components
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/ask-akka-agent/src/main/resources/flat-doc/setup-and-dependency-injection.md
Labels: java-sdk, documentation

bump: Akka Runtime to 1.4.7
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

bump: Runtime 1.4.7
  project/Dependencies.scala
Labels: none

feat: blocking/virtual thread APIs for workflows
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/FraudDetectionResult.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithFraudDetection.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithoutInputs.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithDefaultRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithStepTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithoutInitialState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/hierarchy/TextWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/test/java/akka/javasdk/workflow/TestWorkflowSerialization.java
  docs/src/modules/java/pages/workflows.adoc
  samples/key-value-shopping-cart/README.md
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

update ask akka
  project/SamplesCompilationProject.scala
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

drop strange spaces in FraudDetectionResult
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/FraudDetectionResult.java
Labels: none

update the indexing to fire off multiple updates in parallel
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

separate hierarchy for non-async steps
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

back to sequential
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

ups made timeout private, sorted
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
