Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

adds a view and refactors data shapes to be isolated
  .gitignore
  samples/shopping-cart-addview/.bundleignore
  samples/shopping-cart-addview/.gitignore
  samples/shopping-cart-addview/LICENSE
  samples/shopping-cart-addview/README.md
  samples/shopping-cart-addview/pom.xml
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-addview/src/main/resources/application.conf
  samples/shopping-cart-addview/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-addview/src/main/resources/include-loggers.xml
  samples/shopping-cart-addview/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

docs: update release notes for runtime 1.4.3
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

fixing docs
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

s/params/parameters
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

add to highlights
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

removing extra space
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

wip: docs: view query reference docs
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/index.adoc
  docs/src/modules/reference/pages/views/concepts/advanced-views.adoc
  docs/src/modules/reference/pages/views/concepts/array-types.adoc
  docs/src/modules/reference/pages/views/concepts/data-types.adoc
  docs/src/modules/reference/pages/views/concepts/index.adoc
  docs/src/modules/reference/pages/views/concepts/optional-fields.adoc
  docs/src/modules/reference/pages/views/concepts/pagination.adoc
  docs/src/modules/reference/pages/views/concepts/result-mapping.adoc
  docs/src/modules/reference/pages/views/concepts/table-updaters.adoc
  docs/src/modules/reference/pages/views/index.adoc
  docs/src/modules/reference/pages/views/syntax/as.adoc
  docs/src/modules/reference/pages/views/syntax/from.adoc
  docs/src/modules/reference/pages/views/syntax/functions/collect.adoc
  docs/src/modules/reference/pages/views/syntax/functions/count.adoc
  docs/src/modules/reference/pages/views/syntax/functions/distinct.adoc
  docs/src/modules/reference/pages/views/syntax/functions/has-more.adoc
  docs/src/modules/reference/pages/views/syntax/functions/index.adoc
  docs/src/modules/reference/pages/views/syntax/functions/next-page-token.adoc
  docs/src/modules/reference/pages/views/syntax/functions/page-token-offset.adoc
  docs/src/modules/reference/pages/views/syntax/functions/text-search.adoc
  docs/src/modules/reference/pages/views/syntax/functions/total-count.adoc
  docs/src/modules/reference/pages/views/syntax/group-by.adoc
  docs/src/modules/reference/pages/views/syntax/index.adoc
  docs/src/modules/reference/pages/views/syntax/join.adoc
  docs/src/modules/reference/pages/views/syntax/limit.adoc
  docs/src/modules/reference/pages/views/syntax/offset.adoc
  docs/src/modules/reference/pages/views/syntax/operators/any.adoc
  docs/src/modules/reference/pages/views/syntax/operators/comparison.adoc
  docs/src/modules/reference/pages/views/syntax/operators/in.adoc
  docs/src/modules/reference/pages/views/syntax/operators/index.adoc
  docs/src/modules/reference/pages/views/syntax/operators/is-null.adoc
  docs/src/modules/reference/pages/views/syntax/operators/like.adoc
  docs/src/modules/reference/pages/views/syntax/operators/logical.adoc
  docs/src/modules/reference/pages/views/syntax/order-by.adoc
  docs/src/modules/reference/pages/views/syntax/query.adoc
  docs/src/modules/reference/pages/views/syntax/select.adoc
  docs/src/modules/reference/pages/views/syntax/where.adoc
Labels: documentation

further separates the view and the entity - entity no longer stores product name or description
  samples/shopping-cart-addview/.gitignore
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

Update docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

wip: capacity allocation sample
  samples/capacity-allocation/.gitignore
  samples/capacity-allocation/examples/capacity.http
  samples/capacity-allocation/gen/design.md
  samples/capacity-allocation/gen/overview.md
  samples/capacity-allocation/pom.xml
  samples/capacity-allocation/src/main/java/com/example/CapacityAllocationSetup.java
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/AllocationCoordinator.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityPoolEntity.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardClient.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardClientProvider.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardEntity.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityEntity.java
  samples/capacity-allocation/src/main/java/com/example/domain/AllocationRule.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityPool.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityPoolEvent.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityShard.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityShardEvent.java
  samples/capacity-allocation/src/main/java/com/example/domain/PendingReservation.java
  samples/capacity-allocation/src/main/java/com/example/domain/UserActivity.java
  samples/capacity-allocation/src/main/java/com/example/domain/UserActivityEvent.java
  samples/capacity-allocation/src/main/resources/include-dev-loggers.xml
  samples/capacity-allocation/src/main/resources/include-loggers.xml
Labels: documentation

ci: build docs on PR
  .github/workflows/documentation.yml
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
Labels: documentation

licence date update
  LICENSE
Labels: none

Update LICENSE
  LICENSE
Labels: none

chore: release notes for SDK 3.2.2
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

vale fix
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

adding placeholder docs for shopping cart step 2
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart-addview.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
  docs/src/modules/java/pages/shopping-cart/index.adoc
  samples/shopping-cart-addview/pom.xml
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

renaming cartId to userId
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

wip: update capacity allocation sample
  samples/capacity-allocation/examples/capacity.http
  samples/capacity-allocation/pom.xml
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/api/UserEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/AllocationCoordinator.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityPoolEntity.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardClient.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardEntity.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityEntity.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityView.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityPool.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityShard.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityShardEvent.java
  samples/capacity-allocation/src/main/java/com/example/domain/PendingReservation.java
  samples/capacity-allocation/src/main/java/com/example/domain/UserActivity.java
  samples/capacity-allocation/src/main/java/com/example/domain/UserActivityEvent.java
  samples/capacity-allocation/src/main/resources/application.conf
Labels: documentation

wip: fix client shard fallback terminal case
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardClient.java
Labels: documentation

wip: update capacity endpoints
  samples/capacity-allocation/examples/capacity.http
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

wip: update user activity view endpoints
  samples/capacity-allocation/src/main/java/com/example/api/UserEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityView.java
Labels: documentation

wip: add an integration test
  samples/capacity-allocation/src/test/java/com/example/CapacityAllocationIntegrationTest.java
Labels: documentation

wip: empty defaults for create pool requests
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

wip: add shard capacity telemetry
  samples/capacity-allocation/pom.xml
  samples/capacity-allocation/src/main/java/com/example/CapacityAllocationSetup.java
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityShardEntity.java
  samples/capacity-allocation/src/main/java/com/example/application/CapacityTelemetry.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityShard.java
  samples/capacity-allocation/src/main/java/com/example/domain/CapacityShardEvent.java
Labels: documentation

chore: adding endpoint-jwt sample to release template
  docs/release-issue-template.md
Labels: documentation

Update docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

fixes after review
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/TransferView.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

runtime bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: cut down support section
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/index.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

remove from nav
  docs/src/modules/support/nav.adoc
Labels: documentation

References
  docs/src/modules/operations/pages/organizations/index.adoc
  docs/src/modules/security/pages/index.adoc
Labels: documentation

References
  docs/src/modules/security/pages/index.adoc
Labels: documentation

fixing test
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
Labels: java-sdk

fixing test
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
Labels: java-sdk

fmt
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
Labels: java-sdk

cleanup from review, more refactoring
  samples/shopping-cart-addview/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-addview/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-addview/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

renaming sample
  samples/shopping-cart-with-view-quickstart/.bundleignore
  samples/shopping-cart-with-view-quickstart/.gitignore
  samples/shopping-cart-with-view-quickstart/LICENSE
  samples/shopping-cart-with-view-quickstart/README.md
  samples/shopping-cart-with-view-quickstart/pom.xml
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-with-view-quickstart/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-with-view-quickstart/src/main/resources/application.conf
  samples/shopping-cart-with-view-quickstart/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-with-view-quickstart/src/main/resources/include-loggers.xml
  samples/shopping-cart-with-view-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

createPool poolId provided in the request
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

wip: support optional provided pool id on creation
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

wip: restore original constructor for CreatePoolRequest
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
