Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

more flexible ModelProvider
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: java-sdk, documentation

config of model provider
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/application.conf
Labels: java-sdk, documentation

anthropic topK
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
Labels: java-sdk

feat: system message from template
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/PromptTemplateClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs: Add more AI samples
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

add missing
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

fixing impl
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

runtime 1.4.12-8a1cf3db0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
Labels: java-sdk, documentation

small improvemnts
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/PromptTemplateClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

feat: Real agent implementation (#456)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/application.conf
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: java-sdk, documentation

feat: Mandatory sessionId
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  project/Dependencies.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
Labels: java-sdk, documentation

sessionId in agent client
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
Labels: java-sdk, documentation

test
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: java-sdk, documentation

reverting pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/pom.xml
Labels: java-sdk

reverting
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: documentation

feat: system message from template (#461)
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/PromptTemplateClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat: string format support for templates
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat: Add knowledge to the user message (RAG)
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/Knowledge.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: documentation

runtime 1.4.12-544d5c162
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

enrichedQuestion
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: documentation

fmt
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
Labels: java-sdk

feat: Mandatory sessionId (#463)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
Labels: java-sdk, documentation

chore: Rename modelProvider to model in the effect builder
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: java-sdk, documentation

feat: Add knowledge to the user message (RAG) (#466)
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/Knowledge.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: documentation

chore: Rename modelProvider to model in the effect builder (#464)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: java-sdk, documentation

docs: add ap-jdbc #904 to release notes
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

fmt
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

docs: add ap-jdbc #904 to release notes (#467)
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

PR comments
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

PR comments
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
Labels: java-sdk

feat: mapping response
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

chore: Update the service descriptor documentation
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
Labels: documentation

Removed extra space
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
Labels: documentation

feat: string format support for templates (#465)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

initial docs, tool annotations, work on reflective input schema
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpEndpointDescriptorFactorySpec.scala
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/mcp-endpoints.adoc
Labels: java-sdk, documentation

updated example mcp enpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: documentation

feat: system message from template (#461)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
Labels: java-sdk

try in ask-akka
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: documentation

more flexible ModelProvider
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: documentation

very draft version still
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AiMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Message.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MessageContent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/UserMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/impl/PersistentCoreMemory.java
Labels: java-sdk
