Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

chore: use case-specific rename of sample app
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

chore: use case-specific rename of sample app (#580)
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: foundational agentic AI systems concepts (#579)
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

feat: declare tools using its class type
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

add test for failed instantiation
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

improved message when failing to instantiate
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

tools method handling objects and classes
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

enforce at least one tool
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

some javadoc improvements
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
Labels: java-sdk

remove fallback to no-arg default constructor
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk/src/main/java/akka/javasdk/DependencyProvider.java
  akka-javasdk/src/main/java/akka/javasdk/ServiceSetup.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

throw if tool is not annotated
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithBadlyConfiguredTool.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

code review suggestions
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

bump: Akka Runtime to 1.5.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

removing unnecessary casting
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

bump: Runtime 1.5.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: akka CLI docs
  Makefile
Labels: none

feat: declare tools using its class type (#575)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithBadlyConfiguredTool.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/DependencyProvider.java
  akka-javasdk/src/main/java/akka/javasdk/ServiceSetup.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

bump: Runtime 1.5.0 (#583)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

chore: Shorten some long prompt lines to fit in docs
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

chore: Shorten some long prompt lines to fit in docs (#584)
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

chore: add mockError to TestModelProvider
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

chore: Trigger compaction based on size
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

chore: Remove input and output tokens from session memory
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

docs: documentation about external function tools
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/LazyWeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
Labels: documentation

fixed callout
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

removed unused imports
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

chore: add mockError to TestModelProvider (#586)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

move LazyWeatherAgent to doc-snippets
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/LazyWeatherAgent.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
Labels: documentation

making it explicit the scope of tools is the agent
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

clarify that a single tool can be used by multiple agents
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

Add a note about multiple tools in a single class
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

better place for note on important of tool description
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

teaching Value about reusability
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

LazyWeatherAgent gone for real
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/LazyWeatherAgent.java
Labels: documentation

docs: documentation about external function tools (#588)
  docs/src/modules/java/pages/agents.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/doc-snippets/src/main/java/com/example/application/LazyWeatherAgent.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
Labels: documentation

feat: allow annotations on interface methods
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

WeatherService interface
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherServiceImpl.java
Labels: documentation

updating identify agent section
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

docs: chore updates to ask akka sample
  samples/ask-akka-agent/README.md
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/ask-akka-agent/src/main/resources/.env.example
Labels: documentation

remove debug log
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation
