Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

docs: First agent docs
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  docs/src/modules/ROOT/images/agent.png
  docs/src/modules/concepts/pages/declarative-effects.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/components/index.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/reference/pages/glossary.adoc
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
Labels: java-sdk, documentation

chore: Update ask-akka-agent to 3.4.0-M1
  samples/ask-akka-agent/pom.xml
Labels: documentation

build: Use original branch for workflow_run
  .github/workflows/pr-akka-samples.yml
  .github/workflows/publish-sample-images.yml
Labels: none

chore: Update ask-akka-agent to 3.4.0-M1 (#507)
  samples/ask-akka-agent/pom.xml
Labels: documentation

doc errors
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
Labels: documentation

Apply suggestions from code review
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

more vale
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

more vale
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

fix: http-client returns String without decoding
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
Labels: java-sdk

DI ComponentClient
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
Labels: documentation

compile
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
Labels: documentation

docs: First agent docs (#506)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  docs/src/modules/ROOT/images/agent.png
  docs/src/modules/concepts/pages/declarative-effects.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/components/index.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/reference/pages/glossary.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
Labels: java-sdk, documentation

another approach to timestamp
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

fix: fixing get last N message from session
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

build: Use original branch for workflow_run (#508)
  .github/workflows/pr-akka-samples.yml
  .github/workflows/publish-sample-images.yml
Labels: none

docs: Agent workflow
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeam.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherAgent.java
Labels: documentation

build: Publish wip docs from any branch
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
Labels: none

sorting tools and resource to fix tests
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
Labels: java-sdk

chore: Remove AgentInfoCollection
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
Labels: java-sdk

fix: fixing get last N message from session (#511)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

Done instead of null
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
Labels: documentation

feat: timestamp in the session history message (#509)
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

build: Publish wip docs from any branch (#514)
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
Labels: none

fix: mapping llm string response
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

sample: Move multi-agent sample to akka-sdk
  .github/workflows/ci.yml
  .github/workflows/pr-akka-samples.yml
  samples/multi-agent/.gitignore
  samples/multi-agent/README.md
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/api/MultiAgentEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgenticWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SessionEntity.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SessionMemory.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Agent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/AgentCard.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/AgentsRegistry.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Summarizer.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/package-info.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentResponse.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentSelection.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/MessageAdapter.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/Plan.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/PlanStep.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionEvent.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionMessage.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionState.java
  samples/multi-agent/src/main/resources/application.conf
  samples/multi-agent/src/main/resources/include-dev-loggers.xml
  samples/multi-agent/src/main/resources/include-loggers.xml
  samples/multi-agent/src/test/java/io/akka/ai/IntegrationTest.java
Labels: documentation

chore: Migrate multi-agent to SDK Agent
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/api/MultiAgentEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SessionEntity.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SessionMemory.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Agent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/AgentCard.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/AgentsRegistry.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Summarizer.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentResponse.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/MessageAdapter.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionEvent.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionMessage.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionState.java
  samples/multi-agent/src/main/resources/application.conf
  samples/multi-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation

small improvement
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

fmt
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

fix: mapping llm string response (#517)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
Labels: java-sdk

chore: Remove AgentInfoCollection (#515)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
Labels: java-sdk

more about workflow
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
Labels: documentation

chore: Migrate multi-agent to SDK Agent (#519)
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/api/MultiAgentEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SessionEntity.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SessionMemory.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Agent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/AgentCard.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/AgentsRegistry.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Summarizer.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentResponse.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/MessageAdapter.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionEvent.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionMessage.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/SessionState.java
  samples/multi-agent/src/main/resources/application.conf
  samples/multi-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation

docs: Agent workflow (#513)
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeam.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherAgent.java
Labels: documentation

docs: Multi-agent dynamic planning
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentSelection.java
Labels: documentation

Apply suggestions from code review
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

vale
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: Multi-agent dynamic planning (#521)
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/domain/AgentSelection.java
Labels: documentation

docs: session memory
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
Labels: documentation

address suggestions
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
Labels: java-sdk, documentation

docs: session memory (#522)
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
Labels: java-sdk, documentation
