Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

some more MCP endpoint validations
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  project/Dependencies.scala
Labels: java-sdk

add disabled memory provider
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

more
  docs/src/modules/java/pages/ask-akka/endpoints.adoc
  docs/src/modules/java/pages/ask-akka/rag.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
Labels: documentation

chore: Remove docs errors (#496)
  docs/src/modules/java/pages/ask-akka/endpoints.adoc
  docs/src/modules/java/pages/ask-akka/rag.adoc
  docs/src/modules/java/pages/ask-akka/session.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
Labels: documentation

bump runtime 1.4.12-8607f42
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

allow OAuth in docs
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

some doc fixups
  docs/src/modules/java/pages/mcp-endpoints.adoc
Labels: documentation

formatting...
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
Labels: java-sdk

consistency logging and primitive usage
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
Labels: java-sdk

feat: adding read/write only modes and custom memory (#490)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

feat(agent): limit memory by byte size instead of number of msgs
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

adding more details to events and address feedback
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
Labels: java-sdk

revert changes to disable (to be included in another pr)
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

feat: adding read/write only modes and custom memory
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
Labels: java-sdk

enable/disable memory by config
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

chore: rename CoreMemory to SessionMemory
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
Labels: java-sdk, documentation

fix after rebase
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

chore: rename CoreMemory to SessionMemory (#497)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
Labels: java-sdk, documentation

feat: mcp endpoints (#405)
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpPrompt.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
  akka-javasdk/src/main/scala/akka/http/scaladsl/SseTrickery.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/mcp-endpoints.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/key-value-customer-registry/src/main/resources/static-resources/index.html
Labels: java-sdk, documentation

chore: make collision of typename with user less likely
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

chore: make collision of typename with user less likely (#501)
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

chore(sample): use timestamp from event
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
Labels: documentation

chore(sample): use timestamp from event (#502)
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
Labels: documentation

chore: Make AgentDescription optional
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

no conversion
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

updating SPI
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

runtime 1.4.12-58eb2a3a7
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

persisting tool interaction
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

use @Description and JsonSchema
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Param.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

feat: tool call support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Param.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionDescriptors.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  project/Dependencies.scala
Labels: java-sdk

tool method can be private
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
Labels: java-sdk

some more usages for isBlank
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
Labels: java-sdk

fix compilation
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat: function tool call (#489)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

chore: Make AgentDescription optional (#488)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

chore: Make json a separate concern from AgentRegistry
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

chore: Make json a separate concern from AgentRegistry (#499)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

feat: Ollama provider
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat: GoogleAI Gemini model support
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
Labels: java-sdk

feat: Local AI LLM support
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
Labels: java-sdk
