Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

feat: Support for Hugging Face models
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
Labels: java-sdk

more docs
  akka-javasdk/src/main/resources/reference.conf
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: java-sdk, documentation

chore: using the same conventions for Views implementation is samples
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UsersByCountryView.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueViewEnrichment.java
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByEmailView.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/Customer.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomerEntries.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomerEntry.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomersList.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomersByEmailView.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomersByNameView.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerEntries.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerEntry.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerRow.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomersList.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomerSummaryByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByEmail.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersResponseByName.java
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransfersView.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
Labels: documentation

fixing issues after rebasing
  docs/src/modules/java/pages/views.adoc
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersListByName.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
Labels: documentation

fixing sample
  samples/key-value-customer-registry/src/main/java/customer/application/CustomerSummaryByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersListByName.java
Labels: documentation

fixing docs
  docs/src/modules/java/pages/views.adoc
Labels: documentation

fixing docs
  docs/src/modules/java/pages/views.adoc
Labels: documentation

chore: using the same conventions for Views implementation is samples (#323)
  docs/src/modules/java/pages/views.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UsersByCountryView.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueViewEnrichment.java
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByEmailView.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/Customer.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomerEntries.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomerEntry.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/domain/CustomersList.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomersByEmailView.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomersByNameView.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerEntries.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerEntry.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomerRow.java
  samples/event-sourced-customer-registry/src/main/java/customer/domain/CustomersList.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomerSummaryByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByEmail.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByName.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersListByName.java
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransfersView.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
Labels: documentation

docs: Getting started agent guide, part 1 and 2
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEntity.java
Labels: documentation

ci: checkout to respect workflow trigger branch
  .github/workflows/pr-akka-samples.yml
Labels: none

Updates the "identify the agent" section to be more clear (#590)
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

feat: Support for Hugging Face models (#598)
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: java-sdk, documentation

the the
  akka-javasdk-tests/tempo.yaml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_expose.adoc
Labels: java-sdk, documentation

that that
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs(concepts): update/move service packaging
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: Getting started agent guide, part 3
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  samples/doc-snippets/src/main/java/agent_guide/part3/WeatherAgent.java
  samples/doc-snippets/src/test/java/agent_guide/part3/WeatherAgentIntegrationTest.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
Labels: documentation

docs: Getting started agent guide, part 4
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeam.java
Labels: documentation

docs: Getting started agent guide, part 5
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityView.java
Labels: documentation

docs: some javadocs improvements
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

docs: some javadocs improvements (#646)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
Labels: java-sdk

docs(concepts): update/move service packaging (#644)
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs(concepts): expand memory and state info
  docs/src/modules/concepts/images/shard-rebalance-data.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(concepts): expand memory and state info (#624)
  docs/src/modules/concepts/images/shard-rebalance-data.png
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

chore: Publish snapshot docs from main
  .github/workflows/docs-wip.yml
Labels: none

chore: Publish snapshot docs from main (#648)
  .github/workflows/docs-wip.yml
Labels: none

Apply suggestions from code review
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
Labels: documentation

Changed heading to distributed-systems.adoc
  docs/src/modules/concepts/pages/distributed-systems.adoc
Labels: documentation

chore: Missing .bundleignore
  samples/helloworld-agent/.bundleignore
  samples/multi-agent/.bundleignore
Labels: documentation

chore: Missing .bundleignore (#650)
  samples/helloworld-agent/.bundleignore
  samples/multi-agent/.bundleignore
Labels: documentation

chore: Missing tool and mcp tool streaming effect APIs
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
Labels: java-sdk

chore: Missing tool and mcp tool streaming effect APIs (#651)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
Labels: java-sdk

docs: view query with more than one param
  docs/src/modules/java/partials/query-syntax-reference.adoc
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
Labels: documentation

chore: fix link to graphical design repo
  docs/README.md
Labels: documentation

Apply suggestions from code review
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
Labels: documentation

docs: augmenting Akka Agentic Platform and Akka Automated Operations
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/akka-platform.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/platform-features.adoc
Labels: documentation

review feedback
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
Labels: documentation

remove breadcrumbs
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
Labels: documentation

additional
  docs/src/modules/ROOT/pages/index.adoc
  samples/ask-akka-agent/README.md
Labels: documentation

docs: Getting started agent guide, part 1 and 2 (#642)
  akka-javasdk-tests/tempo.yaml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_expose.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEntity.java
Labels: java-sdk, documentation

chore: fix link to graphical design repo (#653)
  docs/README.md
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
