Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Akka CLI 3.0.12
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

bump: Runtime 1.3.6
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: disabling ACLs for integration tests
  docs/src/modules/java/pages/access-control.adoc
Labels: documentation

feat: Serve static resources from endpoint
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClassPathResource.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/resources/static/images/background.png
  samples/doc-snippets/src/main/resources/static/index.html
  samples/doc-snippets/src/main/resources/static/style.css
Labels: java-sdk, documentation

actually working silly page with jquery calling service
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClassPathResource.scala
  samples/doc-snippets/src/main/java/com/example/api/StaticResourcesEndpoint.java
  samples/doc-snippets/src/main/resources/static/index.html
Labels: java-sdk, documentation

some progress - predefined static directory, more error handling
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/ResourcesEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/static-resources/images/image.gif
  akka-javasdk-tests/src/test/resources/static-resources/images/image.jpg
  akka-javasdk-tests/src/test/resources/static-resources/images/image.png
  akka-javasdk-tests/src/test/resources/static-resources/index.html
  akka-javasdk-tests/src/test/resources/static-resources/sample-pdf-file.pdf
  akka-javasdk-tests/src/test/resources/static-resources/script.js
  akka-javasdk-tests/src/test/resources/static-resources/style.css
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClassPathResource.scala
  samples/doc-snippets/src/main/java/com/example/api/StaticResourcesEndpoint.java
  samples/doc-snippets/src/main/resources/static-resources/images/background.png
  samples/doc-snippets/src/main/resources/static-resources/index.html
  samples/doc-snippets/src/main/resources/static-resources/style.css
Labels: java-sdk, documentation

pre-defined static-content resource directory, test coverage
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/ResourcesEndpoint.java
  akka-javasdk-tests/src/test/resources/static-resources/unknown-type.zip
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
Labels: java-sdk

updated css and html
  samples/doc-snippets/src/main/resources/static-resources/index.html
  samples/doc-snippets/src/main/resources/static-resources/style.css
Labels: documentation

Validation for wildcards
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
Labels: java-sdk

docs section
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/api/StaticResourcesEndpoint.java
Labels: documentation

Show mapping root as well
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/api/StaticResourcesEndpoint.java
  samples/doc-snippets/src/main/resources/static-resources/favicon.ico
Labels: documentation

correct source paths
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

formatting and vale
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

drop old sample snippet
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
Labels: documentation

linking shopping cart sample to github repo
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

chore: License change date for 3.2.0
  LICENSE
Labels: none

replacing another link to the zip
  docs/src/modules/java/pages/event-sourced-entities.adoc
Labels: documentation

docs: fix streaming the result cross link
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/views.adoc
Labels: documentation

docs: fix code references for example
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

docs: Update release notes, SDK 3.2.0, Runtime 1.3.6 etc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

removing more download references
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

build: Allow republish of artifacts to not block rerun of partially failed release
  project/PublishPlugin.scala
Labels: none

chore: Bump samples to 3.2.0
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

feat: expose self region and message origin
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TimedActionTestkit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/AbstractTestKitContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  akka-javasdk/src/main/java/akka/javasdk/Context.java
  akka-javasdk/src/main/java/akka/javasdk/OriginAwareContext.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/view/UpdateContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
Labels: java-sdk

wip: 1.3.6-14-1f7be472-SNAPSHOT [skip ci]
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

addiing selfRegion to GrpcRequestContext
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

Inline images in section titles
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

docs(samples): add Akka Chess
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

chore: Cleanup kve in ViewDescriptorFactory
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

docs: Key Value Entity replication
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/partials/mutli-region-replication.adoc
Labels: documentation

docs: explaining 3.2.0 release notes
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: components overview page
  docs/src/modules/java/images/consumer.png
  docs/src/modules/java/images/endpoint.png
  docs/src/modules/java/images/event-sourced-entity.png
  docs/src/modules/java/images/key-value-entity.png
  docs/src/modules/java/images/view.png
  docs/src/modules/java/images/workflow.png
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/components.adoc
Labels: documentation

docs: Explain new primary selection modes
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

Pimp architecture model page with icons
  docs/src/modules/ROOT/images/consumer.png
  docs/src/modules/ROOT/images/endpoint.png
  docs/src/modules/ROOT/images/event-sourced-entity.png
  docs/src/modules/ROOT/images/key-value-entity.png
  docs/src/modules/ROOT/images/view.png
  docs/src/modules/ROOT/images/workflow.png
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/images/consumer.png
  docs/src/modules/java/pages/components.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

float left
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/components.adoc
Labels: documentation

Inline images in section titles (#236)
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

gRPC in components page
  docs/src/modules/java/pages/components.adoc
Labels: documentation

remove -writes part
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

Update docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

update operations docs
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
