Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

some progress on using SPI instead of local impl
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpEndpointDescriptorFactorySpec.scala
  project/Dependencies.scala
Labels: java-sdk

implementation, and the dynamic call in component client
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

Update docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

Update docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

fix test
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
Labels: none

json schema for method parameters
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/Description.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

some work on multiple parameters as tool input
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

multi param tool working with inspector
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

support arity 0
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentDeferredMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentDeferredMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentInvokeOnlyMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentInvokeOnlyMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRefAnyArity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
Labels: java-sdk

public AgentInfo
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

fmt
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRefAnyArity.java
Labels: java-sdk

snap release of runtime with MCP support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

vale, formatting
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: java-sdk, documentation

added some test coverage
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  project/Dependencies.scala
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

more impl, tests, and docs
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/java/akka/javasdk/client/DynamicMethodRef.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ReflectSpec.scala
Labels: java-sdk

types in the sample
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

fmt
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
Labels: java-sdk

one more test
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
Labels: java-sdk

chore: Make AgentDescription optional
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
Labels: java-sdk

logger
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
Labels: java-sdk

internal
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
Labels: java-sdk

exc message
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
Labels: java-sdk

feat: AgentRegistry to support planning (#482)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentDeferredMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentDeferredMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentInvokeOnlyMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentInvokeOnlyMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/DynamicMethodRef.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/MultiAgent.java
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ReflectSpec.scala
Labels: java-sdk

more work
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpPrompt.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResourceTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

adding more details to events and address feedback
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

feat: tool call support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Param.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionDescriptors.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  project/Dependencies.scala
Labels: java-sdk

add total token usage to events
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
Labels: java-sdk

refactor test
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
Labels: none

use mutable state for efficiency
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
Labels: java-sdk

revert changes to disable (to be included in another pr)
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/NoOpMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

feat: adding read/write only modes and custom memory
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

enable/disable memory by config
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

add javadocs
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
Labels: java-sdk

ts to timestamp
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
Labels: java-sdk

ts to timestamp
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
Labels: java-sdk

resource templates with callbacks
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResourceTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  docs/src/modules/java/pages/mcp-endpoints.adoc
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

bump runtime snapshot
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

Access to request headers
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

refactor and adding history limit
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

better names
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
Labels: java-sdk
