Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

fix: Handle nested class names in annotation processor
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/NestedEventSourcedEntity.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/test/scala/com/example/EntitiesAndViewsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentMore.java
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgentMore.java
Labels: java-sdk, documentation

update rag
  docs/src/modules/java/pages/rag.adoc
Labels: documentation

Update docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

some more convenience
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
  samples/doc-snippets/src/main/java/com/example/application/RemoteMcpWeatherAgent.java
Labels: java-sdk, documentation

fix: Handle nested class names in annotation processor (#603)
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/NestedEventSourcedEntity.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/test/scala/com/example/EntitiesAndViewsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/rag.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentMore.java
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgent.java
  samples/doc-snippets/src/main/java/com/example/application/MyAgentMore.java
Labels: java-sdk, documentation

chore: Source files can be removed in samples (#600)
  .github/workflows/pr-akka-samples.yml
Labels: none

chore: Unwrap InvocationTargetException in tool calls
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

chore: simplified planning for single agent run (#602)
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
Labels: documentation

an an
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

feat: Remote MCP server tools (#559)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/RemoteMcpToolsImpl.scala
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/RemoteMcpWeatherAgent.java
Labels: java-sdk, documentation

more docs
  akka-javasdk/src/main/resources/reference.conf
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: java-sdk, documentation

chore: Unwrap InvocationTargetException in tool calls (#597)
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

Update banner text
  docs/supplemental_ui/partials/notification-banner.hbs
Labels: documentation

docs: reuse concepts intro in getting started
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

docs: add deploy runbook to ask akka sample
  samples/ask-akka-agent/README.md
Labels: documentation

docs: add language game to getting started guide
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/HelloWorldAgent.java
Labels: java-sdk, documentation

docs(concepts): revise Akka design goals section
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

config snippets marked as bash for most readable rendering
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

add close button to the banner
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-005-bundle.zip
  docs/supplemental_ui/layouts/notification.hbs
  docs/supplemental_ui/partials/notification-banner.hbs
Labels: documentation

adapt hello world to showcase memory without explicit game
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/HelloWorldAgent.java
Labels: java-sdk, documentation

docs(concepts): add distributed system properties
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs(concepts): support for agentic runtimes
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_remote.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_remote_add.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_remote_list.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_remote_remove.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_projects.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_projects_settings.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_projects_settings_down-region.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_logging.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_logging_list.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_logging_unset-level.adoc
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
Labels: documentation

CLI release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: Update getting started guide with language greetings
  .github/workflows/ci.yml
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/.idea/runConfigurations/Run_locally.xml
  samples/helloworld-agent/README.md
  samples/helloworld-agent/pom.xml
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/api/package-info.java
  samples/helloworld-agent/src/main/java/com/example/application/HelloWorldAgent.java
  samples/helloworld-agent/src/main/java/com/example/application/package-info.java
  samples/helloworld-agent/src/main/java/com/example/domain/package-info.java
  samples/helloworld-agent/src/main/resources/application.conf
  samples/helloworld-agent/src/main/resources/include-dev-loggers.xml
  samples/helloworld-agent/src/main/resources/include-loggers.xml
  samples/helloworld-agent/src/test/java/com/example/IntegrationTest.java
  samples/multi-agent/.idea/runConfigurations/Run_locally.xml
  samples/multi-agent/src/main/resources/application.conf
Labels: documentation

chore: Log more details if gRPC test not on virtual thread #3950
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
Labels: none

chore: Remove maven archetype
  akka-javasdk-maven/akka-javasdk-archetype/README.md
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.idea/runConfigurations/Run_locally.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/domain/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/include-dev-loggers.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/include-loggers.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/pom.xml
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  publishLocally.sh
Labels: java-sdk, documentation

local console img, and updated sample responses
  docs/src/modules/getting-started/images/hello-world-local-console.png
  docs/src/modules/getting-started/images/hello-world-session-memory.png
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/application/HelloWorldAgent.java
Labels: documentation

vale
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

add LICENSE to samples
  samples/ask-akka-agent/LICENSE
  samples/doc-snippets/LICENSE
  samples/endpoint-jwt/LICENSE
  samples/event-sourced-counter-brokers/LICENSE
  samples/event-sourced-customer-registry-subscriber/LICENSE
  samples/event-sourced-customer-registry/LICENSE
  samples/helloworld-agent/LICENSE
  samples/key-value-counter/LICENSE
  samples/key-value-customer-registry/LICENSE
  samples/key-value-shopping-cart/LICENSE
  samples/multi-agent/LICENSE
  samples/reliable-timers/LICENSE
  samples/shopping-cart-quickstart/LICENSE
  samples/shopping-cart-with-view/LICENSE
  samples/spring-dependency-injection/LICENSE
  samples/tracing/LICENSE
  samples/transfer-workflow-compensation/LICENSE
  samples/transfer-workflow/LICENSE
  samples/view-store/LICENSE
Labels: documentation

bump: Spring 8.2.8, in doc sample
  project/SamplesCompilationProject.scala
  samples/spring-dependency-injection/pom.xml
Labels: documentation

bump: Spring 8.2.8, in doc sample (#619)
  project/SamplesCompilationProject.scala
  samples/spring-dependency-injection/pom.xml
Labels: documentation

chore: Remove maven archetype (#618)
  akka-javasdk-maven/akka-javasdk-archetype/README.md
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.idea/runConfigurations/Run_locally.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/domain/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/include-dev-loggers.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/include-loggers.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/pom.xml
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  publishLocally.sh
Labels: java-sdk, documentation

chore: Log more details if gRPC test not on virtual thread #3950 (#617)
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
Labels: none

bump: Akka Runtime to 1.5.1
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

norwarn on deprecation
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
Labels: java-sdk

bump: jackson 2.19.0
  project/Dependencies.scala
Labels: none

missing component client test
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
Labels: java-sdk

Auto PR - Akka Runtime version 1.5.1 (#620)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
Labels: java-sdk

feat: http endpoint method specs for request building
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
