Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

docs
  docs/src/modules/operations/pages/stanalone.adoc
  samples/doc-snippets/kubernetes/namespace.yml
Labels: documentation

incorporate in doc structure
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/operations/pages/standalone.adoc
  docs/src/modules/self-managed/pages/index.adoc
  docs/src/modules/self-managed/pages/running-self-managed.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

runtime 1.4.4
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

Apply suggestions from code review
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/self-managed/pages/running-self-managed.adoc
Labels: documentation

WIP: single resutls with lists in views
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/user/UsersView.java
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
Labels: java-sdk, documentation

feat: sync client calls with virtual threads
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/EventingTestkitTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentInvokeOnlyMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentInvokeOnlyMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/EmailEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UserEventsConsumer.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterByValueViewTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIntegrationTest.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferViewIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
Labels: java-sdk, documentation

Full features list
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/partials/platform-features.adoc
Labels: documentation

Most sample endpoints moved to invoke
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/MyComponent.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/spring-dependency-injection/src/main/java/com/example/application/EmailComposer.java
  samples/spring-dependency-injection/src/main/java/com/example/application/EmailSender.java
  samples/spring-dependency-injection/src/main/java/com/example/application/Notifier.java
  samples/spring-dependency-injection/src/main/java/com/example/infrastructure/DefaultEmailSender.java
  samples/spring-dependency-injection/src/test/java/com/example/TestEmailSender.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/view-store/src/main/java/store/customer/api/CustomerEndpoint.java
  samples/view-store/src/main/java/store/order/api/OrderEndpoint.java
  samples/view-store/src/main/java/store/product/api/ProductEndpoint.java
Labels: documentation

no timeout needed
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
Labels: java-sdk

bump: Akka Runtime to 1.4.5
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

Most samples moved to invoke for endpoints and tests now
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalServiceEndpoint.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/endpoint-jwt/src/test/java/hellojwt/api/HelloJwtIntegrationTest.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterCommandFromTopicConsumer.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealKafkaIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-counter/src/test/java/com/example/CounterIntegrationTest.java
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-customer-registry/src/test/java/customer/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/reliable-timers/src/main/java/com/example/application/OrderTimedAction.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIntegrationTest.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/spring-dependency-injection/src/main/java/com/example/CounterSetup.java
  samples/spring-dependency-injection/src/test/java/com/example/CounterIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIntegrationTest.java
  samples/transfer-workflow/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
  samples/view-store/src/main/java/store/customer/api/CustomerEndpoint.java
  samples/view-store/src/test/java/store/view/StoreViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: documentation

Example of where using invokeAsync can still be useful
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
Labels: documentation

feat: workflow background process
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/ImporterWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/ImporterWorkflowBackgroundProcess.java
Labels: java-sdk, documentation

retries improvements
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/RetryEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/AsyncUtils.java
  akka-javasdk/src/main/java/akka/javasdk/Retries.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AsyncUtilsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/RetriesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

retries improvements
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
Labels: java-sdk

unwrap ExecutionExceptions
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
Labels: java-sdk

apply suggestion from review
  akka-javasdk/src/main/java/akka/javasdk/Retries.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
Labels: java-sdk

unwrapping exception
  akka-javasdk/src/main/scala/akka/javasdk/impl/RetriesImpl.scala
Labels: java-sdk

incorporate feedback
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/self-managed/pages/running-self-managed.adoc
Labels: documentation

more vale
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docker compose
  docs/src/modules/self-managed/pages/running-self-managed.adoc
  samples/doc-snippets/standalone/deployment.yml
  samples/doc-snippets/standalone/docker-compose.yml
  samples/doc-snippets/standalone/namespace.yml
  samples/doc-snippets/standalone/podcost-crd.yml
  samples/doc-snippets/standalone/rbac.yml
  samples/doc-snippets/standalone/service.yml
Labels: documentation

feat: Replication filters
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/ReplicationFilter.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReplicationFilterImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
Labels: java-sdk

temporary testing with shopping cart
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-quickstart/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-quickstart/src/main/resources/region1.conf
  samples/shopping-cart-quickstart/src/main/resources/region2.conf
  samples/shopping-cart-quickstart/src/main/resources/region3.conf
Labels: documentation

runtime snap
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs and api
  akka-javasdk/src/main/java/akka/javasdk/annotations/EnableReplicationFilter.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/ReplicationFilter.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReplicationFilterImpl.scala
  docs/src/modules/java/pages/event-sourced-entities.adoc
  samples/doc-snippets/src/main/java/com/example/replicationfilter/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
Labels: java-sdk, documentation

docs: Akka core 2.10.3 release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Review of deployment model and fully-automated features
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/operations/partials/platform-features.adoc
Labels: documentation

Remove todo, fix grammar
  docs/src/modules/concepts/pages/deployment-model.adoc
Labels: documentation

fix: use step pause in config
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
Labels: java-sdk

step 1 of the new ask akka sample
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ask-akka/index.adoc
  docs/src/modules/java/pages/ask-akka/session.adoc
Labels: documentation

style fixes
  docs/src/modules/java/pages/ask-akka/session.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

fix pubsub integration test
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
Labels: documentation

style fix
  docs/src/modules/java/pages/ask-akka/session.adoc
Labels: documentation

bump: Akka 2.10.3
  project/Dependencies.scala
Labels: none

fmt
  akka-javasdk/src/main/java/akka/javasdk/Retries.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
Labels: java-sdk

fixing link
  docs/src/modules/java/pages/ask-akka/session.adoc
Labels: documentation

laziness
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

update some tests, add some test coverage for running on virtual thread
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/TestEndpoint.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  project/Dependencies.scala
Labels: java-sdk

Distinguish as Akka Platform
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/platform-features.adoc
  docs/src/modules/self-managed/nav.adoc
  docs/src/modules/self-managed/pages/configuring.adoc
  docs/src/modules/self-managed/pages/index.adoc
Labels: documentation

fix include
  docs/src/modules/java/pages/ask-akka/index.adoc
Labels: documentation
