Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: debug static file upload
  docs/bin/ssh-docs-prepare.sh
Labels: documentation

chore: Log view updater errors
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
Labels: java-sdk

docs: "an Akka" instead of "a Akka"
  docs/src/modules/operations/pages/integrating-cicd/index.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/metrics.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/projects/broker-aiven.adoc
  docs/src/modules/operations/pages/projects/broker-aws-msk.adoc
  docs/src/modules/operations/pages/projects/broker-confluent.adoc
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/operations/pages/services/data-management.adoc
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

docs: sync workflows
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
  docs/bin/deploy-site.sh
  docs/bin/ssh-docs-prepare.sh
Labels: documentation

docs: port library release notes
  docs/.vale.ini
  docs/src/modules/libraries/pages/index.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes/2022-10-26-akka-22.10-released.adoc
  docs/src/modules/reference/pages/release-notes/2023-05-16-akka-23.5-released.adoc
  docs/src/modules/reference/pages/release-notes/2023-10-31-akka-23.10-released.adoc
  docs/src/modules/reference/pages/release-notes/2024-05-17-akka-24.05-released.adoc
  docs/src/modules/reference/pages/release-notes/2024-10-02-akka-2.9.6-released.adoc
  docs/src/modules/reference/pages/release-notes/2024-10-30-akka-24.10-released.adoc
  docs/src/modules/reference/pages/security-announcements/akka-2017-02-10.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: github setup-akka-cli-action
  docs/src/modules/operations/pages/integrating-cicd/github-actions.adoc
Labels: documentation

docs: warn about routes being global by default
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/operations/pages/services/invoke-service.adoc
Labels: documentation

Revert "docs: sync workflows"
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
  docs/bin/deploy-site.sh
Labels: documentation

docs(samples): Shopping Cart local console events
  docs/src/modules/java/images/local-console-1.png
  docs/src/modules/java/images/local-console-first-app-events.png
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

docs: warning about workflows step idempotency
  docs/src/modules/java/pages/workflows.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: fix img misalignment and CLI version
  Makefile
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: clarify CLI install for local console use
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

chore: let domain decide the error message
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEntity.java
Labels: documentation

docs: mention ESE before KVE
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/pages/index.adoc
Labels: documentation

feat: Allow Java collection parameters for all component types
  akka-javasdk-testkit/src/it/java/com/example/wiring/EndpointsIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/KeyValueEntityIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/keyvalueentities/user/UserEntity.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/WorkflowIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandSerialization.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

chore: Improve error handling
  .github/workflows/ci.yml
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/jwt/JwtEndpointTest.java
  akka-javasdk-testkit/src/it/resources/application.conf
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/AsyncCallsSupport.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ErrorHandling.scala
  build.sbt
  samples/event-sourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
Labels: java-sdk, documentation

chore: Validate endpoint path parameters against path expression
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ComponentDescriptorSuite.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/KeyValueEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/WorkflowEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: java-sdk, documentation

docs: add project user viewer role
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
Labels: documentation

docs: directly link entity event log
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

feat: Allow abstract inbetween types for components
  akka-javasdk-annotation-processor-tests/actions-descriptors/src/main/java/com/example/AbstracInbetweenAction.java
  akka-javasdk-annotation-processor-tests/actions-descriptors/src/main/java/com/example/HierarchyTimedAction.java
  akka-javasdk-annotation-processor-tests/actions-descriptors/src/test/scala/com/example/TimedActionDescriptorSpec.scala
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/AbstractInbetweenEsEntity.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/AbstractInbetweenKvEntity.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/AbstractInbetweenKvEntity2.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/HierarchyEsEntity.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/HierarchyKvEntity.java
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/test/scala/com/example/EntitiesAndViewsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/KeyValueEntityIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/SdkIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/StaticTestBuffer.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/actions/echo/ActionWithMetadata.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/actions/hierarchy/AbstractTimed.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/actions/hierarchy/HierarchyTimed.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/hierarchy/AbstractTextConsumer.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/hierarchy/AbstractTextEsEntity.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/hierarchy/TextEsConsumer.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/hierarchy/TextEsEntity.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/keyvalueentities/hierarchy/AbstractTextConsumer.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/keyvalueentities/hierarchy/AbstractTextKvEntity.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/keyvalueentities/hierarchy/TextKvConsumer.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/keyvalueentities/hierarchy/TextKvEntity.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/views/hierarchy/CountersByValueBaseClass.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/views/hierarchy/HierarchyCountersByValue.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/WorkflowIntegrationTest.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/hierarchy/AbstractTextKvWorkflow.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/workflowentities/hierarchy/TextWorkflow.java
  akka-javasdk-testkit/src/it/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

chore: remove label from docker init image
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

fix(docs): Handling Proxies heading
  docs/src/modules/akka-cli/pages/using-cli.adoc
Labels: documentation

docs: bring 1% filtering docs from kalix_docs
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
Labels: documentation

docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/operations/pages/projects/broker-aiven.adoc
Labels: documentation

docs: robots.txt sync
  .github/workflows/docs-static.yml
  docs/bin/rsync-docs.sh
  docs/src-static/robots.txt
Labels: documentation

docs: document multi-region push and deploy
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/operations/pages/services/note-about-push.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

chore: kalixConsole in observability descriptor
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/reference/pages/descriptors/observability-descriptor.adoc
Labels: documentation

docs: Prod deploy workflow
  .github/workflows/docs-prod.yml
  .github/workflows/docs-static.yml
  docs/bin/deploy-site.sh
  docs/bin/rsync-docs.sh
Labels: documentation

chore: Remove java8 compat
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/PrincipalsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
  project/Dependencies.scala
Labels: java-sdk

docs: tracing setup improvements
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
Labels: documentation

docs: akka-core redirects; docs catch-all
  docs/src-static/.htaccess
Labels: documentation

docs(samples): Shopping Cart deployment steps
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

bump: runtime 1.1.53
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  project/Dependencies.scala
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

docs: move samples into Developing section
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  docs/src/antora.yml
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/samples/nav.adoc
Labels: java-sdk, documentation

docs: improve the current redirect
  docs/src-static/.htaccess
Labels: documentation

docs: changing naming components in control tower
  docs/src/modules/operations/pages/observability-and-monitoring/metrics.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
Labels: documentation

docs: HTTP endpoints accepting a list as request body
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

docs: Declarative Effects
  akka-javasdk/src/main/java/akka/javasdk/consumer/Consumer.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/TimedAction.java
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/declarative-effects.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
Labels: java-sdk, documentation

chore: do not push image on deploy
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

feat: force clean on missing descriptor
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
