Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

docs: Multi-region replication
  docs/src/modules/java/pages/event-sourced-entities.adoc
  samples/eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/application/ShoppingCartEntity.java
Labels: kalix-runtime, Documentation

chore: remove effective-pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  samples/choreography-saga-quickstart/.bundleignore
  samples/choreography-saga-quickstart/.gitignore
  samples/customer-registry-quickstart/.bundleignore
  samples/customer-registry-quickstart/.gitignore
  samples/customer-registry-views-quickstart/.bundleignore
  samples/customer-registry-views-quickstart/.gitignore
  samples/doc-snippets/.gitignore
  samples/eventsourced-counter/.gitignore
  samples/eventsourced-customer-registry-subscriber/.gitignore
  samples/eventsourced-customer-registry/.gitignore
  samples/eventsourced-shopping-cart/.gitignore
  samples/reliable-timers/.gitignore
  samples/shopping-cart-quickstart/.gitignore
  samples/spring-dependency-injection/.gitignore
  samples/tracing/.gitignore
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow/.gitignore
  samples/valueentity-counter/.gitignore
  samples/valueentity-counter/effective-pom.xml
  samples/valueentity-customer-registry/.gitignore
  samples/valueentity-shopping-cart/.gitignore
  samples/view-store/.gitignore
Labels: kalix-runtime, java-sdk, Documentation

docs: Component and http client calls
  akka-javasdk/src/main/java/akka/javasdk/http/StrictResponse.java
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceAction.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: kalix-runtime, java-sdk, Documentation

docs: Remove java-protobuf pages
  docs/dev/src/antora.yml
  docs/src/modules/developing/pages/development-process-proto.adoc
  docs/src/modules/java-protobuf/pages/access-control.adoc
  docs/src/modules/java-protobuf/pages/actions.adoc
  docs/src/modules/java-protobuf/pages/api.adoc
  docs/src/modules/java-protobuf/pages/call-another-service.adoc
  docs/src/modules/java-protobuf/pages/developer-tools.adoc
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
  docs/src/modules/java-protobuf/pages/failures-and-errors.adoc
  docs/src/modules/java-protobuf/pages/index.adoc
  docs/src/modules/java-protobuf/pages/project-template.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java-protobuf/pages/replicated-entity-crdt.adoc
  docs/src/modules/java-protobuf/pages/running-locally.adoc
  docs/src/modules/java-protobuf/pages/serving-web-resources.adoc
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  docs/src/modules/java-protobuf/pages/timers.adoc
  docs/src/modules/java-protobuf/pages/using-jwts.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java-protobuf/pages/workflows.adoc
  docs/src/modules/java-protobuf/pages/writing-grpc-descriptors-protobuf.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
Labels: kalix-runtime, Documentation

feat: Access to HTTP client provider from testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/eventsourced-counter/src/it/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
Labels: kalix-runtime, java-sdk, Documentation

docs: Remove java-protobuf partials
  docs/src/modules/developing/pages/development-process-proto.adoc
  docs/src/modules/java-protobuf/nav.adoc
  docs/src/modules/java-protobuf/partials/actions.adoc
  docs/src/modules/java-protobuf/partials/effects-action.adoc
  docs/src/modules/java-protobuf/partials/effects-replicated-entity.adoc
  docs/src/modules/java-protobuf/partials/effects-value-entity.adoc
  docs/src/modules/java-protobuf/partials/effects-view.adoc
  docs/src/modules/java-protobuf/partials/effects-workflow.adoc
  docs/src/modules/java-protobuf/partials/env-file.txt
  docs/src/modules/java-protobuf/partials/eventsourced.adoc
  docs/src/modules/java-protobuf/partials/important-mvn-kalixdeploy.adoc
  docs/src/modules/java-protobuf/partials/testing-entity.adoc
  docs/src/modules/java-protobuf/partials/timers-intro.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/development-process.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/effects-api.adoc
  docs/src/modules/java/partials/query-syntax-advanced.adoc
  docs/src/modules/java/partials/query-syntax-paging.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  samples/eventsourced-customer-registry-subscriber/README.md
  samples/eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerRegistryIntegrationTest.java
Labels: kalix-runtime, Documentation

docs: serialization
  docs/src/modules/java/pages/serialization.adoc
  samples/eventsourced-customer-registry/README.md
  samples/eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/eventsourced-customer-registry/src/main/java/customer/CustomerRegistrySetup.java
  samples/eventsourced-customer-registry/src/main/java/customer/domain/CustomerEvent.java
  samples/eventsourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
  samples/eventsourced-customer-registry/src/test/java/customer/domain/schemaevolution/AddressChangedMigration.java
  samples/eventsourced-customer-registry/src/test/java/customer/domain/schemaevolution/CustomerEvent.java
Labels: kalix-runtime, Documentation

docs: HTTP endpoint page
  docs/src/modules/java/pages/endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/index.adoc
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/eventsourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: kalix-runtime, Documentation

docs: Key Value Entity
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/development-process.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/entity-sharding.adoc
  samples/valueentity-counter/README.md
  samples/valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/valueentity-counter/src/main/java/com/example/api/CounterEndpoint.java
  samples/valueentity-counter/src/main/java/com/example/api/Number.java
  samples/valueentity-counter/src/main/java/com/example/application/CounterEntity.java
  samples/valueentity-counter/src/main/java/com/example/domain/Counter.java
  samples/valueentity-counter/src/test/java/com/example/CounterTest.java
Labels: kalix-runtime, Documentation

docs: access control list page
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/hello/HelloWorldEndpoint.java
  docs/src/modules/java/pages/access-control.adoc
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
Labels: kalix-runtime, java-sdk, Documentation

fix: updateRuntimeVersions did not update the right places
  samples/doc-snippets/docker-compose.yml
  updateRuntimeVersions.sh
Labels: kalix-runtime, Documentation

docs: Dependency injection and service lifecycle page
  akka-javasdk-testkit/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseConsumer.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/tracingcounter/TIncrease.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/keyvalueentities/user/ValidateUserAction.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TimedActionTestkit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitCommandContextTimed.scala
  akka-javasdk/src/main/java/akka/javasdk/consumer/ConsumerContext.java
  akka-javasdk/src/main/java/akka/javasdk/impl/ConsumerFactory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/TimedActionFactory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/ViewFactory.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/TimedActionContext.java
  akka-javasdk/src/main/java/akka/javasdk/view/ViewContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ResolvedConsumerFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ResolvedTimedActionFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/cusomer/CustomerHandlerSpec.scala
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/MyAppSettings.java
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/resources/application.conf
  samples/spring-dependency-injection/src/main/java/com/example/CounterSetup.java
Labels: kalix-runtime, java-sdk, Documentation

fix: adding ACL import to archetype
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/hello/HelloWorldEndpoint.java
Labels: kalix-runtime, java-sdk

feat(docs): enable local build with Antora
  .gitignore
  Makefile
  docs/dev/antora.yml
  docs/dev/src/antora.yml
  docs/src/antora.yml
  docs/src/modules/ROOT/nav.adoc
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/nav.adoc
  local.yml
  package-lock.json
  package.json
  supplemental_ui/bundle/kalix-theme-ui-001-bundle.zip
Labels: kalix-runtime, Documentation

fix: naming event with past tense
  samples/eventsourced-customer-registry/src/test/java/customer/domain/schemaevolution/AddressChangedMigration.java
Labels: kalix-runtime, Documentation

docs/antora: Link root and Akka SDK
  docs/src/antora.yml
  docs/src/modules/ROOT/nav.adoc
  docs/src/modules/java/nav.adoc
  local.yml
Labels: kalix-runtime, Documentation

docs: Remove replication deployment per type
  docs/src/modules/java/pages/event-sourced-entities.adoc
Labels: kalix-runtime, Documentation

docs/antora: build local Docker image
  Makefile
  docs/antora-docker/Dockerfile
  docs/antora-docker/README.md
  docs/antora-docker/docker-entrypoint.sh
  docs/bin/deploy.sh
  docs/local.yml
  docs/supplemental_ui/bundle/kalix-theme-ui-001-bundle.zip
Labels: kalix-runtime, Documentation

docs/antora: add partials
  docs/src/modules/ROOT/images/new-tab.svg
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/partials/attributes.adoc
Labels: kalix-runtime, Documentation

docs: WIP publishing (1)
  .github/workflows/docs-wip.yml
  .github/workflows/publish-docs.yml
  docs/bin/deploy-site.sh
  docs/bin/gustav_known_hosts.txt
Labels: kalix-runtime, Documentation

docs: timed action and timers
  akka-javasdk/src/main/java/akka/javasdk/DeferredCall.java
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/reliable-timers/src/main/java/com/example/application/OrderTimedAction.java
Labels: kalix-runtime, java-sdk, Documentation

docs/Antora: copy examples for includes
  Makefile
  docs/.gitignore
  docs/src/modules/java/partials/attributes.adoc
Labels: kalix-runtime, Documentation

docs: update README with WIP deploy instructions
  docs/README.md
Labels: kalix-runtime, Documentation

fix: avoiding uploading pom on 'mvn deploy'
  .github/publish-maven-to-cloudsmith.sh
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

docs: publish with rsync
  docs/bin/deploy-site.sh
  samples/eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/application/ShoppingCartEntity.java
Labels: kalix-runtime, Documentation

docs: Concepts - Programming Model and Dev Process
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/programming-model.adoc
  docs/src/modules/developing/pages/development-process-proto.adoc
Labels: kalix-runtime, Documentation

docs: WIP publishing (3)
  docs/bin/deploy-site.sh
Labels: kalix-runtime, Documentation

docs: update README with local build instructions
  docs/README.md
Labels: kalix-runtime, Documentation

docs: WIP publishing (4)
  .github/workflows/docs-wip.yml
  docs/bin/deploy-site.sh
Labels: kalix-runtime, Documentation

docs: navigation & structure
  Makefile
  docs/README.md
  docs/antora-playbook-local.yml
  docs/src/antora.yml
  docs/src/modules/ROOT/nav.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
Labels: kalix-runtime, Documentation

chore: print info on init container execution
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: kalix-runtime, java-sdk

chore: identity header and tracing changes
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/junit/jupiter/TestkitExtension.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcClients.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProxyInfoHolder.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/GrpcClientsSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/cusomer/CustomerHandlerSpec.scala
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk

fix: improving ClassNotFoundException message
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: kalix-runtime, java-sdk

docs: workflows
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow-compensation/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/FraudDetectionResult.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/Message.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/WalletEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/api/WalletEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
  samples/transfer-workflow/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow/src/main/java/com/example/wallet/domain/WalletCmd.java
  samples/transfer-workflow/src/main/java/com/example/wallet/domain/WalletEvent.java
Labels: kalix-runtime, Documentation

docs: document ACL in integration tests
  docs/src/modules/java/pages/access-control.adoc
  samples/doc-snippets/src/it/java/com/example/acl/UserEndpointIntegrationTest.java
Labels: kalix-runtime, Documentation

Moved to akka-javasdk with a few more concepts docs from Kalix
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/programming-model.adoc
  docs/src/modules/concepts/pages/state-model.adoc
Labels: kalix-runtime, Documentation

Reference section
  docs/src/antora.yml
  docs/src/modules/reference/images/Changed.svg
  docs/src/modules/reference/images/Deprecated.svg
  docs/src/modules/reference/images/Feature.svg
  docs/src/modules/reference/images/Fixed.svg
  docs/src/modules/reference/images/pull-status-one.png
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/descriptor-reference.adoc
  docs/src/modules/reference/pages/glossary.adoc
  docs/src/modules/reference/pages/index.adoc
  docs/src/modules/reference/pages/migration-guide.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: kalix-runtime, Documentation

chore: remove Acl from internal components
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UserEntity.java
  samples/eventsourced-customer-registry-subscriber/README.md
  samples/eventsourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
  samples/eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByEmailView.java
  samples/eventsourced-customer-registry-subscriber/src/main/java/customer/application/CustomersByNameView.java
  samples/eventsourced-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/tracing/src/main/java/com/example/tracing/TracingSetup.java
Labels: kalix-runtime, Documentation

chore: acl docs page improvement
  docs/src/modules/java/pages/access-control.adoc
Labels: kalix-runtime, Documentation

docs: Running locally
  docs/src/modules/java/pages/running-locally.adoc
  samples/eventsourced-customer-registry-subscriber/pom.xml
Labels: kalix-runtime, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

Documentation:
  - docs/**/*
  - samples/**/*
