Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

implementation draft
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/client/ChatAgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveChatAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/spi/SpiChatAgent.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

sessionId
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
Labels: java-sdk

minor
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
Labels: java-sdk

missing some reflect
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

runtime with agent spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/spi/SpiChatAgent.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
Labels: java-sdk

fmt
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
Labels: java-sdk

runtime 1.4.12-97d2ae4cc
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
Labels: java-sdk, documentation

runtime version
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

rename to Agent
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ChatAgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
Labels: java-sdk, documentation

try in ask-akka
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation

feat: First minimal Agent (#452)
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: java-sdk, documentation

fixing docs
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

spec actually says to put the jsonrpc string in _every_ request and response :/
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

WIP MCP protocol representation
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

some more work on JSON RPC with added test coverage
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

correct batch responses, notifications don't have a response
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

initial handling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpcEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

some progress
  akka-javasdk/src/main/scala/akka/http/scaladsl/SseTrickery.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

reachable from the outside (acl and right return type)
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

Resource listing, resource template listing and resource fetching working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
  samples/key-value-customer-registry/src/main/resources/static-resources/index.html
Labels: java-sdk, documentation

init and list resources working
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

initial tool calling working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

Started playing around with A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

started on user API
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
Labels: java-sdk

customized serializers working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

wrong path in one place in annotation processor
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
Labels: java-sdk

missing id in response error _must_ be null
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

started on more serious ser/deser of the json rpc envelopes
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

started on example endpoint
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: documentation

mcp spec compiling
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

drop A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

API for manual schema
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

more work on hooking up mcp servers
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

Basic resource list/fetch and tool list and call working from inspector
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
Labels: java-sdk, documentation

ping RPC method
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
Labels: java-sdk

reflectively generated input schema for tools
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpToolParameterDescription.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
Labels: java-sdk, documentation

feat: Real agent implementation
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

try in ask-akka
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation

string response working
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/pom.xml
Labels: java-sdk, documentation

structured json response working
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
