Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

git not added file
  docs/src/modules/operations/pages/cli/index.adoc
Labels: documentation

adding instructions to check CLI autogeneration
  docs/README.md
Labels: documentation

docs: akka CLI docs
  docs/src/modules/nav2.adoc
Labels: documentation

avoiding upload nav2 (list of CLI command xrefs)
  .gitignore
Labels: none

further explanation
  docs/README.md
Labels: documentation

small cleanup generate_cli_docs.sh
  docs/bin/generate_cli_docs.sh
  docs/src/modules/reference/nav.adoc
Labels: documentation

feat: retries support
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/java/akka/javasdk/RetrySettings.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/RetrySettings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ReflectSpec.scala
Labels: java-sdk

more back to
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/message-brokers.adoc
  docs/src/modules/operations/pages/cli/command-completion.adoc
  docs/src/modules/operations/pages/cli/installation.adoc
  docs/src/modules/operations/pages/cli/using-cli.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/view-logs.adoc
  docs/src/modules/operations/pages/organizations/manage-users.adoc
  docs/src/modules/operations/pages/organizations/regions.adoc
  docs/src/modules/operations/pages/projects/broker-aiven.adoc
  docs/src/modules/operations/pages/projects/broker-aws-msk.adoc
  docs/src/modules/operations/pages/projects/broker-confluent.adoc
  docs/src/modules/operations/pages/projects/broker-google-pubsub.adoc
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/projects/external-container-registries.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  docs/src/modules/operations/pages/projects/message-brokers.adoc
  docs/src/modules/operations/pages/projects/secrets.adoc
  docs/src/modules/operations/pages/services/data-management.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/operations/pages/services/view-data.adoc
  docs/src/modules/reference/pages/index.adoc
  docs/src/modules/security/pages/jwts.adoc
  docs/src/modules/security/pages/tls-certificates.adoc
Labels: documentation

removing TODO
  docs/src/modules/operations/pages/cli/using-cli.adoc
Labels: documentation

http + asyncUtils
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/RetryEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/AsyncUtils.java
  akka-javasdk/src/main/java/akka/javasdk/RetrySettings.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AsyncUtilsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/RetrySettings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
Labels: java-sdk, documentation

feat: Standalone deployment
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/doc-snippets/kubernetes/deployment.yml
  samples/doc-snippets/kubernetes/podcost-crd.yml
  samples/doc-snippets/kubernetes/rbac.yml
  samples/doc-snippets/kubernetes/service.yml
  updateRuntimeVersions.sh
Labels: java-sdk, documentation

docs
  docs/src/modules/operations/pages/stanalone.adoc
  samples/doc-snippets/kubernetes/namespace.yml
Labels: documentation

docs: Release notes for runtime 1.4.3 and 1.2.13
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

using setting from Akka
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/RetryEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/AsyncUtils.java
  akka-javasdk/src/main/java/akka/javasdk/RetrySettings.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AsyncUtilsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/RetrySettings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  project/Dependencies.scala
Labels: java-sdk

adjusting to akka recent changes
  akka-javasdk/src/main/java/akka/javasdk/AsyncUtils.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AsyncUtilsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  project/Dependencies.scala
Labels: java-sdk

docs: Better sample for views from topic
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
Labels: documentation

from actual topic that consumer with meta produces to
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
Labels: documentation

include an actual query
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
Labels: documentation

some more
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
Labels: documentation

review feedback and text improvement
  docs/src/modules/java/pages/views.adoc
Labels: documentation

endpoint actually works
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
Labels: documentation

import event types
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
Labels: documentation

chore: wrong callout number
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

fix: Correct deserialization of collections in component client return values
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/customer/CustomerEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

Cover Optional<T> and some view stuff as well
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/customer/CustomerEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

some more
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/user/UsersView.java
Labels: none

testkits as well
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EntitySerializationChecker.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterValueEntity.java
Labels: java-sdk

feat: HTTP client JSON array response body support
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/TestEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
Labels: java-sdk

formatting...
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
Labels: java-sdk

docs: remove outdated note
  docs/src/modules/java/pages/views.adoc
Labels: documentation

add link to Metadata page
  docs/src/modules/java/pages/views.adoc
Labels: documentation

docs: remove mention of action
  docs/src/modules/java/pages/component-and-service-calls.adoc
Labels: documentation

add link to KV replication page
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

docs: self-managed section
  docs/src/antora.yml
  docs/src/modules/self-managed/nav.adoc
  docs/src/modules/self-managed/pages/index.adoc
  docs/src/modules/self-managed/pages/running-self-managed.adoc
Labels: documentation

feat: Standalone deployment
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  samples/doc-snippets/kubernetes/deployment.yml
  samples/doc-snippets/kubernetes/podcost-crd.yml
  samples/doc-snippets/kubernetes/rbac.yml
  samples/doc-snippets/kubernetes/service.yml
  updateRuntimeVersions.sh
Labels: java-sdk, documentation

docs: self-managed section
  docs/src/antora.yml
  docs/src/modules/self-managed/nav.adoc
  docs/src/modules/self-managed/pages/index.adoc
  docs/src/modules/self-managed/pages/running-self-managed.adoc
Labels: documentation

small doc updates
  docs/src/modules/operations/pages/standalone.adoc
Labels: documentation

doc s2s eventing
  docs/src/modules/operations/pages/standalone.adoc
Labels: documentation

message-broker config
  docs/src/modules/operations/pages/standalone.adoc
Labels: documentation

standalone config in entrypoint arg instead
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/operations/pages/stanalone.adoc
  project/Dependencies.scala
  samples/doc-snippets/kubernetes/deployment.yml
Labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
