Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

lowercase id
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

docs: Improve JavaDoc of Agent
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
Labels: java-sdk

human edits, and removing some code snippets
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
Labels: java-sdk

AI model
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
Labels: java-sdk

fmt
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
Labels: java-sdk

chore: akka code init dir
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

docs: Improve JavaDoc of McpEndpoint
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionException.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpPrompt.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
Labels: java-sdk

only tool in code snippet
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
Labels: java-sdk

docs: glossary format (#736)
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

fmt
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
Labels: java-sdk

fmt
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClient.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
  akka-javasdk/src/main/java/akka/javasdk/http/QueryParams.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
Labels: java-sdk

docs: Improve JavaDoc of HttpEndpoint
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Delete.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Get.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/HttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Post.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Put.java
  akka-javasdk/src/main/java/akka/javasdk/http/AbstractHttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClient.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpException.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/java/akka/javasdk/http/QueryParams.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
Labels: java-sdk

docs(landing-page): use agentic system concepts (#738)
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

docs: update component composability diagram (#739)
  docs/src/modules/concepts/images/component-composition.png
Labels: documentation

docs(operations): self-managed vs automated (#734)
  docs/src/modules/ROOT/partials/service-packaging.adoc
  docs/src/modules/concepts/images/packed-services.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/operations/pages/index.adoc
Labels: documentation

fmt
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntityContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/package-info.java
Labels: java-sdk

Apply suggestions from code review
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
Labels: java-sdk

review feedback
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
Labels: java-sdk

chore: release notes for 3.4.1
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: Improve JavaDoc of EventSourcedEntity (#741)
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntityContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/package-info.java
Labels: java-sdk

docs: Improve JavaDoc of Agent (#742)
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/agent/MemoryProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/agent/RemoteMcpTools.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
Labels: java-sdk

chore: akka code init dir (#743)
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

docs: Improve JavaDoc of KeyValueEntity (#735)
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntityContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/package-info.java
Labels: java-sdk

docs: Improve JavaDoc of McpEndpoint (#744)
  akka-javasdk/src/main/java/akka/javasdk/agent/McpToolCallExecutionException.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpPrompt.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
Labels: java-sdk

chore: Update shopping cart according to coding guidelines (#740)
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/User.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

chore: release notes for 3.4.1 (#746)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: Improve JavaDoc of HttpEndpoint (#745)
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Delete.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Get.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/HttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Post.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Put.java
  akka-javasdk/src/main/java/akka/javasdk/http/AbstractHttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClient.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpException.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/java/akka/javasdk/http/QueryParams.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
Labels: java-sdk

chore: add missing javadoc to patch annotation
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Patch.java
Labels: java-sdk

remove empty line
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Patch.java
Labels: java-sdk

chore: add missing javadoc to patch annotation (#747)
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/Patch.java
Labels: java-sdk

Update LICENSE for 3.4.2
  LICENSE
Labels: none

chore: Format long lines
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/domain/package-info.java
  samples/doc-snippets/src/main/java/agent_guide/part3/WeatherAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/LazyWeatherAgent.java
  samples/doc-snippets/src/main/java/com/example/application/RemoteMcpWeatherAgent.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/api/package-info.java
  samples/helloworld-agent/src/main/java/com/example/application/package-info.java
  samples/helloworld-agent/src/main/java/com/example/domain/package-info.java
  samples/helloworld-agent/src/test/java/com/example/IntegrationTest.java
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/EvaluatorAgent.java
  samples/multi-agent/src/test/java/demo/multiagent/api/ActivityEndpointIntegrationTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamWorkflowTest.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/BasicTransferWorkflow.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

chore: Update markdown in ask-akka-agent
  samples/ask-akka-agent/src/main/resources/md-docs/acls.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/activity.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/addview.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/agents.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-agents.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-coding-assistant-guidelines.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-coding-assistant.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-concepts-video.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/architecture-model.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/build-and-deploy-shopping-cart.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/concepts.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/declarative-effects.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/deployment-model.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/dev-best-practices.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/development-process.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/distributed-systems.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/dynamic-team.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/endpoints.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/eval.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/event-sourced-entities.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/grpc-vs-http-endpoints.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/indexer.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/installation.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/list.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/preferences.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quick-deploy.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quick-install-cli.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/rag.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/samples.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/state-model.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/team.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/views.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/weather.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/workflows.html.md
Labels: documentation

chore: Format long lines (#750)
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/domain/package-info.java
  samples/doc-snippets/src/main/java/agent_guide/part3/WeatherAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/LazyWeatherAgent.java
  samples/doc-snippets/src/main/java/com/example/application/RemoteMcpWeatherAgent.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/api/package-info.java
  samples/helloworld-agent/src/main/java/com/example/application/package-info.java
  samples/helloworld-agent/src/main/java/com/example/domain/package-info.java
  samples/helloworld-agent/src/test/java/com/example/IntegrationTest.java
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityView.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/EvaluatorAgent.java
  samples/multi-agent/src/test/java/demo/multiagent/api/ActivityEndpointIntegrationTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamWorkflowTest.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/BasicTransferWorkflow.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

Update LICENSE
  LICENSE
Labels: none

Update LICENSE for 3.4.2 (#749)
  LICENSE
Labels: none

chore: Update markdown in ask-akka-agent (#752)
  samples/ask-akka-agent/src/main/resources/md-docs/acls.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/activity.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/addview.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/agents.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-agents.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-coding-assistant-guidelines.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-coding-assistant.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/ai-concepts-video.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/architecture-model.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/build-and-deploy-shopping-cart.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/concepts.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/declarative-effects.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/deployment-model.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/dev-best-practices.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/development-process.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/distributed-systems.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/dynamic-team.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/endpoints.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/eval.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/event-sourced-entities.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/grpc-vs-http-endpoints.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/indexer.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/installation.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/list.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/preferences.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quick-deploy.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quick-install-cli.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/rag.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/samples.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/state-model.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/team.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/views.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/weather.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/workflows.html.md
Labels: documentation

chore: Wait for google pubsub topic to be created before testing it
  samples/event-sourced-counter-brokers/docker-compose.yml
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
Labels: documentation

chore: Wait for google pubsub topic to be created before testing it (#754)
  samples/event-sourced-counter-brokers/docker-compose.yml
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
Labels: documentation

chore: remove github-actions from mvn pom
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
Labels: java-sdk
