Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*

bump: Akka Runtime to 1.4.11
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

ignore deprecation warning
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

docs: clarify workflow timeout
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

docs: Akka 25.05 release notes
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

Apply suggestions from code review
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
Labels: documentation

CLI release note
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

ci: likely fix for auto PRs not being created
  .github/workflows/pr-akka-samples.yml
  .github/workflows/update-sdk-version.yml
Labels: none

docs: small improvements in KV page
  docs/src/modules/java/pages/key-value-entities.adoc
  samples/key-value-counter/src/main/java/com/example/application/CounterEntity.java
Labels: documentation

runtime bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

debug file encoding
  .github/workflows/docs-wip.yml
Labels: none

chore: llm guidelines for views
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

fix: typo in javadoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UiEndpoint.java
Labels: documentation

bump: Akka Runtime to 1.4.12
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

chore: runtime bump + akka deps
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

chore: runtime bump + akka deps (#450)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

bump: Langchain4j 1.0.0 dependendency
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/OpenAiUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

docs: Runtime 1.4.11 in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

docs: cross link securing endpoints
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

started on more serious ser/deser of the json rpc envelopes
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

drop A2A
  akka-javasdk/src/main/scala/akka/javasdk/impl/A2A.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

bump: Langchain4j 1.0.0 dependendency (#451)
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/OpenAiUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

feat: First minimal ChatAgent
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgent.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Agent.java
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

implementation draft
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/client/ChatAgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveChatAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/spi/SpiChatAgent.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk

Update docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

fmt
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
Labels: java-sdk

feat: prompt template entity
  akka-javasdk/src/main/java/akka/javasdk/prompt/PromptTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

runtime with agent spi
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ChatAgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/spi/SpiChatAgent.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
Labels: java-sdk

customized serializers working
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/McpSpec.scala
Labels: java-sdk

missing some reflect
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

try in ask-akka
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation

started on user API
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
Labels: java-sdk

missing id in response error _must_ be null
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonRpc.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonRpcSpec.scala
Labels: java-sdk

tests
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/prompt/PromptTemplateTest.java
  akka-javasdk/src/main/java/akka/javasdk/prompt/PromptTemplate.java
Labels: java-sdk

more work on hooking up mcp servers
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Mcp.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpServiceExplorationEndpoint.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
Labels: java-sdk

fixing test
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
Labels: none

fixing test + repackaging
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/PromptTemplateTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

javafmt
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
Labels: none

feat: prompt template entity (#455)
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/PromptTemplateTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

feat: First minimal ChatAgent
  akka-javasdk/src/main/java/akka/javasdk/agent/ChatAgent.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Agent.java
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
Labels: java-sdk
