Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk, Documentation

fix: remove side effect sample code
  docs/src/modules/java/pages/actions.adoc
  samples/java-valueentity-counter/src/main/java/com/example/action/Confirmed.java
  samples/java-valueentity-counter/src/main/java/com/example/action/DoubleCounterAction.java
Labels: kalix-runtime, Documentation

fix: temporal dependency issue fix
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime

chore: re-add run configurations
  maven-java/akka-platform-archetype/src/main/resources/archetype-resources/.idea/runConfigurations/Run_locally.xml
  maven-java/akka-platform-kotlin-archetype/src/main/resources/archetype-resources/.idea/runConfigurations/Run_locally.xml
  samples/java-choreography-saga-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/java-customer-registry-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/java-customer-registry-views-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/java-doc-snippets/.idea/runConfigurations/Run_locally.xml
  samples/java-eventsourced-counter/.idea/runConfigurations/Run_locally.xml
  samples/java-eventsourced-customer-registry-subscriber/.idea/runConfigurations/Run_locally.xml
  samples/java-eventsourced-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/java-eventsourced-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/java-fibonacci-action/.idea/runConfigurations/Run_locally.xml
  samples/java-reliable-timers/.idea/runConfigurations/Run_locally.xml
  samples/java-shopping-cart-quickstart/.idea/runConfigurations/Run_locally.xml
  samples/java-tracing/.idea/runConfigurations/Run_locally.xml
  samples/java-transfer-workflow-compensation/.idea/runConfigurations/Run_locally.xml
  samples/java-transfer-workflow/.idea/runConfigurations/Run_locally.xml
  samples/java-valueentity-counter/.idea/runConfigurations/Run_locally.xml
  samples/java-valueentity-customer-registry/.idea/runConfigurations/Run_locally.xml
  samples/java-valueentity-shopping-cart/.idea/runConfigurations/Run_locally.xml
  samples/java-view-store/.idea/runConfigurations/Run_locally.xml
Labels: kalix-runtime, Documentation

chore: CI and secrets
  .github/workflows/delete-pr-caches.yml
  .github/workflows/documentation.yml
  .github/workflows/fossa.yml
  .github/workflows/labeler.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish.yml
  .github/workflows/update-sdk-version.yml
  build.sbt
  docs/Makefile
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/partials/maven-archetype.adoc
Labels: kalix-runtime, Documentation

No publishing to Maven Central yet; temporary CI
  .github/workflows/documentation.yml
  .github/workflows/publish.yml
  .github/workflows/samples-repo-sync.yml
Labels: kalix-runtime

Add akka-repository for Maven dependencies and plugins
  maven-java/pom.xml
Labels: kalix-runtime

feat: making ComponentId mandatory for actions
  annotation-processor-tests/actions-descriptors/src/main/java/com/example/ActionSubscriber.java
  annotation-processor/src/main/java/akka/platform/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UniqueEmailSubscriber.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UserEventsSubscriber.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicAction.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicWithMetaAction.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterTopicSubscriptionAction.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/SubscribeTypeLevelAction.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEventsService.java
  samples/java-tracing/src/main/java/com/example/tracing/api/GetRandomNameAction.java
  samples/java-tracing/src/main/java/com/example/tracing/api/GetRandomPhotoAction.java
Labels: kalix-runtime, Documentation

chore: dependens on akka-platform-sdk-spi
  build.sbt
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
  sdk/java-sdk-testkit/src/main/java/akka/platform/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk/src/main/resources/META-INF/services/akka.platform.javasdk.spi.Runner
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/ComponentClientImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/DeferredCallImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/EntityClientImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/client/ComponentClientTest.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/ActionsImplSpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/action/ActionHandlerSpec.scala
Labels: kalix-runtime, java-sdk

fix: fixing run locally with pubsub emulator
  samples/java-eventsourced-counter/.idea/runConfigurations/Run_locally.xml
Labels: kalix-runtime, Documentation

chore: use runtime 1.1.38-8dafb2d
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime

feat: maven configures runtime in dev-mode
  maven-java/akka-platform-parent/pom.xml
Labels: kalix-runtime

chore: make config.resource optional
  maven-java/akka-platform-parent/pom.xml
Labels: kalix-runtime

fix: annotation processor should merge descriptor file when working w…
  annotation-processor/src/main/java/akka/platform/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/actions/headers/ForwardHeadersAction.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/tracingcounter/TIncreaseAction.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/keyvalueentities/user/SubscribeUserAction.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/PublishBytesToTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/PublishESToTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/PublishTopicToTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/PublishVEToTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/SubscribeToBytesFromTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/SubscribeToCounterEventsTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/SubscribeToCustomers2Topic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/SubscribeToCustomersTopic.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/Validations.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

fix: service class should not be removed from the descriptor on incremental compile
  annotation-processor/src/main/java/akka/platform/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
Labels: kalix-runtime, java-sdk

chore: enabling some it tests in samples
  .github/workflows/ci.yml
  maven-java/akka-platform-archetype/src/main/resources/archetype-resources/.env
  maven-java/akka-platform-kotlin-archetype/src/main/resources/archetype-resources/.env
  samples/java-choreography-saga-quickstart/.env
  samples/java-customer-registry-quickstart/.env
  samples/java-customer-registry-views-quickstart/.env
  samples/java-doc-snippets/.env
  samples/java-eventsourced-counter/.env
  samples/java-eventsourced-customer-registry/.env
  samples/java-eventsourced-shopping-cart/.env
  samples/java-fibonacci-action/.env
  samples/java-reliable-timers/.env
  samples/java-shopping-cart-quickstart/.env
  samples/java-shopping-cart-quickstart/src/it/resources/logback-test.xml
  samples/java-tracing/.env
  samples/java-transfer-workflow-compensation/.env
  samples/java-transfer-workflow/.env
  samples/java-valueentity-counter/.env
  samples/java-valueentity-customer-registry/.env
  samples/java-valueentity-shopping-cart/.env
  samples/java-view-store/.env
Labels: kalix-runtime, Documentation

feat: pass service name and port to runtime
  maven-java/akka-platform-parent/pom.xml
  sdk/java-sdk/src/main/resources/reference.conf
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/AkkaPlatformSdkSettings.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/DiscoverySpec.scala
Labels: kalix-runtime, java-sdk

chore: simplify fib url
  samples/java-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionComponentClientIntegrationTest.java
  samples/java-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/java-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciEndpoint.java
Labels: kalix-runtime, Documentation

chore: update runtime version to 1.1.38-70edf5a
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime

chore: No need for table annotation unless nested/multi-table view
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/views/UsersByCountryView.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/view/CustomerByEmailView.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/view/CustomersByNameView.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByEmailView.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByNameView.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/view/CustomerByEmailView.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomerSummaryByName.java
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomersByCity.java
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomersResponseByName.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/pubsub/ViewFromCounterEventsTopic.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/CountersByValue.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/CountersByValueSubscriptions.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/CountersByValueWithIgnore.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/CustomerByCreationTime.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/UserWithVersionView.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/UsersByEmailAndName.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/UsersByName.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/UsersView.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/Validations.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/ViewDescriptorFactory.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/impl/NotPublicComponents.java
  sdk/java-sdk/src/test/java/akka/platform/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk/src/test/java/akka/platform/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk, Documentation

chore: user alternative port in subscriber sample
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/src/main/resources/application.conf
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
Labels: kalix-runtime, Documentation

fix: Main class renames
  annotation-processor-tests/actions-descriptors/src/main/java/com/example/Main.java
  annotation-processor-tests/actions-descriptors/src/main/java/com/example/Setup.java
  annotation-processor-tests/actions-descriptors/src/test/scala/com/example/ActionDescriptorSpec.scala
  annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/Main.java
  annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/Setup.java
  annotation-processor-tests/entites-and-views-descriptors/src/test/scala/com/example/EntitiesAndViewsDescriptorSpec.scala
  annotation-processor/src/main/java/akka/platform/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/Main.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/Setup.java
  samples/java-customer-registry-quickstart/src/main/java/customer/Setup.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/Setup.java
  samples/java-doc-snippets/src/main/java/com/example/acl/Setup.java
  samples/java-eventsourced-counter/src/main/java/com/example/Setup.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/Setup.java
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/Setup.java
  samples/java-fibonacci-action/src/main/java/com/example/FibonacciSetup.java
  samples/java-reliable-timers/src/main/java/com/example/Setup.java
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/ShoppingCartSetup.java
  samples/java-spring-dependency-injection/src/main/java/com/example/CounterSetup.java
  samples/java-tracing/src/main/java/com/example/tracing/Setup.java
  samples/java-transfer-workflow-compensation/src/main/java/com/example/TransferWorkflowSetup.java
  samples/java-transfer-workflow/src/main/java/com/example/TransferWorkflowSetup.java
  samples/java-valueentity-counter/src/main/java/com/example/CounterSetup.java
  samples/java-valueentity-customer-registry/src/main/java/customer/CustomerRegistrySetup.java
  samples/java-valueentity-shopping-cart/src/main/java/com/example/ShoppingCartSetup.java
  samples/java-view-store/src/main/java/store/StoreSetup.java
  sdk/java-sdk-testkit/src/it/java/com/example/Main.java
  sdk/java-sdk-testkit/src/it/java/com/example/Setup.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/workflowentities/Setup.java
  sdk/java-sdk-testkit/src/it/resources/META-INF/akka-platform-components.conf
  sdk/java-sdk/src/main/java/akka/platform/javasdk/ServiceLifecycle.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/ServiceSetup.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/annotations/PlatformServiceSetup.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
Labels: kalix-runtime, java-sdk, Documentation

feat: port endpoint route handling to runtime from SDK
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/HttpEndpointDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/HttpEndpointMethod.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/HttpEndpointMethodDefinition.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/HttpEndpointRouter.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/Matchers.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/PathTemplateParser.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/PathTree.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/impl/http/TestEndpoints.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/http/HttpEndpointRouterSpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/http/MatchersSpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/http/PathTemplateParserSpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/http/PathTreeSpec.scala
Labels: kalix-runtime, java-sdk

chore: bring 'passing through metadata traceparent' already present in kalix-jvm-sdk
  sdk/java-sdk/src/main/java/akka/platform/javasdk/action/Action.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ReflectiveActionRouter.scala
Labels: kalix-runtime, java-sdk

Add acls to endpoints
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/AclDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/HttpEndpointDescriptorFactory.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/impl/http/TestEndpoints.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

fix: inject only user config not full config
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
Labels: kalix-runtime, java-sdk

chore: Get rid of noise in case of runtime crash
  maven-java/akka-platform-parent/pom.xml
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/telemetry/Telemetry.scala
Labels: kalix-runtime, java-sdk

chore: Remove ProtoWorkflow
  sdk/java-sdk/src/main/java/akka/platform/javasdk/Kalix.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/workflow/AbstractWorkflow.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/workflow/ProtoStepBuilder.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/workflow/ProtoWorkflow.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/workflow/Workflow.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/workflow/WorkflowProvider.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/EntityDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/EntityClientImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/reflection/Reflect.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowEffectImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/workflow/WorkflowRouter.scala
Labels: kalix-runtime, java-sdk

chore: Update READMEs
  CONTRIBUTING.md
  README.md
  maven-java/akka-platform-archetype/src/main/resources/archetype-resources/README.md
  maven-java/akka-platform-kotlin-archetype/src/main/resources/archetype-resources/README.md
  samples/java-choreography-saga-quickstart/README.md
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UniqueEmailSubscriber.java
  samples/java-customer-registry-quickstart/README.md
  samples/java-customer-registry-views-quickstart/README.md
  samples/java-eventsourced-counter/README.md
  samples/java-eventsourced-customer-registry-subscriber/README.md
  samples/java-eventsourced-customer-registry/README.md
  samples/java-eventsourced-shopping-cart/README.md
  samples/java-fibonacci-action/README.md
  samples/java-reliable-timers/README.md
  samples/java-shopping-cart-quickstart/README.md
  samples/java-tracing/README.md
  samples/java-transfer-workflow-compensation/README.md
  samples/java-transfer-workflow/README.md
  samples/java-valueentity-counter/README.md
  samples/java-valueentity-customer-registry/README.md
  samples/java-valueentity-shopping-cart/README.md
  samples/java-view-store/README.md
Labels: kalix-runtime, Documentation

chore: Remove PassivationStrategy
  sdk/java-sdk/src/main/java/akka/platform/javasdk/PassivationStrategy.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/PassivationStrategies.scala
Labels: kalix-runtime, java-sdk

chore Update license information
  LICENSE
  README.md
  annotation-processor-tests/LICENSE
  docs/LICENSE
  samples/java-choreography-saga-quickstart/LICENSE
  samples/java-customer-registry-quickstart/LICENSE
  samples/java-customer-registry-quickstart/src/main/java/customer/api/CustomerEntity.java
  samples/java-customer-registry-views-quickstart/LICENSE
  samples/java-customer-registry-views-quickstart/src/main/java/customer/api/CustomerEntity.java
  samples/java-doc-snippets/LICENSE
  samples/java-eventsourced-counter/LICENSE
  samples/java-eventsourced-counter/src/main/java/com/example/Counter.java
  samples/java-eventsourced-customer-registry-subscriber/LICENSE
  samples/java-eventsourced-customer-registry/LICENSE
  samples/java-eventsourced-shopping-cart/LICENSE
  samples/java-fibonacci-action/LICENSE
  samples/java-reliable-timers/LICENSE
  samples/java-shopping-cart-quickstart/LICENSE
  samples/java-spring-dependency-injection/LICENSE
  samples/java-spring-dependency-injection/src/main/java/com/example/domain/Counter.java
  samples/java-tracing/LICENSE
  samples/java-transfer-workflow-compensation/LICENSE
  samples/java-transfer-workflow/LICENSE
  samples/java-valueentity-counter/LICENSE
  samples/java-valueentity-customer-registry/LICENSE
  samples/java-valueentity-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/java-valueentity-shopping-cart/LICENSE
  samples/java-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEntity.java
  samples/java-view-store/LICENSE
  sdk/java-sdk-testkit/src/test/LICENSE
  sdk/java-sdk/src/test/LICENSE
Labels: kalix-runtime, java-sdk, Documentation

chore: Update customer-registry-view-quickstart to use endpoint
  samples/java-customer-registry-views-quickstart/README.md
  samples/java-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/api/CustomerEndpoint.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/domain/CustomerEntity.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/view/CustomerByEmailView.java
  samples/java-customer-registry-views-quickstart/src/main/java/customer/view/CustomersByNameView.java
  samples/java-customer-registry-views-quickstart/src/test/java/customer/api/CustomerEntityTest.java
Labels: kalix-runtime, Documentation

chore: Remove ApiMayChange
  sdk/java-sdk-testkit/src/main/java/akka/platform/javasdk/testkit/EventingTestKit.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/keyvalueentity/KeyValueEntity.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/view/View.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/workflow/StepBuilder.java
Labels: kalix-runtime, java-sdk

chore: Logging in NextGenComponentAutoDetectRunner
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/DeferredCallResponseException.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
Labels: kalix-runtime, java-sdk

feat: Propagate endpoint tracing metadata
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
  sdk/java-sdk-testkit/src/main/java/akka/platform/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/HttpEndpointDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ReflectiveActionRouter.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/ComponentClientImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/DeferredCallImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/client/EntityClientImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/HttpClientProviderExtension.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/HttpClientProviderImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/client/ComponentClientTest.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/reflection/ReflectSpec.scala
Labels: kalix-runtime, java-sdk

feat: consumer Effect refactor
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UniqueEmailConsumer.java
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UserEventsConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicWithMetaConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterTopicSubscriptionConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/SubscribeToRawBytesConsumer.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/SubscribeTypeLevelConsumer.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEventsService.java
  samples/java-spring-dependency-injection/src/main/java/com/example/application/Notifier.java
  samples/java-tracing/src/main/java/com/example/tracing/api/GetRandomNameConsumer.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/consumer/Consumer.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/Validations.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/consumer/ConsumerEffectImpl.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/consumer/ConsumerRouter.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/action/TestESSubscription.java
  sdk/java-sdk/src/test/java/akka/platform/javasdk/action/TestTracing.java
  sdk/java-sdk/src/test/java/akka/platform/javasdk/impl/NotPublicComponents.java
  sdk/java-sdk/src/test/java/akka/platform/spring/testmodels/action/CounterConsumer.java
  sdk/java-sdk/src/test/java/akka/platform/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk, Documentation

chore: Java APIs should be defined in Java sources
  sdk/java-sdk/src/main/java/akka/platform/javasdk/client/ComponentInvokeOnlyMethodRef.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/client/ComponentInvokeOnlyMethodRef1.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/client/ComponentMethodRef.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/client/ComponentMethodRef1.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/DeferredCallResponseException.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/client/ComponentMethodRef.scala
Labels: kalix-runtime, java-sdk

chore: Simplify component setup
  samples/java-doc-snippets/src/main/java/com/example/callanotherservice/Main.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/CustomerRegistryService.java
  samples/java-fibonacci-action/src/main/java/com/example/FibonacciSetup.java
  samples/java-spring-dependency-injection/src/main/java/com/example/CounterSetup.java
  sdk/java-sdk-testkit/src/it/java/com/example/Setup.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/ServiceLifecycle.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/ServiceSetup.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/annotations/PlatformServiceSetup.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/NextGenComponentAutoDetectRunner.scala
Labels: kalix-runtime, java-sdk, Documentation

feat: DeleteHandler improvements
  samples/java-valueentity-customer-registry/src/main/java/customer/view/CustomerSummaryByName.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/views/UsersByName.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/Validations.scala
  sdk/java-sdk/src/test/java/akka/platform/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk, Documentation

feat: Specific type for read only effects
  maven-java/akka-platform-parent/pom.xml
  project/Dependencies.scala
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/entity/UserEntity.java
  samples/java-eventsourced-counter/src/main/java/com/example/Counter.java
  samples/java-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartEntity.java
  samples/java-shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEntity.java
  samples/java-spring-dependency-injection/src/main/java/com/example/domain/Counter.java
  samples/java-tracing/src/main/java/com/example/tracing/api/UserEntity.java
  samples/java-view-store/src/main/java/store/customer/api/CustomerEntity.java
  samples/java-view-store/src/main/java/store/product/api/ProductEntity.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/eventsourcedentities/headers/ForwardHeadersESEntity.java
  sdk/java-sdk-testkit/src/it/java/com/example/wiring/workflowentities/FailingCounterEntity.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/EntityDescriptorFactory.scala
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk/src/test/java/akka/platform/javasdk/eventsourcedentity/CartEntity.java
  sdk/java-sdk/src/test/java/akka/platform/javasdk/eventsourcedentity/TestEventSourcedEntity.java
  sdk/java-sdk/src/test/java/akka/platform/spring/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/java-sdk/src/test/scala/akka/platform/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk, Documentation

feat: Convenient errors from HTTP endpoints
  samples/java-choreography-saga-quickstart/src/main/java/user/registry/api/ApplicationController.java
  samples/java-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartController.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/ServiceSetup.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/StatusCode.java
  sdk/java-sdk/src/main/java/akka/platform/javasdk/http/HttpException.java
  sdk/java-sdk/src/main/scala/akka/platform/javasdk/impl/http/HttpExceptionImpl.scala
Labels: kalix-runtime, java-sdk, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk:
  - sdk/java-sdk/**/*
  - sdk/java-sdk-testkit/**/*

Documentation:
  - docs/**/*
  - samples/**/*
