Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: review concepts
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/state-model.adoc
Labels: documentation

docs: some cleanup of shopping-cart.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
Labels: documentation

chore: Special log for SDK user function logging
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
Labels: java-sdk

docs: review developing
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/errors-and-failures.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/using-jwts.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  docs/src/modules/java/partials/topic-note.adoc
  docs/src/modules/operations/attachments/data_management_schema.proto
  docs/src/modules/operations/pages/invoke-service.adoc
  docs/src/modules/operations/pages/view-data.adoc
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

chore: sdk component internals cleanup 3
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ResolvedServiceMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Service.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ResolvedEventSourcedEntityFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ResolvedKeyValueEntityFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewProvider.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ResolvedWorkflowFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowProvider.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/cusomer/CustomerHandlerSpec.scala
Labels: java-sdk

chore: Address components through their component id
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/DeferredCallImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  docs/src/modules/java/pages/timed-actions.adoc
  project/Dependencies.scala
  project/plugins.sbt
  samples/event-sourced-customer-registry/pom.xml
Labels: java-sdk, documentation

chore: Validate view row and query result type
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
Labels: java-sdk

docs: review index.html
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/samples/partials/before-you-begin.adoc
Labels: documentation

fix: include missing ACL page
  docs/src/modules/java/nav.adoc
Labels: documentation

chore: align dev process page title
  docs/src/modules/concepts/pages/development-process.adoc
Labels: documentation

docs: Bundle more samples
  Makefile
  docs/src/modules/ROOT/attachments/quickstart.json
  samples/event-sourced-customer-registry-subscriber/.bundleignore
  samples/event-sourced-customer-registry/.bundleignore
  samples/transfer-workflow-compensation/.bundleignore
Labels: documentation

docs: simplify organization section
  docs/src/modules/operations/pages/billing.adoc
  docs/src/modules/operations/pages/manage-users.adoc
  docs/src/modules/operations/pages/organizations.adoc
  docs/src/modules/operations/pages/regions.adoc
Labels: documentation

docs: fix bundling examples
  Makefile
Labels: none

docs: Remove CICD integration options
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/data-management.adoc
  docs/src/modules/operations/pages/integrate-cicd-circleci.adoc
  docs/src/modules/operations/pages/invoke-service.adoc
  docs/src/modules/operations/pages/view-data.adoc
Labels: documentation

docs: Shopping cart in getting started
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
Labels: documentation

docs: make cross references resolve
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/operations/pages/organizations/billing.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/services/data-management.adoc
  docs/src/modules/reference/pages/akka-cli/cli-index-header.template.txt
  docs/src/modules/reference/pages/akka-cli/index.adoc
  docs/src/modules/reference/pages/akka-cli/temp-nav.txt
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

docs: Shopping cart in run locally
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

docs: creating projects; manage users
  docs/src/modules/operations/images/console-create-project.png
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

docs(vale): update Vale GitHub Action
  .github/workflows/documentation.yml
  styles/config/vocabularies/Base/accept.txt
Labels: none

docs: http instead of grpc in invoke-service.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/operations/images/grpcui.png
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  samples/shopping-cart-quickstart/README.md
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

docs: descriptor reference pages
  docs/src/modules/libraries/pages/index.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/descriptors/observability-descriptor.adoc
  docs/src/modules/reference/pages/descriptors/route-descriptor.adoc
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
  docs/src/modules/reference/pages/index.adoc
Labels: documentation

docs: move API docs to reference section
  docs/src/modules/java/nav.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/api-docs.adoc
  docs/src/modules/reference/pages/index.adoc
Labels: documentation

docs: new theme zip, styles group picker
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
Labels: documentation

docs: rename getting started guide
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  docs/src/modules/java/pages/index.adoc
Labels: documentation

docs(sample): missing id in readme request
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/CustomerRegistryEndpoint.java
Labels: documentation

docs(samples): add more samples to index
  docs/src/modules/samples/pages/index.adoc
Labels: documentation

samples: api package in archetype
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
Labels: java-sdk

docs: Full shopping cart snippets in build-your-first-application.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
Labels: documentation

docs: Cleanup, fix links
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/pom.xml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/saga-patterns.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/operations/attachments/data_management_schema.proto
  docs/src/modules/reference/pages/akka-cli/akka_completion.adoc
  docs/src/modules/reference/pages/akka-cli/akka_services_apply.adoc
  docs/src/modules/samples/pages/index.adoc
  docs/src/modules/samples/pages/shopping-cart.adoc
  docs/src/modules/samples/partials/before-you-begin.adoc
  docs/src/modules/samples/partials/create-customer.adoc
  docs/src/modules/samples/partials/expose-service.adoc
  samples/choreography-saga-quickstart/README.md
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/event-sourced-counter/README.md
  samples/event-sourced-customer-registry-subscriber/README.md
  samples/event-sourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry/README.md
  samples/key-value-counter/README.md
  samples/key-value-customer-registry/README.md
  samples/key-value-shopping-cart/README.md
  samples/reliable-timers/README.md
  samples/shopping-cart-quickstart/README.md
  samples/spring-dependency-injection/README.md
  samples/tracing/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
  samples/view-store/README.md
Labels: java-sdk, documentation

feat: JWT endpoint support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/it/java/com/example/wiring/jwt/HelloJwtEndpoint.java
  akka-javasdk-testkit/src/it/java/com/example/wiring/jwt/JwtEndpointTest.java
  akka-javasdk-testkit/src/it/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/JwtClaims.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/JWT.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JwtDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/action/ActionsTestModels.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/keyvalueentity/ValueEntitiesTestModels.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/workflow/WorkflowTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  build.sbt
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtAction.java
Labels: java-sdk, documentation

chore: Pre-bump pomfiles to 3.0.0-M7
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/event-sourced-counter/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

feat(workflow): ReadOnlyEffect support
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/entity-sharding.adoc
  docs/src/modules/java/partials/mutli-region-replication.adoc
  docs/src/modules/reference/pages/glossary.adoc
  project/Common.scala
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: java-sdk, documentation

docs: Run IntelliJ
  docs/src/modules/java/images/run-intellij.png
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

chore: .idea in archetype
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/it/resources/logback-test.xml
Labels: java-sdk

docs(ci): add caching to build process
  .github/workflows/docs-wip.yml
Labels: none

docs(ci): run workflow with vale check on PRs
  .github/workflows/documentation.yml
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

docs: review of Deploy Service
  docs/src/modules/operations/images/console-deploy-service-button.png
  docs/src/modules/operations/images/console-deploy-service-dialog.png
  docs/src/modules/operations/images/service-status.png
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

Updates for BYOC, self-hosted, and index pages.
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/operations/pages/organizations/regions.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

fix(docs): remove 'new-tab' icons
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/concepts/pages/best-practices.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/operations/pages/integrating-cicd/github-actions.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/organizations/billing.adoc
  docs/src/modules/operations/pages/projects/broker-google-pubsub.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/projects/external-container-registries.adoc
  docs/src/modules/operations/pages/services/data-management.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

docs: update Vale README
  README-vale.md
  docs/README-vale.md
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
