Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Refresh view query language section
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: documentation

All the way through + some test coverage for misc query features
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: documentation

Fixed test after rebase
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
Labels: none

chore: updating consumer SPI effect
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
Labels: java-sdk

Update docs/src/modules/java/partials/query-syntax-reference.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: documentation

docs: cli and platform release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

CLI 3.0.9
  Makefile
Labels: none

improvements
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
Labels: java-sdk

bumping runtime and fixing compilation
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

feat: add query param on http RequestBuilder
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
Labels: java-sdk

Query language link from reference TOC
  docs/src/modules/reference/nav.adoc
Labels: documentation

Example of structured projection of grouped results
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: documentation

addressing comments
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

feat: disabling components programatically
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/Setup.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/ServiceSetup.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
Labels: java-sdk

docs: akka CLI docs
  Makefile
Labels: none

title rewritten
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

Update akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

docs
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/java/com/example/application/MyComponent.java
Labels: documentation

fixing log msg
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

implementation improvements
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

chore: improving workflow config
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
Labels: java-sdk

feat: add query param on http RequestBuilder
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/http/HttpClientImplSpec.scala
Labels: java-sdk

chore: Drop some more protobuf refs
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
  build.sbt
  project/Dependencies.scala
Labels: java-sdk

feat: add query param on http RequestBuilder (#157)
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/http/HttpClientImplSpec.scala
Labels: java-sdk

docs: review multi-region concepts
  docs/src/modules/concepts/images/steps-1.svg
  docs/src/modules/concepts/images/steps-2.svg
  docs/src/modules/concepts/images/steps-3.svg
  docs/src/modules/concepts/images/steps-4.svg
  docs/src/modules/concepts/images/steps-5.svg
  docs/src/modules/concepts/images/steps-6.svg
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

chore: adding edit service descriptor (#143)
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

deps bump
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: split replication illustration
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

docs: adding sync status
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_list.adoc
Labels: documentation

Updated bundle zip, new get started drop downm tagged links
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-get-started.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
Labels: documentation

updated SVGs
  docs/src/modules/concepts/images/geo-c.svg
  docs/src/modules/concepts/images/geo-d.svg
  docs/src/modules/concepts/images/geo-e.svg
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

feat: isDeleted method for entity command handlers
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/UserEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: java-sdk, documentation

feat: isDeleted method for entity command handlers
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/UserEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: java-sdk, documentation

fixing docs
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
Labels: documentation

fixing assertion
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
Labels: none

improving documentation
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/resources/application.conf
Labels: documentation

Remove AkkaSdkTestkit from TestKit javadoc
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
Labels: java-sdk

bump: Akka Runtime 1.3.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

feat: gRPC endpoint support
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/main/java/com/example/UserGrpcServiceImpl.java
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/test/scala/com/example/EndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/java/akka/javasdk/annotations/GrpcEndpoint.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  build.sbt
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

sample using it
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  project/Dependencies.scala
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/protobuf/com/example/example_grpc_endpoint.proto
Labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
