Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

adapt compaction to new structure
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

style fix
  docs/src/modules/java/pages/agents.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

separate with commas
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
Labels: documentation

removing conversation term
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: link to samples from getting started landing page
  docs/src/modules/getting-started/pages/index.adoc
Labels: documentation

filling in FIXMEs. adding more context and info. (#534)
  docs/src/modules/java/pages/agents.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: link to samples from getting started landing page (#536)
  docs/src/modules/getting-started/pages/index.adoc
Labels: documentation

docs: Add agent to getting started
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/pages/index.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/HelloWorldAgent.java
Labels: java-sdk, documentation

chore: re-modeling user, ai and tool messages (#530)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/SessionMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  docs/src/modules/java/pages/agents.adoc
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: java-sdk, documentation

sample: Add current date tool in WeatherAgent (#525)
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/multi-agent/README.md
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
Labels: documentation

markdown
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
Labels: java-sdk

docs: Add agent to getting started (#533)
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/pages/index.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/HelloWorldAgent.java
Labels: java-sdk, documentation

docs: Update Ask Akka guide
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/Knowledge.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/KeyUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/OpenAiUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/api/IndexerEndpoint.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
  samples/doc-snippets/src/main/java/com/example/application/AskAkkaAgent.java
Labels: documentation

feedback
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

fix: loading anthropic model from config
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs: add redirects for relocated pages
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: Update Ask Akka guide (#535)
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/Knowledge.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/KeyUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/OpenAiUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/api/IndexerEndpoint.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
  samples/doc-snippets/src/main/java/com/example/application/AskAkkaAgent.java
Labels: documentation

docs: add redirects for relocated pages (#538)
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

docs: direct new users to correct starting point
  docs/src/modules/ROOT/partials/new-to-akka-start-here.adoc
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/index.adoc
Labels: documentation

adjust the start here phrase
  docs/src/modules/ROOT/partials/new-to-akka-start-here.adoc
Labels: documentation

more page-aliases for ask-akka
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
Labels: documentation

fix: loading anthropic model from config (#537)
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

docs: Minor agent updates
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

feat: workflows tracing
  akka-javasdk/src/main/java/akka/javasdk/workflow/WorkflowContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Contexts.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

bumping runtime version
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: clarify workflow timeout (#435)
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

feat: workflows tracing (#541)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/workflow/WorkflowContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Contexts.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

chore: Add healthcare agent sample
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

bump: Runtime 1.4.13-d85ee5951
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: Minor agent updates (#540)
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

docs: direct new users to correct starting point (#539)
  docs/src/modules/ROOT/partials/new-to-akka-start-here.adoc
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/index.adoc
Labels: documentation

vale
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

bump: Runtime 1.4.13-d85ee5951 (#543)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

docs: Add RAG in integrations
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/integrations/index.adoc
  docs/src/modules/java/pages/rag.adoc
Labels: documentation

chore: Add healthcare agent sample (#542)
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

chore: Make AI coding guidelines fully copy-pasteable
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

bump: Akka Runtime to 1.4.14
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

feedback
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: fix formatting issue in session memory
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

docs: Add RAG in integrations (#545)
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/integrations/index.adoc
  docs/src/modules/java/pages/rag.adoc
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
