Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Move best practices to developer
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/dev-best-practices.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/index.adoc
Labels: documentation

Updates for how big to make services, multi-region / failover, and la…
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/pages/dev-best-practices.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/projects/multi-region.adoc
Labels: documentation

docs: Update multi-region primary selection
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/java/partials/mutli-region-replication.adoc
  docs/src/modules/operations/pages/projects/multi-region.adoc
Labels: documentation

docs: missing tag
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

docs: broken link
  docs/src/modules/libraries/pages/index.adoc
Labels: documentation

docs: adding reference to components
  docs/src/modules/concepts/pages/saga-patterns.adoc
Labels: documentation

docs: must instead of should
  docs/src/modules/java/pages/views.adoc
Labels: documentation

docs: removing unused imgs
  samples/choreography-saga-quickstart/flow-failure.png
  samples/choreography-saga-quickstart/flow-full.png
  samples/choreography-saga-quickstart/flow-successful.png
Labels: documentation

fix(docs): typo
  docs/src/modules/java/pages/views.adoc
Labels: documentation

docs: best practices image and links
  docs/src/modules/java/images/bounded-context.svg
  docs/src/modules/java/pages/dev-best-practices.adoc
Labels: documentation

docs: improvements architecture model page
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

fix: removing numbering for consistency
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

docs(samples): clarify Shopping Cart domain model
  docs/src/modules/java/pages/build-your-first-application.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
Labels: documentation

docs: simmetry/consistency in the bullets
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

docs: "missing" category
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

docs: avoiding circular definition in effect
  docs/src/modules/reference/pages/glossary.adoc
Labels: documentation

docs: Streaming page
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/streaming.adoc
Labels: documentation

chore: Less Java, and fixing some more links
  CONTRIBUTING.md
  README.md
  RELEASING.md
  akka-javasdk-maven/akka-javasdk-archetype/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/impl/package-info.java
  docs/release-issue-template.md
  docs/src/modules/operations/pages/projects/external-container-registries.adoc
  docs/src/modules/reference/pages/akka-cli/akka_completion.adoc
  docs/src/modules/reference/pages/akka-cli/akka_services_apply.adoc
  docs/src/modules/support/pages/platform-status.adoc
  samples/endpoint-jwt/README.md
  samples/spring-dependency-injection/src/main/java/com/example/application/EmailComposer.java
  samples/spring-dependency-injection/src/main/java/com/example/domain/Counter.java
Labels: java-sdk, documentation

docs: More broken links
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/operations/pages/integrating-cicd/index.adoc
  docs/src/modules/reference/pages/akka-cli/akka.adoc
Labels: documentation

docs: Move Consumer to the components section of nav
  docs/src/modules/java/nav.adoc
Labels: documentation

docs: resize onion arch image
  docs/src/modules/concepts/concepts:development-process.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

docs: Clarify ES deletion and downstream consumption
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: java-sdk, documentation

docs: Slew of improvements
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/timed-actions.adoc
Labels: documentation

chore: back to publish archetype and parent pom to maven central
  .github/publish-maven-to-cloudsmith.sh
  .github/publish-maven.sh
  .github/workflows/publish.yml
  akka-javasdk-maven/pom.xml
Labels: java-sdk

chore: adding autopublish
  akka-javasdk-maven/pom.xml
Labels: java-sdk

docs(samples): clarify Shopping Cart entity
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

chore: avoiding to publish SNAPSHOTs to Maven Central Portal
  .github/publish-maven.sh
Labels: none

docs/src/modules/reference/pages/akka-cli/index.adoc
  docs/src/modules/reference/pages/akka-cli/index.adoc
Labels: documentation

bump: Runtime 1.1.49
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/reference/pages/release-notes.adoc
  project/Dependencies.scala
Labels: java-sdk, documentation

docs: Maven archetype, quick reference
  docs/src/modules/samples/pages/index.adoc
Labels: documentation

docs: Reference docs of replication service descriptor
  docs/src/modules/operations/pages/projects/multi-region.adoc
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

chore: Waiting for runtime shutdown is no longer needed
  akka-javasdk-testkit/src/it/java/com/example/wiring/jwt/JwtEndpointTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
Labels: java-sdk

docs: Small suggestions for architecture model
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/build-your-first-application.adoc
Labels: documentation

chore: add table headers
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
Labels: documentation

docs: Warning about changing primary for KVE
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/operations/pages/projects/multi-region.adoc
Labels: documentation

docs: Multi-region how to
  docs/src/modules/operations/pages/projects/multi-region.adoc
Labels: documentation

docs: Make some terminal commands copyable
  docs/src/modules/java/pages/running-locally.adoc
Labels: documentation

docs: rework security section
  docs/src/antora.yml
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/reference/pages/glossary.adoc
  docs/src/modules/security/pages/acls.adoc
  docs/src/modules/security/pages/index.adoc
  docs/src/modules/security/pages/jwts.adoc
  docs/src/modules/security/pages/tls-certificates.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

docs: line of defence typo
  docs/src/modules/java/pages/errors-and-failures.adoc
Labels: documentation

feat: simplify docker image tagging
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/operations/pages/projects/container-registries.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: java-sdk, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
