Repository akka/akka-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: java-sdk, documentation

docs: Document down-region
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

docs: external service orchestration sample
  .github/workflows/ci.yml
  .github/workflows/pr-akka-samples.yml
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  docs/src/modules/ROOT/attachments/akka-code-init.json
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow-compensation/src/main/java/com/example/Bootstrap.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/FraudDetectionService.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-orchestration/.gitignore
  samples/transfer-workflow-orchestration/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow-orchestration/LICENSE
  samples/transfer-workflow-orchestration/README.md
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/Bootstrap.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/BasicTransferWorkflow.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/FraudDetectionService.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/WalletService.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/domain/Transfer.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow-orchestration/src/main/resources/application.conf
  samples/transfer-workflow-orchestration/src/main/resources/include-dev-loggers.xml
  samples/transfer-workflow-orchestration/src/main/resources/include-loggers.xml
  samples/transfer-workflow-orchestration/src/test/java/com/example/transfer/application/BasicTransferWorkflowIntegrationTest.java
  samples/transfer-workflow-orchestration/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
Labels: java-sdk, documentation

improving docs
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

docs: external service orchestration sample (#702)
  .github/workflows/ci.yml
  .github/workflows/pr-akka-samples.yml
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  docs/src/modules/ROOT/attachments/akka-code-init.json
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow-compensation/src/main/java/com/example/Bootstrap.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/FraudDetectionService.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-orchestration/.gitignore
  samples/transfer-workflow-orchestration/.idea/runConfigurations/Run_locally.xml
  samples/transfer-workflow-orchestration/LICENSE
  samples/transfer-workflow-orchestration/README.md
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/Bootstrap.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/BasicTransferWorkflow.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/FraudDetectionService.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/application/WalletService.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/domain/Transfer.java
  samples/transfer-workflow-orchestration/src/main/java/com/example/transfer/domain/TransferState.java
  samples/transfer-workflow-orchestration/src/main/resources/application.conf
  samples/transfer-workflow-orchestration/src/main/resources/include-dev-loggers.xml
  samples/transfer-workflow-orchestration/src/main/resources/include-loggers.xml
  samples/transfer-workflow-orchestration/src/test/java/com/example/transfer/application/BasicTransferWorkflowIntegrationTest.java
  samples/transfer-workflow-orchestration/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
Labels: java-sdk, documentation

docs: akka CLI docs
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_expose.adoc
Labels: documentation

chore: Fix some typos in akka-code-init
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

docs: understanding index page
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

chore: Fix some typos in akka-code-init (#713)
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

docs: Document down-region (#711)
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

docs: akka CLI docs
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_code.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_code_init.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_quickstart_download.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_expose.adoc
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
Labels: documentation

Release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

regenerated CLI index
  docs/src/modules/reference/nav.adoc
Labels: documentation

remove quickstart from index page
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
Labels: documentation

docs: understanding index page (#714)
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

Update LICENSE
  LICENSE
Labels: none

Update LICENSE (#718)
  LICENSE
Labels: none

docs: correct CLI version
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

feat: auto-registration of step methods
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

docs: correct CLI version (#719)
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

Use dedicated runner and allowlisted url
  .github/workflows/ci.yml
Labels: none

Update docs-cli-updates.yml
  .github/workflows/docs-cli-updates.yml
Labels: none

Update docs-prod.yml
  .github/workflows/docs-prod.yml
Labels: none

Update docs-static.yml
  .github/workflows/docs-static.yml
Labels: none

Update docs-wip.yml
  .github/workflows/docs-wip.yml
Labels: none

Update documentation.yml
  .github/workflows/documentation.yml
Labels: none

Update fossa.yml
  .github/workflows/fossa.yml
Labels: none

Update pr-akka-samples.yml
  .github/workflows/pr-akka-samples.yml
Labels: none

Update publish-sample-images.yml
  .github/workflows/publish-sample-images.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update update-sdk-version.yml
  .github/workflows/update-sdk-version.yml
Labels: none

Update delete-pr-caches.yml
  .github/workflows/delete-pr-caches.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update plugins.sbt
  project/plugins.sbt
Labels: none

Update Common.scala
  project/Common.scala
Labels: none

Update pom.xml
  akka-javasdk-maven/pom.xml
Labels: java-sdk

Update pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

chore: Add getting started guide as tutorial
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

fix broken links
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

update summary text
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

java-sdk:
  - akka-javasdk/**/*
  - akka-javasdk-testkit/**/*
  - akka-javasdk-annotation-processor/**/*
  - akka-javasdk-annotation-processor-tests/**/*
  - akka-javasdk-maven/**/*

documentation:
  - docs/**/*
  - samples/**/*
