Repository akka/akka-sdk, pull requests merged in 2024-11, with the labels that each got.

#8 docs: workflow execution details in console
  docs/src/modules/java/images/workflow-execution.png
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

#12 docs: less detail in Hello World
  docs/README.md
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

#10 feat: Improved custom tracing span API
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitCommandContextTimed.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitKeyValueEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitKeyValueEntityContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitTracing.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/components/tracing/Batches.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/tracing/Traces.java
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/java/akka/javasdk/TraceContext.java
  akka-javasdk/src/main/java/akka/javasdk/Tracing.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/timedaction/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/SpanTracingImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/timedaction/TestTracing.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/tracing/README.md
  samples/tracing/docker-compose.yml
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/application/TracingAction.java
  samples/tracing/src/main/java/com/example/tracing/application/Typicode.java
Labels: documentation, akka-sdk, java-sdk

#18 feat: Http endpoint base class with request context access
  akka-javasdk-tests/src/test/java/akkajavasdk/components/jwt/HelloJwtEndpoint.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/jwt/MissingJwtEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/http/HttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/http/AbstractHttpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtAction.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
Labels: documentation, java-sdk

#19 fix: entityId should be propagated to command context in ES testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/Increased.java
Labels: java-sdk

#22 docs: Fix wrong links to edge
  docs/src-static/.htaccess
  docs/src/modules/libraries/pages/index.adoc
Labels: documentation

#23 docs: Fix wrong links to edge (fw port)
  docs/src-static/.htaccess
  docs/src/modules/libraries/pages/index.adoc
Labels: documentation

#25 chore: remove static methods from the quickstart domain model
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/domain/ShoppingCart.java
Labels: documentation

#38 docs: updated docker credentials management
  docs/src/modules/operations/pages/projects/external-container-registries.adoc
Labels: documentation

#36 docs: CLI 3.0.6
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#41 docs: make Antora errors stop the build; fix most warnings
  Makefile
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/traces.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/view-logs.adoc
  docs/src/modules/operations/pages/organizations/manage-users.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
Labels: documentation
