Repository akka/akka-sdk, pull requests merged in 2024-12, with the labels that each got.

#45 chore: using spi for TimedAction and ESE
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/testkit/TestProtocol.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/replicatedentity/ReplicatedEntityMessages.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/replicatedentity/TestReplicatedEntityProtocol.scala
  project/Dependencies.scala
  publishLocally.sh
Labels: java-sdk

#50 chore: Update change date for 3.0.1
  LICENSE
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#51 chore: Consumer spi + ESE changes
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/KeyValueEntityResultImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/action/ActionsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/SecondaryEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#52 docs: Update release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#56 docs: SDK 3.0.1 release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#53 Merge main to docs-current (3.0.1)
  .github/workflows/docs-prod.yml
  .github/workflows/update-sdk-version.yml
  LICENSE
  Makefile
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/src/modules/ROOT/partials/include.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/traces.adoc
  docs/src/modules/operations/pages/observability-and-monitoring/view-logs.adoc
  docs/src/modules/operations/pages/organizations/manage-users.adoc
  docs/src/modules/operations/pages/projects/external-container-registries.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
  samples/endpoint-jwt/.idea/runConfigurations/Run_locally.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/.idea/runConfigurations/Run_locally.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
  updateRuntimeVersions.sh
Labels: documentation, java-sdk

#48 chore: Snapshots and StateSerializer type
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk-tests/src/test/resources/logback-test.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
Labels: java-sdk

#57 Merge main to java-spi
  docs/src/modules/reference/pages/release-notes.adoc
  samples/endpoint-jwt/.idea/runConfigurations/Run_locally.xml
  samples/event-sourced-counter-brokers/.idea/runConfigurations/Run_locally.xml
Labels: documentation

#60 chore: use AkkaRuntimeMain
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

#58 docs: add local console to getting started guide
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/images/hello-world-local-console.png
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/reference/pages/cli/installation.adoc
Labels: documentation

#64 docs: review support pages
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

#66 chore: Still PbAny in KeyValueEntitiesImpl
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/EffectSupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/SecondaryEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntitiesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
Labels: java-sdk

#65 chore: Use JsonSerializer in EventingTestKit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-testkit/src/test/scala/akka/javasdk/testkit/impl/IncomingMessagesImplSpec.scala
  akka-javasdk-testkit/src/test/scala/akka/javasdk/testkit/impl/OutgoingMessagesImplSpec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

#67 chore: Remove JsonMessageCodec
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonMessageCodec.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonMessageCodecSpec.scala
Labels: java-sdk

#68 Docs: publish CLI 3.0.7 and "author first service" with local console
  Makefile
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/images/hello-world-local-console.png
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/operations/pages/projects/container-registries.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
  docs/src/modules/reference/pages/cli/installation.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

#69 chore: consuming and producing without proto desc SDK changes
  akka-javasdk-annotation-processor-tests/entites-and-views-descriptors/src/main/java/com/example/AbstractInbetweenKvEntity2.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumersImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  project/Dependencies.scala
Labels: java-sdk

#59 chore: Workflow SPI
  .github/workflows/ci.yml
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk/src/main/java/akka/javasdk/impl/WorkflowFactory.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/CommandContext.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowRouter.scala
Labels: java-sdk

#63 chore: removing it profile
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/views.adoc
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/choreography-saga-quickstart/src/test/resources/application.conf
  samples/doc-snippets/src/test/java/com/example/MyIntegrationTest.java
  samples/doc-snippets/src/test/java/com/example/acl/UserEndpointIntegrationTest.java
  samples/doc-snippets/src/test/java/com/example/jwt/JwtIntegrationTest.java
  samples/endpoint-jwt/src/test/java/hellojwt/api/HelloJwtIntegrationTest.java
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealKafkaIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-counter/src/test/java/com/example/CounterIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIntegrationTest.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/spring-dependency-injection/src/test/java/com/example/CounterIntegrationTest.java
  samples/spring-dependency-injection/src/test/java/com/example/FixedClock.java
  samples/spring-dependency-injection/src/test/java/com/example/TestEmailSender.java
  samples/spring-dependency-injection/src/test/resources/application.properties
  samples/tracing/src/test/java/com/example/TracingIntegrationTest.java
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/domain/WalletTest.java
  samples/transfer-workflow/README.md
  samples/transfer-workflow/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/view-store/src/test/java/store/view/StoreViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: documentation, java-sdk

#77 chore: timed action without proto desc
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/TimedActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumersImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionService.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/subscriptions/PubSubTestModels.java
  akka-javasdk/src/test/proto/action/actionspec_api.proto
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/TimedActionDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/action/TimedActionHandlerSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ParameterExtractorsSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
Labels: java-sdk

#75 docs: platform release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#73 chore: typo
  docs/src/modules/java/pages/consuming-producing.adoc
Labels: documentation

#78 docs: publish latest updates
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/supplemental_ui/js/vendor/js.cookie.min.js
  docs/supplemental_ui/partials/footer-scripts-supplemental.hbs
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/choreography-saga-quickstart/src/test/resources/application.conf
  samples/doc-snippets/src/test/java/com/example/MyIntegrationTest.java
  samples/doc-snippets/src/test/java/com/example/acl/UserEndpointIntegrationTest.java
  samples/doc-snippets/src/test/java/com/example/jwt/JwtIntegrationTest.java
  samples/endpoint-jwt/src/test/java/hellojwt/api/HelloJwtIntegrationTest.java
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealKafkaIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterWithRealPubSubIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomerRegistryIntegrationTest.java
  samples/event-sourced-customer-registry-subscriber/src/test/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerIntegrationTest.java
  samples/key-value-counter/src/test/java/com/example/CounterIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/CustomerIntegrationTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
  samples/reliable-timers/src/test/java/com/example/OrderEndpointIntegrationTest.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/spring-dependency-injection/src/test/java/com/example/CounterIntegrationTest.java
  samples/spring-dependency-injection/src/test/java/com/example/FixedClock.java
  samples/spring-dependency-injection/src/test/java/com/example/TestEmailSender.java
  samples/spring-dependency-injection/src/test/resources/application.properties
  samples/tracing/src/test/java/com/example/TracingIntegrationTest.java
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow-compensation/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/application/WalletEntityIntegrationTest.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/domain/WalletTest.java
  samples/transfer-workflow/README.md
  samples/transfer-workflow/src/test/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/view-store/src/test/java/store/view/StoreViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: documentation, java-sdk

#79 chore: misc cleanups
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/WorkflowExceptions.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
Labels: java-sdk

#80 fix: do not access currentState in thenCompose
  .github/workflows/ci.yml
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

#81 chore: Populate ComponentDescriptor once, in SdkRunner
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

#72 chore: View SPI
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/view/UpdateContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ReflectiveViewRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewsImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewSchemaSpec.scala
  project/Common.scala
  project/Dependencies.scala
  samples/key-value-customer-registry/src/it/java/customer/CustomerIntegrationTest.java
Labels: documentation, java-sdk

#85 chore: update release date license and sdk samples to 3.0.2
  LICENSE
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#83 chore: ESE effect types
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#89 docs: update release notes to 3.0.2
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#90 docs: fix rendering issue in ESE page
  docs/src/modules/java/pages/event-sourced-entities.adoc
Labels: documentation

#88 chore: update release date license and sdk samples to 3.0.2 (#85)
  LICENSE
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#87 chore: removing entities and workflows from proto spec
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityService.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  project/Dependencies.scala
  samples/choreography-saga-quickstart/controller-requests.http
  samples/key-value-customer-registry/README.md
Labels: documentation, java-sdk

#86 Remove Pendo reporting from docs
  docs/supplemental_ui/js/vendor/js.cookie.min.js
  docs/supplemental_ui/partials/footer-scripts-supplemental.hbs
Labels: documentation

#92 chore: misc cleanups
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ConsumerDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/EntityDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/InvocationContext.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/TimedActionDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/KalixMethod.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/ParameterExtractor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/keyvalueentity/ValueEntitiesTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/KeyValueEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/WorkflowEntityDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/KalixMethodSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
Labels: java-sdk

#96 chore: Remove TestProtocol
  akka-javasdk/src/test/scala/akka/javasdk/testkit/TestProtocol.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/entity/EntityMessages.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/eventsourcedentity/EventSourcedMessages.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/eventsourcedentity/TestEventSourcedProtocol.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/keyvalueentity/TestKeyValueEntityProtocol.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/keyvalueentity/ValueEntityMessages.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/workflow/TestWorkflowProtocol.scala
  akka-javasdk/src/test/scala/akka/javasdk/testkit/workflow/WorkflowMessages.scala
Labels: java-sdk

#91 chore: SpiMetadata in component client
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/java/akka/javasdk/Metadata.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/DeferredCallImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/EffectSupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/effect/SecondaryEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/MetadataImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
  project/Dependencies.scala
Labels: java-sdk

#97 chore: Proto ByteString in EventingTestKit.IncomingMessages.publish
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/SourcesHolder.scala
Labels: java-sdk

#94 chore: Replace discovery reportError and healthCheck with spi
  akka-javasdk/src/main/scala/akka/javasdk/impl/DiscoveryImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

#99 chore: Align routers
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandHandler.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/CommandSerialization.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/HandlerNotFoundException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/ReflectiveKeyValueEntityRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/ReflectiveTimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
Labels: java-sdk

#93 chore: new workflow spi adt
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#108 chore: make workflow stateless
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#110 chore: Format reportError log
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

#111 samples: Update README in JWT sample
  samples/endpoint-jwt/README.md
  samples/event-sourced-counter-brokers/README.md
Labels: documentation

#105 chore: Cleanup JsonSupport
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/scala/akka/javasdk/JsonSupportSpec.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/event-sourced-counter-brokers/src/it/java/counter/application/CounterWithRealKafkaIntegrationTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
Labels: documentation, java-sdk

#109 chore: Missing metadata in reply
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#112 chore: View updates
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/testmodels/view/ViewTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewSchemaSpec.scala
Labels: java-sdk

#113 chore: Re-introduce trace spans for timed actions and consumers
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
Labels: java-sdk

#115 chore: endpoint request header follow up and docs
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation, java-sdk

#116 chore: adding class name to descriptors
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  project/Dependencies.scala
Labels: java-sdk
