Repository akka/akka-sdk, pull requests merged in 2025-01, with the labels that each got.

#118 chore: aligning view store sample
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/views.adoc
  samples/view-store/README.md
  samples/view-store/src/main/java/store/customer/api/CustomerEndpoint.java
  samples/view-store/src/main/java/store/customer/application/CustomerEntity.java
  samples/view-store/src/main/java/store/order/api/OrderEndpoint.java
  samples/view-store/src/main/java/store/order/application/CreateOrder.java
  samples/view-store/src/main/java/store/order/application/OrderEntity.java
  samples/view-store/src/main/java/store/order/view/joined/CustomerOrder.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/model/Customer.java
  samples/view-store/src/main/java/store/order/view/model/Product.java
  samples/view-store/src/main/java/store/order/view/nested/CustomerOrder.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrders.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/CustomerShipping.java
  samples/view-store/src/main/java/store/order/view/structured/ProductOrder.java
  samples/view-store/src/main/java/store/order/view/structured/ProductValue.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrders.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
  samples/view-store/src/main/java/store/product/api/ProductEndpoint.java
  samples/view-store/src/main/java/store/product/application/ProductEntity.java
  samples/view-store/src/test/java/store/customer/api/CustomerEntityTest.java
  samples/view-store/src/test/java/store/product/api/ProductEntityTest.java
  samples/view-store/src/test/java/store/view/StoreViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/view-store/src/test/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
Labels: documentation

#120 chore: rename ES testkit utility method
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedResult.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
Labels: java-sdk

#122 fix(docs): clarify IntelliJ setup instructions
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

#123 fix(docs): developer service deletion permissions
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
Labels: documentation

#124 chore: removing metadata from timed action effect impl
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TimedActionResultImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
Labels: java-sdk

#126 chore: Update views to use new SPI type structure
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewSchemaSpec.scala
  project/Dependencies.scala
Labels: java-sdk

#130 docs: cross references
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/security/pages/acls.adoc
Labels: documentation

#128 feat: component exclusion config
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/ProdCounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/StageCounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/TestCounterEntity.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
Labels: java-sdk

#131 docs: explain backoffice for testing service
  docs/src/modules/java/pages/access-control.adoc
Labels: documentation

#132 chore: More evolvable SpiComponents
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
Labels: java-sdk

#129 docs: clarify asMap behaviour in JwtClaims
  akka-javasdk/src/main/java/akka/javasdk/JwtClaims.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
Labels: java-sdk

#134 chore: drop protobuf/grpc deps and classes
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/AnySupport.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JwtDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProtoDescriptorRenderer.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/ProtoMessageDescriptors.scala
  akka-javasdk/src/test/java/akka/javasdk/eventsourcedentity/AbstractCartEntity.java
  akka-javasdk/src/test/java/akka/javasdk/eventsourcedentity/CartEntity.java
  akka-javasdk/src/test/java/akka/javasdk/keyvalueentity/AbstractCartEntity.java
  akka-javasdk/src/test/java/akka/javasdk/keyvalueentity/CartEntity.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/AclDescriptorFactorySpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/MessageDescriptorGeneratorSpec.scala
  build.sbt
  project/Common.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

#135 fix: deserialize table updater row state
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

#137 docs: avoid using support for features; don't mention coming soon
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
Labels: documentation

#136 docs: declarative effects title style
  docs/src/modules/concepts/pages/declarative-effects.adoc
Labels: documentation

#138 docs: publish recent changes from main
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/declarative-effects.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  docs/src/modules/security/pages/acls.adoc
Labels: documentation

#127 feat: event-sourced entity testkit support for initial events/state
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
Labels: java-sdk

#140 chore: Default domain and application packages in archetype
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/domain/package-info.java
Labels: java-sdk

#141 chore: Wrong package name in #140
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
Labels: java-sdk

#146 fix: logging workflow step and transition failures
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

#147 fix: failing the consumer if publishing without the destination is detected
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
Labels: java-sdk

#142 feat: Support ZonedDateTime in views
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesView.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewSchema.scala
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: documentation, java-sdk

#149 docs: cli and platform release notes
  Makefile
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#145 docs: Runaway space before request header section header
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

#148 chore: updating consumer SPI effect
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#152 docs: review multi-region concepts
  docs/src/modules/concepts/images/steps-1.svg
  docs/src/modules/concepts/images/steps-2.svg
  docs/src/modules/concepts/images/steps-3.svg
  docs/src/modules/concepts/images/steps-4.svg
  docs/src/modules/concepts/images/steps-5.svg
  docs/src/modules/concepts/images/steps-6.svg
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

#151 Merge main to java-spi
  Makefile
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/declarative-effects.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/operations/pages/projects/manage-project-access.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/security/pages/acls.adoc
Labels: documentation

#143 chore: adding edit service descriptor
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

#155 Merge main to java-spi
  Makefile
  docs/src/modules/concepts/images/steps-1.svg
  docs/src/modules/concepts/images/steps-2.svg
  docs/src/modules/concepts/images/steps-3.svg
  docs/src/modules/concepts/images/steps-4.svg
  docs/src/modules/concepts/images/steps-5.svg
  docs/src/modules/concepts/images/steps-6.svg
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

#157 feat: add query param on http RequestBuilder
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/http/HttpClientImplSpec.scala
Labels: java-sdk

#158 chore: Drop some more protobuf refs
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/test/scala/akka/javasdk/impl/AnySupportSpec.scala
  build.sbt
  project/Dependencies.scala
Labels: java-sdk

#153 feat: disabling components programmatically
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/Setup.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/ServiceSetup.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/MyAppSetup.java
  samples/doc-snippets/src/main/java/com/example/application/MyComponent.java
  samples/doc-snippets/src/main/resources/application.conf
Labels: documentation, java-sdk

#159 docs: split replication illustration
  docs/src/modules/concepts/images/geo-c.svg
  docs/src/modules/concepts/images/geo-d.svg
  docs/src/modules/concepts/images/geo-e.svg
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

#162 docs: new get started drop down, tagged links
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-get-started.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
Labels: documentation

#166 docs: publish latest updates
  Makefile
  docs/src/modules/concepts/images/geo-c.svg
  docs/src/modules/concepts/images/geo-d.svg
  docs/src/modules/concepts/images/geo-e.svg
  docs/src/modules/concepts/images/steps-1.svg
  docs/src/modules/concepts/images/steps-2.svg
  docs/src/modules/concepts/images/steps-3.svg
  docs/src/modules/concepts/images/steps-4.svg
  docs/src/modules/concepts/images/steps-5.svg
  docs/src/modules/concepts/images/steps-6.svg
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-get-started.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
Labels: documentation

#165 doc: Remove AkkaSdkTestkit from TestKit javadoc
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
Labels: java-sdk

#164 feat: isDeleted method for entity command handlers
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventSourcedResultImpl.scala
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/EventSourcedEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/UserEntity.java
  akka-javasdk/src/main/java/akka/javasdk/eventsourcedentity/EventSourcedEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation, java-sdk

#160 docs: adding sync status
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_list.adoc
Labels: documentation, cli

#167 chore: Merge main to java-spi
  docs/src/modules/concepts/images/geo-c.svg
  docs/src/modules/concepts/images/geo-d.svg
  docs/src/modules/concepts/images/geo-e.svg
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_list.adoc
  docs/supplemental_ui/bundle/akka-theme-ui-001-bundle.zip
  docs/supplemental_ui/partials/drop-down-developers.hbs
  docs/supplemental_ui/partials/drop-down-get-started.hbs
  docs/supplemental_ui/partials/drop-down-sdk.hbs
Labels: documentation

#168 bump: Akka Runtime 1.3.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

#161 feat: gRPC endpoint support
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/main/java/com/example/UserGrpcServiceImpl.java
  akka-javasdk-annotation-processor-tests/rest-endpoints-descriptors/src/test/scala/com/example/EndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/java/akka/javasdk/annotations/GrpcEndpoint.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  build.sbt
  project/Dependencies.scala
  project/plugins.sbt
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/acl/PaymentEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/doc-snippets/src/main/protobuf/com/example/example_grpc_endpoint.proto
Labels: documentation, java-sdk

#170 feat: gRPC codegen config in parent pom
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Common.scala
  project/SamplesCompilationProject.scala
  project/plugins.sbt
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/proto/com/example/example_grpc_endpoint.proto
Labels: documentation, java-sdk

#171 doc: Sample and basic doc page
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/index.adoc
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/proto/com/example/example_grpc_endpoint.proto
  samples/event-sourced-customer-registry/README.md
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/proto/customer/api/customer_grpc_endpoint.proto
Labels: documentation

#172 feat: support for ACLs in grpc endpoints
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
Labels: documentation, java-sdk

#174 docs: show CLI download URL
  docs/src/modules/reference/pages/cli/installation.adoc
Labels: documentation

#176 docs: Fix advanced query snippet references
  docs/src/modules/java/partials/query-syntax-advanced.adoc
Labels: documentation

#177 docs: Use mvn verify instead of mvn integration-test
  .github/workflows/ci.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  samples/event-sourced-counter-brokers/README.md
  samples/transfer-workflow-compensation/README.md
  samples/transfer-workflow/README.md
Labels: documentation, java-sdk

#178 fix: User config got sdk config in the wrong place
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/TestCounterEntity.java
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

#173 feat: gRPC client provider for cross service and external calls
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/java/akka/javasdk/grpc/GrpcClientProvider.java
  akka-javasdk/src/main/java/akka/javasdk/http/HttpClientProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
  build.sbt
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/proto/com/example/call_grpc_endpoint.proto
  samples/doc-snippets/src/main/resources/application.conf
Labels: documentation, java-sdk

#180 docs: add links to multi-region operation docs
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/architecture-model.adoc
Labels: documentation

#179 chore: gRPC clients config sanitization and allow service override in dev
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk-tests/src/test/resources/application.conf
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/grpc/GrpcProviderClientImplSpec.scala
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/doc-snippets/src/main/resources/application.conf
Labels: documentation, java-sdk

#183 docs: Update release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#186 fix: creating the pr to update the samples when releasing
  .github/workflows/update-sdk-version.yml
Labels: team-runtime, java-sdk

#189 chore: Otel trace propagation through gRPC clients
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

#192 feat: gRPC endpoint clients provided by testkit
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKitSupport.java
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  docs/src/modules/java/pages/grpc-endpoints.adoc
  samples/doc-snippets/src/test/java/com/example/api/ExampleGrpcEndpointTest.java
Labels: documentation, java-sdk

#194 test: ACL deny code inheritance
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/java/akka/javasdk/annotations/Acl.java
Labels: java-sdk

#195 fix: reference to field in GoogleCloud spec
  docs/src/modules/operations/pages/observability-and-monitoring/observability-exports.adoc
  docs/src/modules/reference/pages/descriptors/observability-descriptor.adoc
Labels: documentation
