Repository akka/akka-sdk, pull requests merged in 2025-06, with the labels that each got.

#405 feat: mcp endpoints
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/main/java/com/example/BasicMcpEndpoint.java
  akka-javasdk-annotation-processor-tests/mcp-endpoints-descriptors/src/test/scala/com/example/McpEndpointsDescriptorSpec.scala
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/mcp/TestMcpEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpPrompt.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpResource.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/McpTool.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/mcp/ToolAnnotation.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/AbstractMcpEndpoint.java
  akka-javasdk/src/main/java/akka/javasdk/mcp/McpRequestContext.java
  akka-javasdk/src/main/scala/akka/http/scaladsl/SseTrickery.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/mcp-endpoints.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  project/Dependencies.scala
  samples/doc-snippets/src/main/java/com/example/api/ExampleMcpEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/key-value-customer-registry/src/main/resources/static-resources/index.html
Labels: documentation, java-sdk

#501 chore: make collision of typename with user less likely
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

#502 chore(sample): use timestamp from event
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
Labels: documentation

#511 fix: fixing get last N message from session
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
Labels: java-sdk

#509 feat: timestamp in the session history message
  akka-javasdk-tests/src/test/java/akkajavasdk/McpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/McpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

#515 chore: Remove AgentInfoCollection
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentRegistry.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentRegistryImpl.scala
Labels: java-sdk

#512 docs: revamp landing page with modular layout
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/acls.adoc
  docs/src/modules/concepts/pages/ai-concepts-video.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/getting-started/images/console-first-app-service.png
  docs/src/modules/getting-started/images/hello-world-local-console.png
  docs/src/modules/getting-started/images/local-console-first-app-events.png
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/addview.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  docs/src/modules/java/pages/ask-akka/index.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/shopping-cart/index.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/akka-platform.adoc
  docs/src/modules/operations/pages/configuring.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/services/invoke-service.adoc
  docs/src/modules/operations/pages/tls-certificates.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/glossary.adoc
  docs/src/modules/reference/pages/jwts.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/security/nav.adoc
  docs/src/modules/security/pages/index.adoc
  docs/src/modules/self-managed/nav.adoc
  docs/src/modules/self-managed/pages/index.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/index.adoc
  docs/src/modules/support/pages/platform-status.adoc
  docs/src/modules/support/pages/request-a-demo.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#531 docs: Akka management announcement
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/security-announcements/akka-management-cve-2025-46548.adoc
  docs/src/modules/reference/pages/security-announcements/index.adoc
Labels: documentation

#532 docs: Human in the loop
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

#536 docs: link to samples from getting started landing page
  docs/src/modules/getting-started/pages/index.adoc
Labels: documentation

#533 docs: Add agent to getting started
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/session.adoc
  docs/src/modules/java/pages/index.adoc
  samples/doc-snippets/pom.xml
  samples/doc-snippets/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/doc-snippets/src/main/java/com/example/application/HelloWorldAgent.java
Labels: documentation, java-sdk

#537 fix: loading anthropic model from config
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: bug, java-sdk

#541 feat: workflows tracing
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/workflow/WorkflowContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/Contexts.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#545 docs: Add RAG in integrations
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/integrations/index.adoc
  docs/src/modules/java/pages/rag.adoc
Labels: documentation

#551 docs: Release notes for runtime 1.4.14 and 1.2.19
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#547 chore: Make AI coding guidelines fully copy-pasteable
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

#552 fix: map tool request and responses to context msg
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

#556 chore: Merge main into agent-dev
  Makefile
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/http/HttpClientImplSpec.scala
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/security-announcements/akka-management-cve-2025-46548.adoc
  docs/src/modules/reference/pages/security-announcements/index.adoc
  project/Dependencies.scala
Labels: documentation, java-sdk

#558 chore: Run multi-agent tests without api key
  .github/workflows/ci.yml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/test/java/demo/multiagent/application/AgentTeamTest.java
Labels: documentation, java-sdk

#561 docs: Model provider details
  Makefile
  akka-javasdk/src/main/resources/reference.conf
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: documentation, java-sdk

#562 docs: Update llms.txt with agent docs and samples
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

#563 chore: Update samples to 3.4.0-M4
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation

#546 feat: agent tracing
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/AgentComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  project/Dependencies.scala
Labels: java-sdk

#565 fix(docs): duplicate release notes heading
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#570 docs: link to concepts video in AI RAG agent flows
  docs/src/modules/ROOT/partials/recommend-ai-video.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent.adoc
  docs/src/modules/getting-started/pages/endpoints.adoc
  docs/src/modules/getting-started/pages/indexer.adoc
  docs/src/modules/getting-started/pages/rag.adoc
Labels: documentation

#568 feat: standalone tool support
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgentWithTool.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/AgentComponentDescriptor.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  project/Dependencies.scala
Labels: java-sdk

#564 chore: use Instant and remove orphans messages from memory
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: documentation, java-sdk

#574 docs: make model providers two tables
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

#572 docs: agent icon
  docs/src/modules/ROOT/images/agent.png
Labels: documentation

#576 docs: understanding pages
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/distributed-systems.adoc
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

#578 docs: samples page design
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/rag.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#579 docs: foundational agentic AI systems concepts
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#583 bump: Runtime 1.5.0
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

#584 chore: Shorten some long prompt lines to fit in docs
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgent.java
  samples/doc-snippets/src/main/java/com/example/application/AskAkkaAgent.java
  samples/doc-snippets/src/main/java/com/example/application/WeatherAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Selector.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherAgent.java
Labels: documentation

#587 chore: Trigger compaction based on size
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SessionMemoryEntityTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMemoryEntity.java
  akka-javasdk/src/main/java/akka/javasdk/agent/SessionMessage.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  docs/src/modules/java/pages/agents.adoc
  samples/doc-snippets/src/main/java/com/example/application/CompactionAgent.java
  samples/doc-snippets/src/main/java/com/example/application/SessionMemoryConsumer.java
  samples/doc-snippets/src/test/java/com/example/application/CompactionAgentIntegrationTest.java
Labels: documentation, java-sdk

#589 feat: allow annotations on interface methods
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolDescriptors.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherServiceImpl.java
Labels: documentation, java-sdk

#593 update UI bundle version from 002 to 003 in antora playbooks
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-003-bundle.zip
Labels: documentation

#594 Add notification banner
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-003-bundle.zip
  docs/supplemental_ui/bundle/akka-theme-ui-004-bundle.zip
  docs/supplemental_ui/layouts/notification.hbs
  docs/supplemental_ui/partials/notification-banner.hbs
Labels: documentation

#592 fix: enforce tool name uniqueness
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/FunctionToolsSpec.scala
Labels: java-sdk

#596 docs(concepts): add platform introduction visuals
  docs/src/modules/concepts/images/akka-agentic-platform.png
  docs/src/modules/concepts/images/component-composition.png
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#602 chore: simplified planning for single agent run
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeam.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/Planner.java
Labels: documentation

#597 chore: Unwrap InvocationTargetException in tool calls
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/FunctionTools.scala
Labels: java-sdk

#604 Update banner text
  docs/supplemental_ui/partials/notification-banner.hbs
Labels: documentation

#609 add close button to the banner
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-005-bundle.zip
  docs/supplemental_ui/layouts/notification.hbs
  docs/supplemental_ui/partials/notification-banner.hbs
Labels: documentation

#618 chore: Remove maven archetype
  akka-javasdk-maven/akka-javasdk-archetype/README.md
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.idea/runConfigurations/Run_locally.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/README.md
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/pom.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/HelloWorldEndpoint.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/api/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/HelloWorldAgent.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/application/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/domain/package-info.java
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/include-dev-loggers.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/main/resources/include-loggers.xml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/src/test/java/__packageInPathFormat__/IntegrationTest.java
  akka-javasdk-maven/pom.xml
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  publishLocally.sh
Labels: documentation, java-sdk

#611 docs(concepts): add distributed system properties
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#628 docs(concepts): clarify memory section
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#629 docs(concepts): expand component descriptions
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#607 docs: add deploy runbook to ask akka sample
  samples/ask-akka-agent/README.md
Labels: documentation

#634 docs(sample): update readme with secret setup step
  samples/helloworld-agent/README.md
Labels: documentation

#633 docs(concepts): consolidate runtimes content
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#637 fix: missing space causing bad rendering
  docs/src/modules/java/pages/agents.adoc
Labels: documentation

#635 chore(docs): hyperlink component names
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

#636 chore(docs): tighten table spacing
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#638 feat: support optional tool parameters
  akka-javasdk/src/main/java/akka/javasdk/annotations/Description.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/FunctionTool.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ToolExecutor.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/ToolExecutorSpec.scala
  docs/src/modules/java/pages/agents.adoc
  samples/multi-agent/pom.xml
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/FakeWeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherService.java
  samples/multi-agent/src/main/java/demo/multiagent/application/agents/WeatherServiceImpl.java
Labels: documentation, java-sdk

#640 chore: Update the docs with CLI changes
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/running-locally.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/quickstart.html.md
  samples/ask-akka-agent/src/main/resources/md-docs/running-locally.html.md
  samples/shopping-cart-quickstart/README.md
Labels: documentation

#590 Updates the "identify the agent" section to be more clear
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
Labels: documentation

#598 feat: Support for Hugging Face models
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: documentation, java-sdk

#644 docs(concepts): update/move service packaging
  docs/src/modules/concepts/pages/concepts.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#651 chore: Missing tool and mcp tool streaming effect APIs
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
Labels: java-sdk

#653 chore: fix link to graphical design repo
  docs/README.md
Labels: documentation

#655 docs: Getting started agent guide, part 1 and 2
  akka-javasdk-tests/tempo.yaml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/endpoints.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/index.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_services_expose.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/PreferencesEntity.java
Labels: documentation, java-sdk

#652 docs: view query with more than one param
  docs/src/modules/java/partials/query-syntax-reference.adoc
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
Labels: documentation

#654 docs: augmenting Akka Agentic Platform and Akka Automated Operations
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/getting-started/pages/build-and-deploy-shopping-cart.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/akka-platform.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/platform-features.adoc
  samples/ask-akka-agent/README.md
Labels: documentation

#660 docs(concepts): add section heading
  docs/src/modules/ROOT/partials/concepts-intro.adoc
Labels: documentation

#678 sample: remove extra space in multi-agent created path
  samples/multi-agent/src/main/java/demo/multiagent/api/ActivityEndpoint.java
Labels: documentation

#677 docs: revise landing page intro statement
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

#679 docs: Incorporate minor workflow feedback
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

#682 chore: Update release issue
  docs/release-issue-template.md
Labels: documentation

#671 adding table of contents to additional samples page
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

#684 chore: Add Akka code init directory
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

#688 docs: Getting started index
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/planner-agent/dynamic-team.adoc
  docs/src/modules/getting-started/pages/planner-agent/index.adoc
  docs/src/modules/getting-started/pages/planner-agent/list.adoc
  docs/src/modules/getting-started/pages/planner-agent/preferences.adoc
  docs/src/modules/getting-started/pages/planner-agent/team.adoc
  docs/src/modules/getting-started/pages/planner-agent/weather.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

#690 docs(concepts): merge video into AI agents page
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/ROOT/partials/recommend-ai-video.adoc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/ai-agents.adoc
  docs/src/modules/concepts/pages/ai-concepts-video.adoc
Labels: documentation

#696 chore: Shallow clone of helloworld
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

#697 chore: Style refactoring of choreography-saga
  samples/choreography-saga-quickstart/src/main/java/user/registry/api/UserEndpoint.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UserEntity.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/domain/UniqueEmail.java
  samples/choreography-saga-quickstart/src/main/java/user/registry/domain/User.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserCreationIntegrationTest.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserEntityTest.java
Labels: documentation

#700 chore: Minor fixes in getting started
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  samples/doc-snippets/src/main/java/agent_guide/part1/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityAgent.java
  samples/doc-snippets/src/main/java/agent_guide/part2/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part4/ActivityEndpoint.java
  samples/doc-snippets/src/main/java/agent_guide/part5/ActivityEndpoint.java
  samples/multi-agent/src/main/java/demo/multiagent/application/ActivityAgent.java
  samples/multi-agent/src/main/java/demo/multiagent/application/SummarizerAgent.java
Labels: documentation

#681 chore: Support recursive types, and more stdlib types in JsonSchema creation
  akka-javasdk/src/main/scala/akka/javasdk/impl/JsonSchema.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/SomeToolInput.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/JsonSchemaSpec.scala
Labels: java-sdk

#706 docs: Deploy to akka.io from getting started
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/eval.adoc
  docs/src/modules/getting-started/pages/quick-deploy.adoc
Labels: documentation

#662 chore: Self service resolution in integration tests
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
Labels: java-sdk
