Repository akka/akka-sdk, pull requests merged in 2025-03, with the labels that each got.

#268 chore: Mark Akka gRPC generated sources dir for IntelliJ autodetect
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

#275 fix: typo
  docs/src/modules/java/pages/dev-best-practices.adoc
Labels: documentation

#274 docs: update support email
  docs/src/modules/operations/pages/projects/broker-aiven.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

#281 chore: Cleanup key-value-shopping-cart sample
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartDTO.java
  samples/key-value-shopping-cart/src/main/java/com/example/api/ShoppingCartEndpoint.java
  samples/key-value-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/key-value-shopping-cart/src/main/java/com/example/domain/ShoppingCart.java
  samples/key-value-shopping-cart/src/test/java/com/example/ShoppingCartIntegrationTest.java
Labels: documentation

#283 docs: Format of definitions list
  docs/src/modules/concepts/pages/multi-region.adoc
Labels: documentation

#282 docs: add missing nav sub-section index pages
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/components/index.adoc
  docs/src/modules/java/pages/integrations/index.adoc
  docs/src/modules/java/pages/setup-and-configuration/index.adoc
Labels: documentation

#271 build: Auto PR akka-samples
  .github/workflows/pr-akka-samples.yml
  akka-javasdk-maven/akka-javasdk-archetype/src/main/resources/archetype-resources/.gitignore
  docs/release-issue-template.md
  samples/choreography-saga-quickstart/.gitignore
  samples/doc-snippets/.gitignore
  samples/endpoint-jwt/.bundleignore
  samples/event-sourced-counter-brokers/.bundleignore
  samples/event-sourced-counter-brokers/.gitignore
  samples/event-sourced-customer-registry-subscriber/.gitignore
  samples/event-sourced-customer-registry/.gitignore
  samples/key-value-counter/.gitignore
  samples/key-value-customer-registry/.gitignore
  samples/key-value-shopping-cart/.gitignore
  samples/reliable-timers/.gitignore
  samples/shopping-cart-quickstart/.gitignore
  samples/spring-dependency-injection/.gitignore
  samples/tracing/.gitignore
  samples/transfer-workflow-compensation/.gitignore
  samples/transfer-workflow/.bundleignore
  samples/transfer-workflow/.gitignore
  samples/view-store/.gitignore
Labels: documentation

#286 fix: access updateContext from inside emptyRow
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

#289 feat: Customizable object mapper for endpoints
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/SerializationTestkit.java
  akka-javasdk/src/main/java/akka/javasdk/JsonSupport.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Settings.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ReflectiveConsumerRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
  project/Dependencies.scala
Labels: java-sdk

#263 feat: query params support
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/QueryParamsEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/http/QueryParams.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/QueryParamsImpl.scala
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
Labels: documentation, java-sdk

#276 docs: deduplication strategies documentation
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk/src/main/java/akka/javasdk/CloudEvent.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  docs/src/modules/java/pages/dev-best-practices.adoc
  docs/src/modules/java/pages/views.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/event-sourced-counter-brokers/src/main/java/counter/CounterSetup.java
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueView.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterByValueViewEnrichment.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEntity.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterStore.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterStoreUpdater.java
  samples/event-sourced-counter-brokers/src/main/java/counter/domain/CounterEvent.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterByValueViewTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterIntegrationTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterStoreUpdaterTest.java
  samples/event-sourced-customer-registry/src/main/java/customer/CustomerRegistrySetup.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerByEmailView.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerStore.java
  samples/event-sourced-customer-registry/src/main/java/customer/application/CustomerStoreUpdater.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerStoreUpdaterTest.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/application/WalletEntity.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/Wallet.java
  samples/transfer-workflow-compensation/src/main/java/com/example/wallet/domain/WalletCommand.java
  samples/transfer-workflow-compensation/src/test/java/com/example/wallet/domain/WalletTest.java
Labels: documentation, java-sdk

#294 docs: update release notes for runtime 1.4.3
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#290 minor phrasing and tone changes to shopping cart sample
  docs/.vale.ini
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

#297 ci: build docs on PR
  .github/workflows/documentation.yml
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
Labels: documentation

#304 docs: cut down support section
  docs/src/modules/operations/pages/organizations/index.adoc
  docs/src/modules/security/pages/index.adoc
  docs/src/modules/support/nav.adoc
  docs/src/modules/support/pages/community-forum.adoc
  docs/src/modules/support/pages/email.adoc
  docs/src/modules/support/pages/frequently-asked-questions.adoc
  docs/src/modules/support/pages/index.adoc
  docs/src/modules/support/pages/paid-plans.adoc
  docs/src/modules/support/pages/troubleshooting.adoc
Labels: documentation

#302 chore: adding endpoint-jwt sample to release template
  docs/release-issue-template.md
Labels: documentation

#305 docs: slight updates to the flagship release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#308 disable UserActivityEntity if allocation rules are empty
  samples/capacity-allocation/src/main/java/com/example/api/CapacityEndpoint.java
  samples/capacity-allocation/src/main/java/com/example/application/UserActivityEntity.java
Labels: documentation

#293 feat: workflows subscription samples and docs
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventingTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk-tests/src/test/java/akkajavasdk/EventingTestkitDestinationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/TransferView.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/DummyTransferStore.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/Transfer.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferConsumer.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithFraudDetection.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithoutInputs.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/annotations/Consume.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/ConsumerDescriptorFactorySpec.scala
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/views.adoc
  project/Dependencies.scala
  samples/transfer-workflow/README.md
  samples/transfer-workflow/src/main/java/com/example/transfer/api/TransferEndpoint.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferStateConsumer.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferView.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferViewIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransferWorkflowIntegrationTest.java
Labels: documentation, java-sdk

#314 Release notes 3.2.3
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#317 fix(docs): duplicate Key Value Entities docs link
  docs/src/modules/java/pages/components/index.adoc
Labels: documentation

#322 docs: Akka CLI 3.0.14 entry in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#324 chore: moving cli to operations
  .gitignore
  docs/README.md
  docs/bin/generate_cli_docs.sh
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/cli/command-completion.adoc
  docs/src/modules/operations/pages/cli/index.adoc
  docs/src/modules/operations/pages/cli/installation.adoc
  docs/src/modules/operations/pages/cli/using-cli.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_completion.adoc
  docs/src/modules/reference/pages/cli/akka-cli/cli-index-header.template.txt
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
  docs/src/modules/reference/pages/cli/index.adoc
  docs/src/modules/reference/pages/index.adoc
Labels: documentation

#295 adds a view and refactors data shapes to be isolated
  .github/workflows/pr-akka-samples.yml
  .gitignore
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  docs/src/modules/java/pages/shopping-cart/index.adoc
  docs/src/modules/java/pages/shopping-cart/quickstart.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/shopping-cart-with-view/.bundleignore
  samples/shopping-cart-with-view/.gitignore
  samples/shopping-cart-with-view/LICENSE
  samples/shopping-cart-with-view/README.md
  samples/shopping-cart-with-view/pom.xml
  samples/shopping-cart-with-view/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserEvent.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-with-view/src/main/resources/application.conf
  samples/shopping-cart-with-view/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-with-view/src/main/resources/include-loggers.xml
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

#330 Update to latest docs
  .github/workflows/pr-akka-samples.yml
  .gitignore
  docs/README.md
  docs/bin/generate_cli_docs.sh
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/auth-with-jwts.adoc
  docs/src/modules/java/pages/author-your-first-service.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart/addview.adoc
  docs/src/modules/java/pages/shopping-cart/index.adoc
  docs/src/modules/java/pages/shopping-cart/quickstart.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/cli/command-completion.adoc
  docs/src/modules/operations/pages/cli/index.adoc
  docs/src/modules/operations/pages/cli/installation.adoc
  docs/src/modules/operations/pages/cli/using-cli.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/projects/create-project.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/cli/akka-cli/akka_completion.adoc
  docs/src/modules/reference/pages/cli/akka-cli/cli-index-header.template.txt
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
  docs/src/modules/reference/pages/cli/index.adoc
  docs/src/modules/reference/pages/index.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/shopping-cart-with-view/.bundleignore
  samples/shopping-cart-with-view/.gitignore
  samples/shopping-cart-with-view/LICENSE
  samples/shopping-cart-with-view/README.md
  samples/shopping-cart-with-view/pom.xml
  samples/shopping-cart-with-view/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/CartCloser.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/ShoppingCartView.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/application/UserEntity.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCartEvent.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/ShoppingCartState.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserEvent.java
  samples/shopping-cart-with-view/src/main/java/shoppingcart/domain/UserState.java
  samples/shopping-cart-with-view/src/main/resources/application.conf
  samples/shopping-cart-with-view/src/main/resources/include-dev-loggers.xml
  samples/shopping-cart-with-view/src/main/resources/include-loggers.xml
  samples/shopping-cart-with-view/src/test/java/shoppingcart/ShoppingCartIntegrationTest.java
  samples/shopping-cart-with-view/src/test/java/shoppingcart/application/ShoppingCartTest.java
Labels: documentation

#331 docs: Release notes for runtime 1.4.4 and 1.2.13
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#333 docs: Better sample for views from topic
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
Labels: documentation

#335 chore: wrong callout number
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation
