Repository akka/akka-sdk, pull requests merged in 2025-04, with the labels that each got.

#336 feat: HTTP client JSON array response body support
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/TestEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
Labels: java-sdk

#337 docs: remove outdated note
  docs/src/modules/java/pages/views.adoc
Labels: documentation

#338 docs: rewording paragraph and add link
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

#334 fix: Correct deserialization of collections in component client returns
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EntitySerializationChecker.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterValueEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/customer/CustomerEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/user/UsersView.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
Labels: java-sdk

#343 docs: Akka core 2.10.3 release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#344 Publish doc changes
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EntitySerializationChecker.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterValueEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/KeyValueEntityTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/TestEndpoint.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/customer/CustomerEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/user/UsersView.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  samples/event-sourced-counter-brokers/README.md
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterTopicView.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#328 feat: Standalone deployment
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  docs/src/antora.yml
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/index.adoc
  docs/src/modules/operations/pages/platform-features.adoc
  docs/src/modules/self-managed/nav.adoc
  docs/src/modules/self-managed/pages/configuring.adoc
  docs/src/modules/self-managed/pages/index.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/doc-snippets/standalone/deployment.yml
  samples/doc-snippets/standalone/docker-compose.yml
  samples/doc-snippets/standalone/namespace.yml
  samples/doc-snippets/standalone/podcost-crd.yml
  samples/doc-snippets/standalone/rbac.yml
  samples/doc-snippets/standalone/service.yml
  updateRuntimeVersions.sh
Labels: documentation, java-sdk

#350 docs: Release notes for SDK 3.2.4
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#352 docs: Use sidebar in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#353 bump: Confluent Kafka/Zookeeper 7.9.0 in Docker compose
  .github/kafka.yml
  samples/event-sourced-counter-brokers/docker-compose.yml
Labels: documentation

#359 Revert "bump: Confluent Kafka/Zookeeper 7.9.0 in Docker compose"
  .github/kafka.yml
  samples/event-sourced-counter-brokers/docker-compose.yml
Labels: documentation

#360 docs: ClusterIP in k8s service
  docs/src/modules/self-managed/pages/configuring.adoc
  samples/doc-snippets/standalone/service.yml
Labels: documentation

#357 adding cross reference table for available effects
  docs/src/modules/concepts/pages/declarative-effects.adoc
Labels: documentation

#348 feat: blocking timers calls for virtual threads
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
  docs/src/modules/java/pages/timed-actions.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/doc-snippets/src/main/java/com/example/application/MyConsumer.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#347 feat: virtual thread/blocking APIs for gRPC
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestJwtsGrpcServiceImpl.java
  build.sbt
  project/Common.scala
  project/SamplesCompilationProject.scala
  samples/doc-snippets/src/main/java/com/example/api/CustomerGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/CallExternalGrpcEndpointImpl.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingGrpcEndpointImpl.java
  samples/doc-snippets/src/test/java/com/example/api/ExampleGrpcEndpointTest.java
  samples/event-sourced-customer-registry-subscriber/src/main/java/customer/api/DelegateCustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/main/java/customer/api/CustomerGrpcEndpointImpl.java
  samples/event-sourced-customer-registry/src/test/java/customer/api/CustomerGrpcIntegrationTest.java
Labels: documentation, java-sdk

#366 feat: Allow injection of virtual thread executor in side-effecting components
  akka-javasdk-tests/src/test/java/akkajavasdk/components/actions/echo/EchoAction.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  samples/ask-akka-agent/src/main/resources/flat-doc/setup-and-dependency-injection.md
Labels: documentation, java-sdk

#364 docs: Add missing podcost-crd.yml to standalone docs
  docs/src/modules/self-managed/pages/configuring.adoc
  samples/doc-snippets/standalone/deployment.yml
Labels: documentation

#362 adding ask akka step 2 - indexing workflow
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ask-akka/indexer.adoc
  docs/src/modules/java/pages/ask-akka/session.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

#363 feat: blocking/virtual thread APIs for workflows
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/FraudDetectionResult.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithFraudDetection.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithoutInputs.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithDefaultRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithStepTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithoutInitialState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/hierarchy/TextWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/test/java/akka/javasdk/workflow/TestWorkflowSerialization.java
  docs/src/modules/java/pages/workflows.adoc
  project/SamplesCompilationProject.scala
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/key-value-shopping-cart/README.md
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#329 feat: retry mechanisms
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/eventsourcedentities/counter/CounterEntity.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/RetryEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/Retries.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentMethodRef1.java
  akka-javasdk/src/main/java/akka/javasdk/http/RequestBuilder.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/RetriesImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentMethodRefImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/reflection/ReflectSpec.scala
  docs/src/modules/java/pages/setup-and-dependency-injection.adoc
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
Labels: documentation, java-sdk

#345 fix: use step pause in config
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
Labels: java-sdk

#370 docs: Some improvements/alignment after virtual threads API changes
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/shopping-cart/quickstart.adoc
  samples/ask-akka-agent/src/main/resources/flat-doc/author-your-first-service.md
  samples/ask-akka-agent/src/main/resources/flat-doc/http-endpoints.md
  samples/event-sourced-counter-brokers/src/main/java/counter/application/CounterEventsConsumer.java
Labels: documentation

#371 chore: Kalix runtime cleanup
  .github/kafka.yml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  build.sbt
  project/Dependencies.scala
  updateRuntimeVersions.sh
Labels: java-sdk

#373 docs: Virtual threads migration guide
  docs/src/modules/reference/pages/migration-guide.adoc
Labels: documentation

#375 feat: create and delete methods for TimerScheduler
  akka-javasdk-tests/src/test/java/akkajavasdk/SdkIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/timer/TimerScheduler.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/timer/TimerSchedulerImpl.scala
  docs/src/modules/reference/pages/migration-guide.adoc
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/tracing/src/main/java/com/example/tracing/api/TracingEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#379 fix: align documentation with new Timer API
  docs/src/modules/java/pages/timed-actions.adoc
  samples/ask-akka-agent/src/main/resources/flat-doc/timed-actions.md
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailConsumer.java
  samples/reliable-timers/src/main/java/com/example/api/OrderEndpoint.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation

#383 docs: PodCost config
  docs/src/modules/self-managed/pages/configuring.adoc
  samples/doc-snippets/standalone/podcost-crd.yml
  samples/doc-snippets/standalone/rbac.yml
Labels: documentation

#381 docs: Release notes for runtime 1.4.8 and SDK 3.3.0
  akka-javasdk-tests/src/test/java/akkajavasdk/ViewIntegrationTest.java
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#385 docs: KVE replication leftover
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

#387 feat: support Runnable in Workflow calls
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflowWithoutInputs.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/StepBuilder.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
Labels: java-sdk

#391 fix: logging exception when executing workflow step
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

#400 docs: deployment model illustrations
  docs/src/modules/concepts/images/deployment-model_akka-platform.png
  docs/src/modules/concepts/images/deployment-model_akka-sdk.png
  docs/src/modules/concepts/images/deployment-model_self-managed.png
  docs/src/modules/concepts/pages/deployment-model.adoc
Labels: documentation

#409 fix: spec instead service
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/operations/pages/services/deploy-service.adoc
Labels: documentation

#410 chore: updating metrics description and rewording
  docs/src/modules/operations/images/dashboard-control-tower-metrics-filters-screenshot.png
  docs/src/modules/operations/images/dashboard-control-tower-metrics-screenshot.png
  docs/src/modules/operations/pages/observability-and-monitoring/metrics.adoc
Labels: documentation

#411 chore: Don't update ask-akka-agent from script
  .github/workflows/docs-prod.yml
  .github/workflows/docs-wip.yml
  docs/bin/docs2markdown.sh
Labels: documentation

#413 chore: pass the sessionId to the memory store
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
Labels: documentation

#416 add chatlio div for inserting widget
  docs/supplemental_ui/layouts/default.hbs
Labels: documentation
