Repository akka/akka-sdk, pull requests merged in 2025-07, with the labels that each got.

#713 chore: Fix some typos in akka-code-init
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

#711 docs: Document down-region
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

#714 docs: understanding index page
  docs/src/modules/concepts/pages/index.adoc
Labels: documentation

#719 docs: correct CLI version
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#723 chore: Agent single command handler in guidelines
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

#722 chore: Update llms.txt
  docs/src/modules/ROOT/pages/llms.txt
Labels: documentation

#728 bump: SDK version 3.4.1
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#730 fix: TestModelProvider should match in opposite order
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestModelProvider.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/TestModelProviderTest.java
Labels: java-sdk

#729 feat: eventing testkit should accept component class instead of component id
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/junit/jupiter/TestkitExtension.java
  docs/src/modules/java/pages/views.adoc
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterByValueViewTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterStoreUpdaterTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerStoreUpdaterTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomersByCityIntegrationTest.java
  samples/transfer-workflow/src/test/java/com/example/transfer/application/TransfersViewIntegrationTest.java
Labels: documentation, java-sdk

#721 Update to new runner and use whitelist URL
  .github/workflows/ci.yml
  .github/workflows/delete-pr-caches.yml
  .github/workflows/docs-cli-updates.yml
  .github/workflows/docs-prod.yml
  .github/workflows/docs-static.yml
  .github/workflows/docs-wip.yml
  .github/workflows/documentation.yml
  .github/workflows/fossa.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-akka-samples.yml
  .github/workflows/publish-sample-images.yml
  .github/workflows/publish.yml
  .github/workflows/update-sdk-version.yml
  CONTRIBUTING.md
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  project/Common.scala
  project/plugins.sbt
Labels: java-sdk

#725 docs: Include akka code init in getting started
  docs/src/modules/ROOT/partials/cli-install-short.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/quick-install-cli.adoc
  docs/src/modules/getting-started/pages/samples.adoc
Labels: documentation

#732 chore: Adding more tests to multi-agent sample
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/multi-agent/src/test/java/demo/multiagent/api/ActivityEndpointIntegrationTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
  samples/multi-agent/src/test/java/demo/multiagent/application/PreferencesEntityTest.java
Labels: documentation

#720 feat: auto-registration of step methods
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

#773 Adding inter-agent comms doc
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/index.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

#794 list-ids replaces list-entity-ids
  docs/src/modules/operations/pages/services/view-data.adoc
Labels: documentation

#790 fix: some more snippets width reduction
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/the-agent.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/shopping-cart/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  samples/ask-akka-agent/pom.xml
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

#764 fix: model provider config for samples
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  samples/ask-akka-agent/README.md
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/KeyUtils.java
  samples/ask-akka-agent/src/main/resources/application.conf
  samples/helloworld-agent/README.md
  samples/helloworld-agent/src/main/java/com/example/Bootstrap.java
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/application/HelloWorldAgent.java
  samples/helloworld-agent/src/main/resources/application.conf
  samples/multi-agent/README.md
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/resources/application.conf
Labels: documentation, java-sdk

#792 docs: update tutorial labels and nav structure
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

#793 docs: trim intro in author your first service
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#795 chore: add prettier-ignore for format control
  Makefile
  docs/PRETTIER_IGNORE_REMOVAL.md
  docs/bin/remove-prettier-ignore.sh
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/doc-snippets/src/test/java/com/example/MyIntegrationTest.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/application/HelloWorldAgent.java
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
  samples/spring-dependency-injection/src/main/java/com/example/CounterSetup.java
Labels: documentation

#798 cleaning up adopt and avoid table
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
Labels: documentation

#799 docs(concepts): reduce component icon size
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#800 docs(concepts): clarify distributed systems page
  docs/src/modules/concepts/pages/distributed-systems.adoc
Labels: documentation

#802 fix: Workflow inheritance test
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/hierarchy/AbstractTextKvWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/hierarchy/ITextWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/hierarchy/TextWorkflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowDescriptor.scala
Labels: java-sdk

#803 making the AI model provider config page more dev friendly
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
  docs/src/modules/java/pages/setup-and-configuration/index.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#805 Publish doc changes
  Makefile
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  docs/PRETTIER_IGNORE_REMOVAL.md
  docs/bin/remove-prettier-ignore.sh
  docs/src/modules/ROOT/pages/index.adoc
  docs/src/modules/ROOT/partials/concepts-intro.adoc
  docs/src/modules/concepts/pages/concepts.adoc
  docs/src/modules/concepts/pages/distributed-systems.adoc
  docs/src/modules/concepts/pages/inter-agent-comms.adoc
  docs/src/modules/getting-started/nav.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/rag.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/the-agent.adoc
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/samples.adoc
  docs/src/modules/getting-started/pages/shopping-cart/addview.adoc
  docs/src/modules/getting-started/pages/shopping-cart/build-and-deploy-shopping-cart.adoc
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/agents.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/model-provider-details.adoc
  docs/src/modules/java/pages/setup-and-configuration/index.adoc
  docs/src/modules/operations/pages/services/view-data.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/ask-akka-agent/README.md
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/KeyUtils.java
  samples/ask-akka-agent/src/main/resources/application.conf
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/doc-snippets/src/test/java/com/example/MyIntegrationTest.java
  samples/endpoint-jwt/src/main/java/hellojwt/api/HelloJwtEndpoint.java
  samples/helloworld-agent/README.md
  samples/helloworld-agent/src/main/java/com/example/Bootstrap.java
  samples/helloworld-agent/src/main/java/com/example/api/HelloWorldEndpoint.java
  samples/helloworld-agent/src/main/java/com/example/application/HelloWorldAgent.java
  samples/helloworld-agent/src/main/resources/application.conf
  samples/multi-agent/README.md
  samples/multi-agent/src/main/java/demo/multiagent/Bootstrap.java
  samples/multi-agent/src/main/resources/application.conf
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/application/ShoppingCartEntity.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
  samples/spring-dependency-injection/src/main/java/com/example/CounterSetup.java
Labels: documentation, java-sdk

#785 fix: wiring service class when it doesn't extend `ServiceSetup`
  .github/labeler.yml
  akka-javasdk/src/main/java/akka/javasdk/annotations/Setup.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

#810 chore(docs): move component interoperability
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#811 docs(concepts): consolidate component overview
  docs/src/modules/concepts/pages/concepts.adoc
Labels: documentation

#819 latest ui bundle, fixes alignment of elements in table cells
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/supplemental_ui/bundle/akka-theme-ui-008-bundle.zip
Labels: documentation

#820 Publish doc changes
  .github/workflows/ci.yml
  LICENSE
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/src/modules/concepts/pages/concepts.adoc
  docs/supplemental_ui/bundle/akka-theme-ui-008-bundle.zip
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/helloworld-agent/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/multi-agent/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow-orchestration/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#829 Be explicit on timer uniqueness
  docs/src/modules/java/pages/timed-actions.adoc
Labels: documentation

#816 chore: running IT for helloworld-agent sample
  .github/workflows/ci.yml
  samples/helloworld-agent/src/test/resources/application.conf
Labels: documentation

#830 adding small page on async
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/asynchronous.adoc
Labels: documentation

#832 docs: remove Automated Operations features list
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/akka-platform.adoc
  docs/src/modules/operations/pages/platform-features.adoc
Labels: documentation

#835 fix(docs): shopping-cart sample setup instructions
  docs/src/modules/ROOT/partials/create-the-empty-project.adoc
  docs/src/modules/getting-started/pages/ask-akka-agent/the-agent.adoc
  docs/src/modules/getting-started/pages/planner-agent/activity.adoc
  docs/src/modules/getting-started/pages/shopping-cart/build-and-deploy-shopping-cart.adoc
Labels: documentation
