Repository akka/akka-sdk, pull requests merged in 2025-02, with the labels that each got.

#196 fix: Actually specify an exception handler or gRPC endpoints
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

#197 feat: uniform deny codes for HTTP and gRPC endpoints
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/Acl.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/AclDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/java/akka/javasdk/testmodels/AclTestModels.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  samples/doc-snippets/src/main/java/com/example/acl/UserEndpoint.java
Labels: documentation, java-sdk

#199 chore: use capitalize from std lib
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

#193 chore: remove Any from schema evolution test samples
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/SerializationTestkit.java
  docs/src/modules/java/pages/serialization.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/event-sourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
  samples/event-sourced-customer-registry/src/test/resources/customer-created-old.json
Labels: documentation, java-sdk

#204 bump: Runtime 1.3.4
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

#203 feat: ReadOnlyEffect for KVE
  akka-javasdk-tests/src/test/java/akkajavasdk/components/keyvalueentities/user/UserEntity.java
  akka-javasdk/src/main/java/akka/javasdk/keyvalueentity/KeyValueEntity.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityEffectImpl.scala
  samples/choreography-saga-quickstart/src/main/java/user/registry/application/UniqueEmailEntity.java
  samples/key-value-counter/src/main/java/com/example/application/CounterEntity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomerEntity.java
  samples/key-value-shopping-cart/src/main/java/com/example/application/ShoppingCartEntity.java
  samples/reliable-timers/src/main/java/com/example/application/OrderEntity.java
  samples/view-store/src/main/java/store/order/application/OrderEntity.java
Labels: documentation, java-sdk

#201 feat: support JWTs for gRPC endpoints
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/JwtEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestJwtsGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/JwtDescriptorFactory.scala
  project/Dependencies.scala
Labels: java-sdk

#202 docs: A working CLI CORS-enable snippet
  docs/src/modules/operations/pages/services/invoke-service.adoc
Labels: documentation

#206 fix(docs): correct numbering in quickstart
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

#207 fix(docs): typos and formatting in quickstart
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

#205 fix: propagate custom gRPC status to client
  .github/workflows/ci.yml
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk-tests/src/test/protobuf/akkajavasdk/test_grpc_service.proto
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
Labels: java-sdk

#208 fix(docs): typo in note about push flag
  docs/src/modules/operations/pages/services/note-about-push.adoc
Labels: documentation

#215 docs(quickstart) add numbering to actionable steps
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

#213 feat: API for Server Sent Events (SSE) streaming from HTTP endpoint
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  docs/src/modules/java/pages/http-endpoints.adoc
  samples/doc-snippets/src/main/java/com/example/acl/PaymentEndpoint.java
  samples/doc-snippets/src/main/java/com/example/api/ExampleEndpoint.java
  samples/doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceEndpoint.java
  samples/doc-snippets/src/main/java/com/example/jwt/HelloJwtEndpoint.java
  samples/key-value-customer-registry/README.md
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
Labels: documentation, java-sdk

#217 docs: use multi-region, multi-cloud on index page
  docs/src/modules/ROOT/pages/index.adoc
Labels: documentation

#221 docs: Section on schema evolution
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

#214 chore: improve propagation / conversion of exceptions
  akka-javasdk-tests/src/test/java/akkajavasdk/GrpcEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/grpc/TestGrpcServiceImpl.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/GrpcEndpointDescriptorFactory.scala
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation, java-sdk

#220 docs: understanding gRPC vs HTTP endpoints
  docs/src/modules/concepts/nav.adoc
  docs/src/modules/concepts/pages/development-process.adoc
  docs/src/modules/concepts/pages/grpc-vs-http-endpoints.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

#218 chore: JwtClaims code improv
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/JwtClaimsImpl.scala
Labels: java-sdk

#222 docs: Akka CLI 3.0.12
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#224 bump: Runtime 1.3.6
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

#225 docs: disabling ACLs for integration tests
  docs/src/modules/java/pages/access-control.adoc
Labels: documentation

#200 feat: Serve static resources from endpoint
  akka-javasdk-tests/src/test/java/akkajavasdk/HttpEndpointTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/http/ResourcesEndpoint.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk-tests/src/test/resources/static-resources/images/image.gif
  akka-javasdk-tests/src/test/resources/static-resources/images/image.jpg
  akka-javasdk-tests/src/test/resources/static-resources/images/image.png
  akka-javasdk-tests/src/test/resources/static-resources/index.html
  akka-javasdk-tests/src/test/resources/static-resources/sample-pdf-file.pdf
  akka-javasdk-tests/src/test/resources/static-resources/script.js
  akka-javasdk-tests/src/test/resources/static-resources/style.css
  akka-javasdk-tests/src/test/resources/static-resources/unknown-type.zip
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/HttpEndpointDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClassPathResource.scala
  akka-javasdk/src/test/java/akka/javasdk/impl/http/TestEndpoints.java
  akka-javasdk/src/test/scala/akka/javasdk/impl/HttpEndpointDescriptorFactorySpec.scala
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/doc-snippets/src/main/java/com/example/api/StaticResourcesEndpoint.java
  samples/doc-snippets/src/main/resources/static-resources/favicon.ico
  samples/doc-snippets/src/main/resources/static-resources/images/background.png
  samples/doc-snippets/src/main/resources/static-resources/index.html
  samples/doc-snippets/src/main/resources/static-resources/style.css
Labels: documentation, java-sdk

#231 docs: fix code references for example
  docs/src/modules/java/pages/grpc-endpoints.adoc
Labels: documentation

#230 docs: fix streaming the result cross link
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/views.adoc
Labels: documentation

#232 docs: Update release notes, SDK 3.2.0, Runtime 1.3.6 etc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#229 linking shopping cart sample to github repo
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/java/pages/shopping-cart-quickstart.adoc
Labels: documentation

#234 chore: bump samples 3.2.0
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#238 chore: Cleanup kve in ViewDescriptorFactory
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
Labels: java-sdk

#237 docs(samples): add Akka Chess
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

#242 bump: Spring 6.2.3 in sample
  project/SamplesCompilationProject.scala
  samples/spring-dependency-injection/pom.xml
Labels: documentation

#240 docs: explaining 3.2.0 release notes
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#245 docs: fixing component client docs
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

#248 Release docs
  .github/workflows/update-sdk-version.yml
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/samples.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  project/SamplesCompilationProject.scala
  samples/event-sourced-counter-brokers/src/main/java/counter/api/CounterEndpoint.java
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
  samples/spring-dependency-injection/pom.xml
Labels: documentation, java-sdk

#255 chore: fail build on verify
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

#256 docs: restore missing snippet and remove all warnings
  Makefile
  docs/antora-playbook-local.yml
  docs/antora-playbook-prod.yml
  docs/src/modules/operations/pages/observability-and-monitoring/view-logs.adoc
  samples/shopping-cart-quickstart/src/main/java/shoppingcart/api/ShoppingCartEndpoint.java
Labels: documentation

#261 docs: Typo 3.4.0 in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#216 docs: component icons in architecture model page
  docs/src/modules/ROOT/images/consumer.png
  docs/src/modules/ROOT/images/endpoint.png
  docs/src/modules/ROOT/images/entity.png
  docs/src/modules/ROOT/images/event-sourced-entity.png
  docs/src/modules/ROOT/images/key-value-entity.png
  docs/src/modules/ROOT/images/service.png
  docs/src/modules/ROOT/images/timer.png
  docs/src/modules/ROOT/images/view.png
  docs/src/modules/ROOT/images/workflow.png
  docs/src/modules/concepts/pages/architecture-model.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/pages/timed-actions.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
Labels: documentation

#258 docs: Add a sample snippet to the view stream updates docs
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/views.adoc
  samples/key-value-customer-registry/README.md
  samples/key-value-customer-registry/src/main/java/customer/api/CustomerEndpoint.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByCity.java
  samples/key-value-customer-registry/src/main/java/customer/application/CustomersByName.java
Labels: documentation

#223 feat: make it possible to filter message by origin
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TimedActionTestkit.java
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/AbstractTestKitContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  akka-javasdk/src/main/java/akka/javasdk/Context.java
  akka-javasdk/src/main/java/akka/javasdk/OriginAwareContext.java
  akka-javasdk/src/main/java/akka/javasdk/consumer/MessageContext.java
  akka-javasdk/src/main/java/akka/javasdk/view/UpdateContext.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/view/ViewDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/timedaction/TimedActionImplSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/view/ViewDescriptorFactorySpec.scala
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/views.adoc
Labels: documentation, java-sdk

#239 docs: Key Value Entity replication
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/key-value-entities.adoc
  docs/src/modules/java/partials/mutli-region-replication.adoc
Labels: documentation

#241 docs: Explain new primary selection modes
  docs/src/modules/concepts/pages/deployment-model.adoc
  docs/src/modules/concepts/pages/multi-region.adoc
  docs/src/modules/concepts/pages/state-model.adoc
  docs/src/modules/operations/pages/operator-best-practices.adoc
  docs/src/modules/operations/pages/regions/index.adoc
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
Labels: documentation

#264 fix: Shutdown immediately if runtime fails
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
Labels: java-sdk

#266 feat: checking serialization in entity testkits
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EntitySerializationChecker.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedEntityEffectsRunner.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/EventSourcedTestKit.java
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/KeyValueEntityTestKit.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEvent.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/CounterEventSourcedEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/Increased.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/PolyState.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/PolyStateESE.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/eventsourced/Response.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterKeyValueEntityTest.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/CounterValueEntity.java
  akka-javasdk-testkit/src/test/java/akka/javasdk/testkit/keyvalueentity/PolyStateKVE.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UniqueEmailEntityTest.java
  samples/choreography-saga-quickstart/src/test/java/user/registry/UserEntityTest.java
  samples/event-sourced-counter-brokers/src/test/java/counter/application/CounterTest.java
  samples/event-sourced-customer-registry/src/test/java/customer/application/CustomerEntityTest.java
  samples/key-value-counter/src/test/java/com/example/CounterTest.java
  samples/key-value-customer-registry/src/test/java/customer/application/CustomerEntityTest.java
  samples/shopping-cart-quickstart/src/test/java/shoppingcart/application/ShoppingCartTest.java
  samples/view-store/src/test/java/store/customer/api/CustomerEntityTest.java
  samples/view-store/src/test/java/store/product/api/ProductEntityTest.java
Labels: documentation, java-sdk

#259 fix: Fail TestKit startup immediately if runtime validations fail
  akka-javasdk-testkit/src/main/java/akka/javasdk/testkit/TestKit.java
Labels: java-sdk

#269 docs: revise message brokers page structure
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
  docs/src/modules/java/pages/message-brokers.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/operations/nav.adoc
  docs/src/modules/operations/pages/projects/broker-aws-msk.adoc
  docs/src/modules/operations/pages/projects/message-brokers.adoc
Labels: documentation
