Repository akka/akka-sdk, pull requests merged in 2025-08, with the labels that each got.

#854 chore: Mandatory OpenAI key
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

#859 docs: other workflow samples and docs
  docs/src/modules/getting-started/pages/ask-akka-agent/indexer.adoc
  docs/src/modules/java/pages/agents.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/TransferWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
Labels: documentation

#858 fix: done deserialization
  akka-javasdk/src/main/scala/akka/javasdk/impl/serialization/JsonSerializer.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/serialization/JsonSerializationSpec.scala
Labels: java-sdk

#867 chore: run doc gen if samples are modified
  .github/workflows/documentation.yml
  samples/README.md
Labels: documentation

#865 feat: remove workflow timeout
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithDefaultRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithStepTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  docs/src/modules/java/pages/workflows.adoc
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/Bootstrap.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/FraudDetectionService.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#870 chore: renames WorflowConfig to WorkflowSettings
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithDefaultRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithRecoverStrategy.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithStepTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimeout.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/WorkflowWithTimer.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/workflow/WorkflowSettingsBuilderTest.java
  docs/src/modules/java/pages/workflows.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
  samples/doc-snippets/src/main/java/agent_guide/part4/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/ActivityAgentManager.java
  samples/doc-snippets/src/main/java/com/example/application/AgentTeamWorkflow.java
  samples/doc-snippets/src/main/java/com/example/application/TransferWorkflow.java
  samples/multi-agent/src/main/java/demo/multiagent/application/AgentTeamWorkflow.java
  samples/transfer-workflow-compensation/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#875 bump: runtime 1.5.7
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
Labels: java-sdk

#876 chore: Include empty sample in akka code init
  .github/workflows/pr-akka-samples.yml
  docs/src/modules/ROOT/attachments/akka-code-init.json
Labels: documentation

#881 fix: improving error message when running empty project
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
Labels: java-sdk

#884 fix: full telemetry context propagation
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/grpc/GrpcClientProviderImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/http/HttpClientProviderImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/SpanTracingImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
Labels: java-sdk

#894 Publish latest docs
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

#896 docs: code init with repo flag
  docs/src/modules/getting-started/pages/author-your-first-service.adoc
Labels: documentation

#908 fix: InvocationTargetException causing confusion of workflow logs
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ErrorHandling.scala
  project/Dependencies.scala
Labels: java-sdk

#914 fix: content-type fallback for cloud events in metadata
  akka-javasdk-testkit/src/main/scala/akka/javasdk/testkit/impl/EventingTestKitImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/MetadataImpl.scala
Labels: java-sdk

#904 chore: remove component tracing
  akka-javasdk/src/main/scala/akka/javasdk/impl/consumer/ConsumerImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/eventsourcedentity/EventSourcedEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/keyvalueentity/KeyValueEntityImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/timedaction/TimedActionImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
Labels: java-sdk

#882 build: skip langchain4j in docker image, add validation check for version in sample
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Common.scala
  samples/ask-akka-agent/pom.xml
Labels: documentation, java-sdk

#897 feat: Support GPT-5 maxCompletionTokens
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

#905 docs: Instructions for Claude code
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
Labels: documentation

#915 docs: add akka code init to CLI index generation
  docs/bin/generate_cli_docs.sh
  docs/src/modules/reference/pages/cli/akka-cli/cli-index-header.template.txt
  docs/src/modules/reference/pages/cli/akka-cli/index.adoc
  samples/ask-akka-agent/src/main/resources/md-docs/author-your-first-service.html.md
Labels: documentation

#916 chore: Deprecation warnings
  samples/multi-agent/src/test/java/demo/multiagent/application/ActivityViewTest.java
Labels: documentation

#924 chore: bullet point chat orchestration section
  docs/src/modules/concepts/pages/ms-agent-patterns.adoc
Labels: documentation

#927 docs: Mention MCP on endpoint design choice page
  docs/src/modules/concepts/pages/grpc-vs-http-endpoints.adoc
Labels: documentation

#928 chore: Better error handling for SSE streams
  akka-javasdk/src/main/java/akka/javasdk/http/HttpResponses.java
Labels: java-sdk

#930 build: Run sync samples manually after release
  .github/workflows/pr-akka-samples.yml
  docs/release-issue-template.md
Labels: documentation

#933 test: Model provider config
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/scala/akka/javasdk/agent/ModelProviderSpec.scala
  akka-javasdk/src/test/scala/akka/javasdk/impl/agent/ModelProviderSpec.scala
  docs/src/modules/java/pages/model-provider-details.adoc
Labels: documentation, java-sdk

#936 docs: View reference docs
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/AllTheTypesKvEntity.java
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/partials/query-syntax-advanced.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  docs/src/modules/reference/nav.adoc
  docs/src/modules/reference/pages/index.adoc
  docs/src/modules/reference/pages/views/concepts/advanced-views.adoc
  docs/src/modules/reference/pages/views/concepts/array-types.adoc
  docs/src/modules/reference/pages/views/concepts/data-types.adoc
  docs/src/modules/reference/pages/views/concepts/index.adoc
  docs/src/modules/reference/pages/views/concepts/optional-fields.adoc
  docs/src/modules/reference/pages/views/concepts/pagination.adoc
  docs/src/modules/reference/pages/views/concepts/result-mapping.adoc
  docs/src/modules/reference/pages/views/concepts/table-updaters.adoc
  docs/src/modules/reference/pages/views/index.adoc
  docs/src/modules/reference/pages/views/syntax/as.adoc
  docs/src/modules/reference/pages/views/syntax/from.adoc
  docs/src/modules/reference/pages/views/syntax/functions/collect.adoc
  docs/src/modules/reference/pages/views/syntax/functions/count.adoc
  docs/src/modules/reference/pages/views/syntax/functions/distinct.adoc
  docs/src/modules/reference/pages/views/syntax/functions/has-more.adoc
  docs/src/modules/reference/pages/views/syntax/functions/index.adoc
  docs/src/modules/reference/pages/views/syntax/functions/next-page-token.adoc
  docs/src/modules/reference/pages/views/syntax/functions/page-token-offset.adoc
  docs/src/modules/reference/pages/views/syntax/functions/text-search.adoc
  docs/src/modules/reference/pages/views/syntax/functions/total-count.adoc
  docs/src/modules/reference/pages/views/syntax/group-by.adoc
  docs/src/modules/reference/pages/views/syntax/index.adoc
  docs/src/modules/reference/pages/views/syntax/join.adoc
  docs/src/modules/reference/pages/views/syntax/limit.adoc
  docs/src/modules/reference/pages/views/syntax/offset.adoc
  docs/src/modules/reference/pages/views/syntax/operators/any.adoc
  docs/src/modules/reference/pages/views/syntax/operators/comparison.adoc
  docs/src/modules/reference/pages/views/syntax/operators/in.adoc
  docs/src/modules/reference/pages/views/syntax/operators/index.adoc
  docs/src/modules/reference/pages/views/syntax/operators/is-null.adoc
  docs/src/modules/reference/pages/views/syntax/operators/like.adoc
  docs/src/modules/reference/pages/views/syntax/operators/logical.adoc
  docs/src/modules/reference/pages/views/syntax/order-by.adoc
  docs/src/modules/reference/pages/views/syntax/query.adoc
  docs/src/modules/reference/pages/views/syntax/select.adoc
  docs/src/modules/reference/pages/views/syntax/where.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
  samples/view-store/src/main/java/store/order/domain/Order.java
  samples/view-store/src/main/java/store/order/view/joined/CustomerOrder.java
  samples/view-store/src/main/java/store/order/view/joined/JoinedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/nested/CustomerOrder.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrders.java
  samples/view-store/src/main/java/store/order/view/nested/NestedCustomerOrdersView.java
  samples/view-store/src/main/java/store/order/view/structured/CustomerShipping.java
  samples/view-store/src/main/java/store/order/view/structured/ProductOrder.java
  samples/view-store/src/main/java/store/order/view/structured/ProductValue.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrders.java
  samples/view-store/src/main/java/store/order/view/structured/StructuredCustomerOrdersView.java
  samples/view-store/src/main/java/store/product/domain/Money.java
  samples/view-store/src/main/java/store/product/domain/Product.java
Labels: documentation
