Repository akka/akka-sdk, pull requests merged in 2025-05, with the labels that each got.

#418 fix: typo helloword
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

#419 build: sed syntax in docs2markdown.sh
  docs/bin/docs2markdown.sh
Labels: documentation

#422 chore: bump SDK versions to 3.3.1
  akka-javasdk-maven/akka-javasdk-archetype/pom.xml
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-maven/pom.xml
  samples/ask-akka-agent/pom.xml
  samples/choreography-saga-quickstart/pom.xml
  samples/doc-snippets/pom.xml
  samples/endpoint-jwt/pom.xml
  samples/event-sourced-counter-brokers/pom.xml
  samples/event-sourced-customer-registry-subscriber/pom.xml
  samples/event-sourced-customer-registry/pom.xml
  samples/key-value-counter/pom.xml
  samples/key-value-customer-registry/pom.xml
  samples/key-value-shopping-cart/pom.xml
  samples/reliable-timers/pom.xml
  samples/shopping-cart-quickstart/pom.xml
  samples/shopping-cart-with-view/pom.xml
  samples/spring-dependency-injection/pom.xml
  samples/tracing/pom.xml
  samples/transfer-workflow-compensation/pom.xml
  samples/transfer-workflow/pom.xml
  samples/view-store/pom.xml
Labels: documentation, java-sdk

#423 docs: Release notes for SDK 3.3.1
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#404 docs: llms.txt
  .github/workflows/docs-prod.yml
  .github/workflows/docs-wip.yml
  .gitignore
  docs/bin/docs2markdown.sh
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

#429 Publish latest docs
  .github/workflows/docs-prod.yml
  .github/workflows/docs-wip.yml
  .github/workflows/pr-akka-samples.yml
  .gitignore
  docs/bin/docs2markdown.sh
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ask-akka/endpoints.adoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UiEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UsersEndpoint.java
Labels: documentation

#436 docs: Akka 25.05 release notes
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

#438 Publish release notes
  Makefile
  docs/src/modules/reference/pages/cli/akka-cli/akka_local_console.adoc
  docs/src/modules/reference/pages/release-notes.adoc
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

#439 Update drop-down-get-started.hbs
  docs/supplemental_ui/partials/drop-down-get-started.hbs
Labels: documentation

#440 Publish doc changes
  docs/supplemental_ui/partials/drop-down-get-started.hbs
Labels: documentation

#442 docs: small improvements in KV page
  docs/src/modules/java/pages/key-value-entities.adoc
  samples/key-value-counter/src/main/java/com/example/application/CounterEntity.java
Labels: documentation

#443 chore: llm guidelines for views
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
Labels: documentation

#445 fix: typo in javadoc
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/UiEndpoint.java
Labels: documentation

#448 docs: Small typo in static resource section
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

#434 Auto PR - Akka Runtime version 1.4.11
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  project/Dependencies.scala
Labels: java-sdk

#450 chore: runtime bump + akka deps
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

#453 docs: Runtime 1.4.11 in release notes
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#451 bump: Langchain4j 1.0.0 dependendency
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/common/OpenAiUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/indexer/application/RagIndexingWorkflow.java
Labels: documentation

#454 docs: cross link securing endpoints
  docs/src/modules/java/pages/grpc-endpoints.adoc
  docs/src/modules/java/pages/http-endpoints.adoc
Labels: documentation

#452 feat: First minimal Agent
  akka-javasdk-annotation-processor/src/main/java/akka/javasdk/tooling/processor/ComponentAnnotationProcessor.java
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/annotations/AgentDescription.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentException.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/reflection/Reflect.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/telemetry/Telemetry.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  akka-javasdk/src/test/java/akka/javasdk/client/ComponentClientTest.java
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation, java-sdk

#401 feat: workflow delete effect
  akka-javasdk-tests/src/test/java/akkajavasdk/WorkflowTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/views/TransferView.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/DummyTransferStore.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferConsumer.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferState.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/workflowentities/TransferWorkflow.java
  akka-javasdk/src/main/java/akka/javasdk/workflow/Workflow.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/ReflectiveWorkflowRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/workflow/WorkflowImpl.scala
  docs/src/modules/java/pages/consuming-producing.adoc
  docs/src/modules/java/pages/workflows.adoc
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferStateConsumer.java
  samples/transfer-workflow/src/main/java/com/example/transfer/application/TransferWorkflow.java
Labels: documentation, java-sdk

#388 docs: Add more AI samples
  docs/src/modules/java/pages/samples.adoc
Labels: documentation

#456 feat: Real agent implementation
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
  samples/ask-akka-agent/src/main/resources/application.conf
  samples/ask-akka-agent/src/main/resources/include-dev-loggers.xml
Labels: documentation, java-sdk

#463 feat: Mandatory sessionId
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk/src/main/java/akka/javasdk/agent/AgentContext.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClient.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/java/akka/javasdk/client/ComponentClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ComponentClientImpl.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
Labels: documentation, java-sdk

#466 feat: Add knowledge to the user message (RAG)
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/Knowledge.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: documentation

#464 chore: Rename modelProvider to model in the effect builder
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: documentation, java-sdk

#467 docs: add ap-jdbc #904 to release notes
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

#468 docs: add ap-jdbc #904 to release notes (#467)
  docs/src/modules/reference/pages/release-notes/2025-05-06-akka-25.05-released.adoc
Labels: documentation

#470 docs: service descriptor runtime field
  docs/src/modules/reference/pages/descriptors/service-descriptor.adoc
Labels: documentation

#465 feat: string format support for templates
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/PromptTemplate.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk

#473 docs: AI coding assistant instructions
  docs/bin/docs2markdown.sh
  docs/src/modules/ROOT/pages/llms.txt
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/ai-coding-assistant-guidelines.adoc
  docs/src/modules/java/pages/ai-coding-assistant.adoc
  docs/styles/config/vocabularies/Akka/accept.txt
Labels: documentation

#474 chore: runtime bump + akka deps (#450)
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: java-sdk

#478 docs: clarify required role for region assignment
  docs/src/modules/operations/pages/organizations/manage-users.adoc
  docs/src/modules/operations/pages/regions/index.adoc
Labels: documentation

#477 docs: Release notes for SDK 3.3.2
  docs/src/modules/reference/pages/release-notes.adoc
Labels: documentation

#457 feat: add conversation memory
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/SdkRunner.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  project/Dependencies.scala
Labels: java-sdk

#469 feat: mapping response
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStructureResponseAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/JsonParsingException.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/test/java/akka/javasdk/agent/DummyAgent.java
  project/Dependencies.scala
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
Labels: documentation, java-sdk

#483 docs: open local console link in a new tab
  docs/src/modules/java/pages/author-your-first-service.adoc
Labels: documentation

#472 feat: Response as token stream
  akka-javasdk-maven/akka-javasdk-parent/pom.xml
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/AgentIntegrationTest.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/SomeStreamingAgent.java
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/TestModelProvider.java
  akka-javasdk-tests/src/test/resources/META-INF/akka-javasdk-components.conf
  akka-javasdk/src/main/java/akka/javasdk/agent/Agent.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ModelProvider.java
  akka-javasdk/src/main/java/akka/javasdk/client/AgentClientInSession.java
  akka-javasdk/src/main/scala/akka/javasdk/impl/ComponentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/Validations.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentDescriptorFactory.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentStreamEffectImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/ReflectiveAgentRouter.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/AgentClientImpl.scala
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/ViewCallValidator.scala
  project/Dependencies.scala
  samples/ask-akka-agent/pom.xml
  samples/ask-akka-agent/src/main/java/akka/ask/Bootstrap.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/api/AskHttpEndpoint.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AkkaStreamUtils.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/AskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/ConversationHistoryView.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/NewAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/SessionEntity.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StreamedResponse.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/application/StructuredAskAkkaAgent.java
  samples/ask-akka-agent/src/main/java/akka/ask/agent/domain/SessionEvent.java
Labels: documentation, java-sdk

#486 Fix comment typo in EntityClientImpl
  akka-javasdk/src/main/scala/akka/javasdk/impl/client/EntityClientImpl.scala
Labels: java-sdk, codex

#487 feat(agent): limit memory by byte size instead of number of msgs
  akka-javasdk-tests/src/test/java/akkajavasdk/components/agent/ConversationMemoryTest.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationHistory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMemory.java
  akka-javasdk/src/main/java/akka/javasdk/agent/ConversationMessage.java
  akka-javasdk/src/main/java/akka/javasdk/agent/CoreMemory.java
  akka-javasdk/src/main/java/akka/javasdk/impl/agent/CoreMemoryClient.java
  akka-javasdk/src/main/resources/reference.conf
  akka-javasdk/src/main/scala/akka/javasdk/impl/agent/AgentImpl.scala
Labels: java-sdk
